
/*	==========================================================================
	#ALINEACIONES TEXTO
	========================================================================== */	
		

	textAlignment = (".text-center" "text-align" "center") (".text-justify" "text-align" "justify") (".text-left" "text-align" "left") (".text-right" "text-align" "right")
	
	+responsive(false, textAlignment)
		// Alineaciones de texto	
	





/*	==========================================================================
	#FLOAT
	========================================================================== */	
	
	floatment = (".left" "float" "left") (".right" "float" "right") (".none" "float" "none") (".both" "clear" "both") (".center" "display" "block" "margin-left" "auto" "margin-right" "auto")
		
	+responsive(false, floatment)
		// Alineaciones de texto	
	





/*	==========================================================================
	#VERTICAL ALIGN
	========================================================================== */	
	
	.v-middle
		vertical-align middle
	.v-baseline
		vertical-align unquote("baseline")
	.v-sub
		vertical-align sub
	.v-super
		vertical-align super
	.v-top
		vertical-align top
	.v-text-top
		vertical-align text-top
	.v-bottom
		vertical-align bottom
	.v-text-bottom
		vertical-align text-bottom







		





	