/**
	==========================================================================
	#BUTTONS
	========================================================================== 
	*
	* CONTENTS
	*
	*
	* BUTTON 1
	* 	General..............Button elements.
	* 	States...............Button elements.
	* 	Tamaños..............Button elements.
	*
	* BUTTON 2
	* 	General..............Button elements.
	* 	States...............Button elements.
	* 	Tamaños..............Button elements.
	*/
	



/* falta responsive y tamaños */





/*	==========================================================================
	#BUTTON 1
	========================================================================== */ 
	
	.button
		
		// Estilos generales.
		display 			 inline-block
		position 			 relative 
		cursor 				 pointer
		z-index 			 9
		text-align 			 center
		

		// typographic configuration.
		if button["text"]["font-family"]
			font-family: button["text"]["font-family"]
			
		if button["text"]["font-size"]
			font-size: button["text"]["font-size"]
			
		if button["text"]["font-style"]
			font-style: button["text"]["font-style"]
			
		if button["text"]["line-height"]
			line-height: button["text"]["line-height"]
			
		if button["text"]["font-weight"]
			font-weight: button["text"]["font-weight"]
			
		if button["text"]["letter-spacing"] || button["text"]["letter-spacing"] == 0
			letter-spacing: button["text"]["letter-spacing"]
			
		if button["text"]["color"]
			color: button["text"]["color"]
			
		if button["text"]["text-shadow"]
			text-shadow: button["text"]["text-shadow"]
			
		// Space configuration.
		if button["box-model"]["padding"] || button["box-model"]["padding"] == 0
			padding :      button["box-model"]["padding"]
			
		if button["box-model"]["margin"] || button["box-model"]["margin"] == 0
			margin :        button["box-model"]["margin"]
			
		if button["box-model"]["box-shadow"]
			box-shadow :       button["box-model"]["box-shadow"]
		
		// Visual config.
		if button["visual"]["border-radius"] 
			border-radius :      button["visual"]["border-radius"] 
			
		if button["visual"]["background-gradient"]
			background :      button["visual"]["background-gradient"]
			
		if button["visual"]["background-color"]
			background-color :        button["visual"]["background-color"]
			
		if button["visual"]["border"]
			border :       button["visual"]["border"]
			




		if button["hover"]["speed"]
			transicion(button["hover"]["speed"])

		&:hover
		/.button__hover:hover .button
			if button["hover"]["background-gradient"]
				background :       button["hover"]["background-gradient"]
				
			if button["hover"]["background-color"]
				background-color :       button["hover"]["background-color"]
				
			if button["hover"]["color"]
				color :       button["hover"]["color"]
				

		&:active	
			
			if button["active"]["background-gradient"]
				background: button["active"]["background-gradient"]
			else if button["active"]["sameAsHover"] && button["hover"]["background-gradient"]
				background: button["hover"]["background-gradient"]
				
			if button["active"]["background-color"]
				backgroun-color: button["active"]["background-color"]
			else if button["active"]["sameAsHover"] && button["hover"]["background-color"]
				backgroun-color: button["hover"]["background-color"]
				
			if button["active"]["color"]
				color: button["active"]["color"]
			else if button["active"]["sameAsHover"] && button["hover"]["color"]
				color: button["hover"]["color"]
		
		

		// Extra info
		if extraInfo()
			extraInfo()
	
	













	.button--secondary
		// Estilos generales.
		display 			 inline-block
		position 			 relative 
		cursor 				 pointer
		z-index 			 9
		text-align 			 center
		

		// typographic configuration.
		if button2["text"]["font-family"]
			font-family: button2["text"]["font-family"]
		else if button2["textAsButton1"] && button["text"]["font-family"]
			font-family: button["text"]["font-family"]
			
		if button2["text"]["font-size"]
			font-size: button2["text"]["font-size"]
		else if button2["textAsButton1"] && button["text"]["font-size"]
			font-size: button["text"]["font-size"]
			
		if button2["text"]["font-style"]
			font-style: button2["text"]["font-style"]
		else if button2["textAsButton1"] && button["text"]["font-style"]
			font-style: button["text"]["font-style"]
			
		if button2["text"]["line-height"]
			line-height: button2["text"]["line-height"]
		else if button2["textAsButton1"] && button["text"]["line-height"]
			line-height: button["text"]["line-height"]
			
		if button2["text"]["font-weight"] 
			font-weight: button2["text"]["font-weight"]
		else if button2["textAsButton1"] && button["text"]["font-weight"]
			font-weight: button["text"]["font-weight"]
			
		if button2["text"]["letter-spacing"] || button2["text"]["letter-spacing"] == 0
			letter-spacing: button2["text"]["letter-spacing"]
		else if button2["textAsButton1"] && (button["text"]["letter-spacing"] || button["text"]["letter-spacing"] == 0)
			letter-spacing: button["text"]["letter-spacing"]
			
		if button2["text"]["color"]
			color: button2["text"]["color"]
		else if button2["textAsButton1"] && button["text"]["color"]
			color: button["text"]["color"]
			
		if button2["text"]["text-shadow"]
			text-shadow: button2["text"]["text-shadow"]
		else if button2["textAsButton1"] && button["text"]["text-shadow"]
			text-shadow: button["text"]["text-shadow"]
			
		
			
		// Space configuration.
		if button2["box-model"]["padding"] || button2["box-model"]["padding"] == 0
			padding: button2["box-model"]["padding"]
		else if button2["boxAsButton1"] && (button["box-model"]["padding"] || button["box-model"]["padding"] == 0)
			padding: button["box-model"]["padding"]
			
		if button2["box-model"]["margin"] || button2["box-model"]["margin"] == 0
			margin: button2["box-model"]["margin"]
		else if button2["boxAsButton1"] && (button["box-model"]["margin"] || button["box-model"]["margin"] == 0)
			margin: button["box-model"]["margin"]
			
		if button2["box-model"]["box-shadow"]
			box-shadow: button2["box-model"]["box-shadow"]
		else if button2["boxAsButton1"] && button["box-model"]["box-shadow"]
			box-shadow: button["box-model"]["box-shadow"]

		
		
		// Visual config.
		if button2["visual"]["border-radius"]
			border-radius: button2["visual"]["border-radius"]
		else if button2["visualAsButton1"] && button["visual"]["border-radius"]
			border-radius: button["visual"]["border-radius"]
			
		if button2["visual"]["background-gradient"]
			background: button2["visual"]["background-gradient"]
		else if button2["visualAsButton1"] && button["visual"]["background-gradient"]
			background: button["visual"]["background-gradient"]
		
		if button2["visual"]["background-color"]
			background-color: button2["visual"]["background-color"]
		else if button2["visualAsButton1"] && button["visual"]["background-color"]
			background-color: button["visual"]["background-color"]
			
		if button2["visual"]["border"]
			border: button2["visual"]["border"]
		else if button2["visualAsButton1"] && button["visual"]["border"]
			border: button["visual"]["border"]
			



		if button2["hover"]["speed"]
			transicion(button2["hover"]["speed"])
		else if button2["hoverAsButton1"] && button["hover"]["speed"]
			transicion(button["hover"]["speed"])
			



	

		&:hover
			if button2["hover"]["background-gradient"]
				background: button2["hover"]["background-gradient"]
			else if button2["hoverAsButton1"] && button["hover"]["background-gradient"]
				background: button["hover"]["background-gradient"]
				
			if button2["hover"]["background-color"]
				background-color: button2["hover"]["background-color"]
			else if button2["hoverAsButton1"] && button["hover"]["background-color"]
				background-color: button["hover"]["background-color"]
				
			if button2["hover"]["color"]
				color: button2["hover"]["color"]
			else if button2["hoverAsButton1"] && button["hover"]["color"]
				color: button["hover"]["color"]


			
				

		&:active	
			
			if button2["active"]["background-gradient"]
				background: button2["active"]["background-gradient"]
			else if button2["active"]["sameAsHover"] && button2["hover"]["background-gradient"]
				background: button2["hover"]["background-gradient"]
			else if button2["activeAsButton1"] && button["active"]["background-gradient"]
				background: button["active"]["background-gradient"]
			else if button2["activeAsButton1"] && button["active"]["sameAsHover"] && button["hover"]["background-gradient"]
				background: button["hover"]["background-gradient"]
				

			if button2["active"]["background-color"]
				background-color : button2["active"]["background-color"]
			else if button2["active"]["sameAsHover"] && button2["hover"]["background-color"]
				background-color : button2["hover"]["background-color"]
			else if button2["activeAsButton1"] && button["active"]["background-color"]
				background-color : button["active"]["background-color"]
			else if button2["activeAsButton1"] && button["active"]["sameAsHover"] && button["hover"]["background-color"]
				background-color : button["hover"]["background-color"]
				

			if button2["active"]["color"]
				color : button2["active"]["color"]
			else if button2["active"]["sameAsHover"] && button2["hover"]["color"]
				color : button2["hover"]["color"]
			else if button2["activeAsButton1"] && button["active"]["color"]
				color : button["active"]["color"]
			else if button2["activeAsButton1"] && button["active"]["sameAsHover"] && button["hover"]["color"]
				color : button["hover"]["color"]
					

		// Extra info
		if extraInfo2()
			extraInfo2()
	

		

















	
	if buttonResponsive["minMH"]["active"]
		@media screen and (min-width: minMH)
		
			.button
				if buttonResponsive["minMH"]["font-size"]
					font-size: buttonResponsive["minMH"]["font-size"]
				if buttonResponsive["minMH"]["line-height"]
							line-height: buttonResponsive["minMH"]["line-height"]
				if buttonResponsive["minMH"]["padding"] || buttonResponsive["minMH"]["padding"] == 0
							padding: buttonResponsive["minMH"]["padding"]
				if buttonResponsive["minMH"]["margin"] || buttonResponsive["minMH"]["margin"] == 0
							margin: buttonResponsive["minMH"]["margin"]
	


	if buttonResponsive["minTV"]["active"]
		@media screen and (min-width: minTV)
		
			.button
				if buttonResponsive["minTV"]["font-size"]
					font-size: buttonResponsive["minTV"]["font-size"]
				if buttonResponsive["minTV"]["line-height"]
							line-height: buttonResponsive["minTV"]["line-height"]
				if buttonResponsive["minTV"]["padding"] || buttonResponsive["minTV"]["padding"] == 0
							padding: buttonResponsive["minTV"]["padding"]
				if buttonResponsive["minTV"]["margin"] || buttonResponsive["minTV"]["margin"] == 0
							margin: buttonResponsive["minTV"]["margin"]
							



	if buttonResponsive["minTH"]["active"]
		@media screen and (min-width: minTH)
		
			.button
				if buttonResponsive["minTH"]["font-size"]
					font-size: buttonResponsive["minTH"]["font-size"]
				if buttonResponsive["minTH"]["line-height"]
							line-height: buttonResponsive["minTH"]["line-height"]
				if buttonResponsive["minTH"]["padding"] || buttonResponsive["minTH"]["padding"] == 0
							padding: buttonResponsive["minTH"]["padding"]
				if buttonResponsive["minTH"]["margin"] || buttonResponsive["minTH"]["margin"] == 0
							margin: buttonResponsive["minTH"]["margin"]
	

	if buttonResponsive["minLAP"]["active"]
		@media screen and (min-width: minLAP)
		
			.button
				if buttonResponsive["minLAP"]["font-size"]
					font-size: buttonResponsive["minLAP"]["font-size"]
				if buttonResponsive["minLAP"]["line-height"]
							line-height: buttonResponsive["minLAP"]["line-height"]
				if buttonResponsive["minLAP"]["padding"] || buttonResponsive["minLAP"]["padding"] == 0
							padding: buttonResponsive["minLAP"]["padding"]
				if buttonResponsive["minLAP"]["margin"] || buttonResponsive["minLAP"]["margin"] == 0
							margin: buttonResponsive["minLAP"]["margin"]
							


	if buttonResponsive["minDESK"]["active"]
		@media screen and (min-width: minDESK)
		
			.button
				if buttonResponsive["minDESK"]["font-size"]
					font-size: buttonResponsive["minDESK"]["font-size"]
				if buttonResponsive["minDESK"]["line-height"]
							line-height: buttonResponsive["minDESK"]["line-height"]
				if buttonResponsive["minDESK"]["padding"] || buttonResponsive["minDESK"]["padding"] == 0
							padding: buttonResponsive["minDESK"]["padding"]
				if buttonResponsive["minDESK"]["margin"] || buttonResponsive["minDESK"]["margin"] == 0
							margin: buttonResponsive["minDESK"]["margin"]
							



















	if button2Responsive["minMH"]["active"]
		@media screen and (min-width: minMH)
		
			.button--secondary
				if button2Responsive["minMH"]["font-size"]
					font-size: button2Responsive["minMH"]["font-size"]
				else if button2["textAsButton1"] && buttonResponsive["minMH"]["font-size"]
					font-size: buttonResponsive["minMH"]["font-size"]
					
				if button2Responsive["minMH"]["line-height"]
					line-height: button2Responsive["minMH"]["line-height"]
				else if button2["textAsButton1"] && buttonResponsive["minMH"]["line-height"]
					line-height: buttonResponsive["minMH"]["line-height"]
					
				if button2Responsive["minMH"]["padding"] || button2Responsive["minMH"]["padding"] == 0
					padding: button2Responsive["minMH"]["padding"]
				else if button2["boxAsButton1"] && (buttonResponsive["minMH"]["padding"] || buttonResponsive["minMH"]["padding"] == 0)
					padding: buttonResponsive["minMH"]["padding"]
					
				if button2Responsive["minMH"]["margin"] || button2Responsive["minMH"]["margin"] == 0
					margin: button2Responsive["minMH"]["margin"]
				else if button2["boxAsButton1"] && (buttonResponsive["minMH"]["margin"] || buttonResponsive["minMH"]["margin"] == 0)
					margin: buttonResponsive["minMH"]["margin"]
	


	if button2Responsive["minTV"]["active"]
		@media screen and (min-width: minTV)
		
			.button--secondary
				if button2Responsive["minTV"]["font-size"]
					font-size: button2Responsive["minTV"]["font-size"]
				else if button2["textAsButton1"] && buttonResponsive["minTV"]["font-size"]
					font-size: buttonResponsive["minTV"]["font-size"]
					
				if button2Responsive["minTV"]["line-height"]
					line-height: button2Responsive["minTV"]["line-height"]
				else if button2["textAsButton1"] && buttonResponsive["minTV"]["line-height"]
					line-height: buttonResponsive["minTV"]["line-height"]
					
				if button2Responsive["minTV"]["padding"] || button2Responsive["minTV"]["padding"] == 0
					padding: button2Responsive["minTV"]["padding"]
				else if button2["boxAsButton1"] && (buttonResponsive["minTV"]["padding"] || buttonResponsive["minTV"]["padding"] == 0)
					padding: buttonResponsive["minTV"]["padding"]
					
				if button2Responsive["minTV"]["margin"] || button2Responsive["minTV"]["margin"] == 0
					margin: button2Responsive["minTV"]["margin"]
				else if button2["boxAsButton1"] && (buttonResponsive["minTV"]["margin"] || buttonResponsive["minTV"]["margin"] == 0)
					margin: buttonResponsive["minTV"]["margin"]
	


	if button2Responsive["minTH"]["active"]
		@media screen and (min-width: minTH)
		
			.button--secondary
				if button2Responsive["minTH"]["font-size"]
					font-size: button2Responsive["minTH"]["font-size"]
				else if button2["textAsButton1"] && buttonResponsive["minTH"]["font-size"]
					font-size: buttonResponsive["minTH"]["font-size"]
					
				if button2Responsive["minTH"]["line-height"]
					line-height: button2Responsive["minTH"]["line-height"]
				else if button2["textAsButton1"] && buttonResponsive["minTH"]["line-height"]
					line-height: buttonResponsive["minTH"]["line-height"]
					
				if button2Responsive["minTH"]["padding"] || button2Responsive["minTH"]["padding"] == 0
					padding: button2Responsive["minTH"]["padding"]
				else if button2["boxAsButton1"] && (buttonResponsive["minTH"]["padding"] || buttonResponsive["minTH"]["padding"] == 0)
					padding: buttonResponsive["minTH"]["padding"]
					
				if button2Responsive["minTH"]["margin"] || button2Responsive["minTH"]["margin"] == 0
					margin: button2Responsive["minTH"]["margin"]
				else if button2["boxAsButton1"] && (buttonResponsive["minTH"]["margin"] || buttonResponsive["minTH"]["margin"] == 0)
					margin: buttonResponsive["minTH"]["margin"]
	


	

	if button2Responsive["minTH"]["active"]
		@media screen and (min-width: minTH)
		
			.button--secondary
				if button2Responsive["minTH"]["font-size"]
					font-size: button2Responsive["minTH"]["font-size"]
				else if button2["textAsButton1"] && buttonResponsive["minTH"]["font-size"]
					font-size: buttonResponsive["minTH"]["font-size"]
					
				if button2Responsive["minTH"]["line-height"]
					line-height: button2Responsive["minTH"]["line-height"]
				else if button2["textAsButton1"] && buttonResponsive["minTH"]["line-height"]
					line-height: buttonResponsive["minTH"]["line-height"]
					
				if button2Responsive["minTH"]["padding"] || button2Responsive["minTH"]["padding"] == 0
					padding: button2Responsive["minTH"]["padding"]
				else if button2["boxAsButton1"] && (buttonResponsive["minTH"]["padding"] || buttonResponsive["minTH"]["padding"] == 0)
					padding: buttonResponsive["minTH"]["padding"]
					
				if button2Responsive["minTH"]["margin"] || button2Responsive["minTH"]["margin"] == 0
					margin: button2Responsive["minTH"]["margin"]
				else if button2["boxAsButton1"] && (buttonResponsive["minTH"]["margin"] || buttonResponsive["minTH"]["margin"] == 0)
					margin: buttonResponsive["minTH"]["margin"]
	







	if button2Responsive["minLAP"]["active"]
		@media screen and (min-width: minLAP)
		
			.button--secondary
				if button2Responsive["minLAP"]["font-size"]
					font-size: button2Responsive["minLAP"]["font-size"]
				else if button2["textAsButton1"] && buttonResponsive["minLAP"]["font-size"]
					font-size: buttonResponsive["minLAP"]["font-size"]
					
				if button2Responsive["minLAP"]["line-height"]
					line-height: button2Responsive["minLAP"]["line-height"]
				else if button2["textAsButton1"] && buttonResponsive["minLAP"]["line-height"]
					line-height: buttonResponsive["minLAP"]["line-height"]
					
				if button2Responsive["minLAP"]["padding"] || button2Responsive["minLAP"]["padding"] == 0
					padding: button2Responsive["minLAP"]["padding"]
				else if button2["boxAsButton1"] && (buttonResponsive["minLAP"]["padding"] || buttonResponsive["minLAP"]["padding"] == 0)
					padding: buttonResponsive["minLAP"]["padding"]
					
				if button2Responsive["minLAP"]["margin"] || button2Responsive["minLAP"]["margin"] == 0
					margin: button2Responsive["minLAP"]["margin"]
				else if button2["boxAsButton1"] && (buttonResponsive["minLAP"]["margin"] || buttonResponsive["minLAP"]["margin"] == 0)
					margin: buttonResponsive["minLAP"]["margin"]
	






	if button2Responsive["minDESK"]["active"]
		@media screen and (min-width: minDESK)
		
			.button--secondary
				if button2Responsive["minDESK"]["font-size"]
					font-size: button2Responsive["minDESK"]["font-size"]
				else if button2["textAsButton1"] && buttonResponsive["minDESK"]["font-size"]
					font-size: buttonResponsive["minDESK"]["font-size"]
					
				if button2Responsive["minDESK"]["line-height"]
					line-height: button2Responsive["minDESK"]["line-height"]
				else if button2["textAsButton1"] && buttonResponsive["minDESK"]["line-height"]
					line-height: buttonResponsive["minDESK"]["line-height"]
					
				if button2Responsive["minDESK"]["padding"] || button2Responsive["minDESK"]["padding"] == 0
					padding: button2Responsive["minDESK"]["padding"]
				else if button2["boxAsButton1"] && (buttonResponsive["minDESK"]["padding"] || buttonResponsive["minDESK"]["padding"] == 0)
					padding: buttonResponsive["minDESK"]["padding"]
					
				if button2Responsive["minDESK"]["margin"] || button2Responsive["minDESK"]["margin"] == 0
					margin: button2Responsive["minDESK"]["margin"]
				else if button2["boxAsButton1"] && (buttonResponsive["minDESK"]["margin"] || buttonResponsive["minDESK"]["margin"] == 0)
					margin: buttonResponsive["minDESK"]["margin"]
	