/**
	==========================================================================
	#HELPERS
	========================================================================== 
	*
	* CONTENTS
	* 
	* HELPERS
	* 	Color texto...........
	* 	Color fondo...........
	*/



	
		



/*	==========================================================================
	#COLOR TEXTO
	========================================================================== */
	

	textColors = {
		"w": whiteColor,
		"b": blackColor,
		"m": mainColor,
		"s": secondaryColor,
		"success":      colorSuccess,
		"error":        colorError,
		"notification": colorNotification,
	}
	
	colorIndex = keys(textColors)
	





/*	==========================================================================
	#COLOR TEXTO
	========================================================================== */
		
	.all-w	
		p, h1, h2, h3, h4, h5, h6, li, a, i 
			color whiteColor		
		

	for item in colorIndex
		.c-{item}
			color: textColors[item] !important
		.ch-{item}:hover
			color: textColors[item] !important
		.bg-{item}
			background-color: textColors[item] !important
		.bgh-{item}:hover
			background-color: textColors[item] !important


	for n in range(1,20)
		if lookup('palette' + n)
			.c-{n}
				color lookup('palette' + n) !important
			.ch-{n}:hover
				color lookup('palette' + n) !important
			.bg-{n}
				background-color lookup('palette' + n) !important
			.bgh-{n}:hover
				background-color lookup('palette' + n) !important
				




