/*	==========================================================================
	Móvil vertical
	========================================================================== */

	if gridMV

		// clases para MV
		.only-{classMV},
		.only-{classMV}-block
			display block
		.only-{classMV}-inline
			display inline
		.only-{classMV}-inblock
			display inline-block
		.only-{classMV}-table
			display table
		.only-{classMV}-cell
			display table-cell
			
		.not-{classMV},
		.not-{classMV}-block,
		.not-{classMV}-inline,
		.not-{classMV}-inblock,
		.not-{classMV}-table,
		.not-{classMV}-cell
			display none
			


		// Si MH existe
		if gridMH
			
			.from-{classMH},
			.from-{classMH}-block,
			.from-{classMH}-inline,
			.from-{classMH}-inblock,
			.from-{classMH}-table,
			.from-{classMH}-cell,
			.only-{classMH},
			.only-{classMH}-block,
			.only-{classMH}-inline,
			.only-{classMH}-inblock,
			.only-{classMH}-table,
			.only-{classMH}-cell
				display none
		
		// Si TV existe
		if gridTV
			.from-{classTV},
			.from-{classTV}-block,
			.from-{classTV}-inline,
			.from-{classTV}-inblock,
			.from-{classTV}-table,
			.from-{classTV}-cell,
			.only-{classTV},
			.only-{classTV}-block,
			.only-{classTV}-inline,
			.only-{classTV}-inblock,
			.only-{classTV}-table,
			.only-{classTV}-cell
				display none
		
		// Si TH existe
		if gridTH
			.from-{classTH},
			.from-{classTH}-block,
			.from-{classTH}-inline,
			.from-{classTH}-inblock,
			.from-{classTH}-table,
			.from-{classTH}-cell,
			.only-{classTH},
			.only-{classTH}-block,
			.only-{classTH}-inline,
			.only-{classTH}-inblock,
			.only-{classTH}-table,
			.only-{classTH}-cell
				display none
				
		// Si LAP existe
		if gridLAP
			.from-{classLAP},
			.from-{classLAP}-block,
			.from-{classLAP}-inline,
			.from-{classLAP}-inblock,
			.from-{classLAP}-table,
			.from-{classLAP}-cell,
			.only-{classLAP},
			.only-{classLAP}-block,
			.only-{classLAP}-inline,
			.only-{classLAP}-inblock,
			.only-{classLAP}-table,
			.only-{classLAP}-cell
				display none
		
		// Si DESK existe
		if gridDESK
			.from-{classDESK},
			.from-{classDESK}-block,
			.from-{classDESK}-inline,
			.from-{classDESK}-inblock,
			.from-{classDESK}-table,
			.from-{classDESK}-cell,
			.only-{classDESK},
			.only-{classDESK}-block,
			.only-{classDESK}-inline,
			.only-{classDESK}-inblock,
			.only-{classDESK}-table,
			.only-{classDESK}-cell
				display none

			







 /*	==========================================================================
   	Móvil Horizontal
   	========================================================================== */

	if gridMH
		
		@media screen and (min-width minMH)

			// clases para MH
			.only-{classMH},
			.only-{classMH}-block,
			.from-{classMH},
			.from-{classMH}-block
				display block	
			.only-{classMH}-inline,
			.from-{classMH}-inline
				display inline	
			.only-{classMH}-inblock,
			.from-{classMH}-inblock
				display inline-block
			.only-{classMH}-table,
			.from-{classMH}-table
				display table	
			.only-{classMH}-cell,
			.from-{classMH}-cell
				display table-cell 
				
			.not-{classMH},
			.not-{classMH}-block,
			.not-{classMH}-inline,
			.not-{classMH}-inblock,
			.not-{classMH}-table,
			.not-{classMH}-cell
				display none
				


			if gridMV
				
				// clases para MV
				.only-{classMV},
				.only-{classMV}-block,
				.only-{classMV}-inline,
				.only-{classMV}-inblock,
				.only-{classMV}-table,
				.only-{classMV}-cell
					display none	
				
				.not-{classMV},
				.not-{classMV}-block
					display block
				.not-{classMV}-inline
					display inline
				.not-{classMV}-inblock
					display inline-block
				.not-{classMV}-table
					display table
				.not-{classMV}-cell
					display table-cell
				


			else
				
				// Si TV existe
				if gridTV
					.from-{classTV},
					.from-{classTV}-block,
					.from-{classTV}-inline,
					.from-{classTV}-inblock,
					.from-{classTV}-table,
					.from-{classTV}-cell,
					.only-{classTV},
					.only-{classTV}-block,
					.only-{classTV}-inline,
					.only-{classTV}-inblock,
					.only-{classTV}-table,
					.only-{classTV}-cell
						display none
				
				// Si TH existe
				if gridTH
					.from-{classTH},
					.from-{classTH}-block,
					.from-{classTH}-inline,
					.from-{classTH}-inblock,
					.from-{classTH}-table,
					.from-{classTH}-cell,
					.only-{classTH},
					.only-{classTH}-block,
					.only-{classTH}-inline,
					.only-{classTH}-inblock,
					.only-{classTH}-table,
					.only-{classTH}-cell
						display none
						
				// Si LAP existe
				if gridLAP
					.from-{classLAP},
					.from-{classLAP}-block,
					.from-{classLAP}-inline,
					.from-{classLAP}-inblock,
					.from-{classLAP}-table,
					.from-{classLAP}-cell,
					.only-{classLAP},
					.only-{classLAP}-block,
					.only-{classLAP}-inline,
					.only-{classLAP}-inblock,
					.only-{classLAP}-table,
					.only-{classLAP}-cell
						display none
				
				// Si DESK existe
				if gridDESK
					.from-{classDESK},
					.from-{classDESK}-block,
					.from-{classDESK}-inline,
					.from-{classDESK}-inblock,
					.from-{classDESK}-table,
					.from-{classDESK}-cell,
					.only-{classDESK},
					.only-{classDESK}-block,
					.only-{classDESK}-inline,
					.only-{classDESK}-inblock,
					.only-{classDESK}-table,
					.only-{classDESK}-cell
						display none



 /*	==========================================================================
   	Tablet vertical
   	========================================================================== */

	if gridTV
		
		@media screen and (min-width minTV)
		
			// clases para TV
			.only-{classTV},
			.only-{classTV}-block,
			.from-{classTV},
			.from-{classTV}-block
				display block	
			.only-{classTV}-inline,
			.from-{classTV}-inline
				display inline	
			.only-{classTV}-inblock,
			.from-{classTV}-inblock
				display inline-block
			.only-{classTV}-table,
			.from-{classTV}-table
				display table	
			.only-{classTV}-cell,
			.from-{classTV}-cell
				display table-cell 
				
			.not-{classTV},
			.not-{classTV}-block,
			.not-{classTV}-inline,
			.not-{classTV}-inblock,
			.not-{classTV}-table,
			.not-{classTV}-cell
				display none
					

			if gridMH
				
				// clases para MH
				.only-{classMH},
				.only-{classMH}-block,
				.only-{classMH}-inline,
				.only-{classMH}-inblock,
				.only-{classMH}-table,
				.only-{classMH}-cell,
				.to-{classMH},
				.to-{classMH}-block,
				.to-{classMH}-inline,
				.to-{classMH}-inblock,
				.to-{classMH}-table,
				.to-{classMH}-cell
					display none
				
				.not-{classMH},
				.not-{classMH}-block
					display block
				.not-{classMH}-inline
					display inline
				.not-{classMH}-inblock
					display inline-block
				.not-{classMH}-table
					display table
				.not-{classMH}-cell
					display table-cell
				



			else if gridMV
			
				// clases para MV					
				.only-{classMV},
				.only-{classMV}-block,
				.only-{classMV}-inline,
				.only-{classMV}-inblock,
				.only-{classMV}-table,
				.only-{classMV}-cell
					display none 
						
				.not-{classMV},
				.not-{classMV}-block
					display block
				.not-{classMV}-inline
					display inline
				.not-{classMV}-inblock
					display inline-block
				.not-{classMV}-table
					display table
				.not-{classMV}-cell
					display table-cell
					
			else

				// Si TH existe
				if gridTH
					.from-{classTH},
					.from-{classTH}-block,
					.from-{classTH}-inline,
					.from-{classTH}-inblock,
					.from-{classTH}-table,
					.from-{classTH}-cell,
					.only-{classTH},
					.only-{classTH}-block,
					.only-{classTH}-inline,
					.only-{classTH}-inblock,
					.only-{classTH}-table,
					.only-{classTH}-cell
						display none
						
				// Si LAP existe
				if gridLAP
					.from-{classLAP},
					.from-{classLAP}-block,
					.from-{classLAP}-inline,
					.from-{classLAP}-inblock,
					.from-{classLAP}-table,
					.from-{classLAP}-cell,
					.only-{classLAP},
					.only-{classLAP}-block,
					.only-{classLAP}-inline,
					.only-{classLAP}-inblock,
					.only-{classLAP}-table,
					.only-{classLAP}-cell
						display none
				
				// Si DESK existe
				if gridDESK
					.from-{classDESK},
					.from-{classDESK}-block,
					.from-{classDESK}-inline,
					.from-{classDESK}-inblock,
					.from-{classDESK}-table,
					.from-{classDESK}-cell,
					.only-{classDESK},
					.only-{classDESK}-block,
					.only-{classDESK}-inline,
					.only-{classDESK}-inblock,
					.only-{classDESK}-table,
					.only-{classDESK}-cell
						display none
				
				
		
			




 /*	==========================================================================
   	Tablet horizontal
   	========================================================================== */

	if gridTH
		
		@media screen and (min-width minTH)
		
			// clases para TH
			.only-{classTH},
			.only-{classTH}-block,
			.from-{classTH},
			.from-{classTH}-block
				display block	
			.only-{classTH}-inline,
			.from-{classTH}-inline
				display inline	
			.only-{classTH}-inblock,
			.from-{classTH}-inblock
				display inline-block
			.only-{classTH}-table,
			.from-{classTH}-table
				display table	
			.only-{classTH}-cell,
			.from-{classTH}-cell
				display table-cell 
				
			.not-{classTH},
			.not-{classTH}-block,
			.not-{classTH}-inline,
			.not-{classTH}-inblock,
			.not-{classTH}-table,
			.not-{classTH}-cell
				display none
					

			if gridTV
				
				// clases para TV
				.only-{classTV},
				.only-{classTV}-block,
				.only-{classTV}-inline,
				.only-{classTV}-inblock,
				.only-{classTV}-table,
				.only-{classTV}-cell,
				.to-{classTV},
				.to-{classTV}-block,
				.to-{classTV}-inline,
				.to-{classTV}-inblock,
				.to-{classTV}-table,
				.to-{classTV}-cell
					display none
				
				.not-{classTV},
				.not-{classTV}-block
					display block
				.not-{classTV}-inline
					display inline
				.not-{classTV}-inblock
					display inline-block
				.not-{classTV}-table
					display table
				.not-{classTV}-cell
					display table-cell
					
			if gridMH
				
				// clases para MH
				.only-{classMH},
				.only-{classMH}-block,
				.only-{classMH}-inline,
				.only-{classMH}-inblock,
				.only-{classMH}-table,
				.only-{classMH}-cell,
				.to-{classMH},
				.to-{classMH}-block,
				.to-{classMH}-inline,
				.to-{classMH}-inblock,
				.to-{classMH}-table,
				.to-{classMH}-cell
					display none
				
				.not-{classMH},
				.not-{classMH}-block
					display block
				.not-{classMH}-inline
					display inline
				.not-{classMH}-inblock
					display inline-block
				.not-{classMH}-table
					display table
				.not-{classMH}-cell
					display table-cell
					
			else if gridMV
			
				// clases para MV					
				.only-{classMV},
				.only-{classMV}-block,
				.only-{classMV}-inline,
				.only-{classMV}-inblock,
				.only-{classMV}-table,
				.only-{classMV}-cell
					display none
				
				.not-{classMV},
				.not-{classMV}-block
					display block
				.not-{classMV}-inline
					display inline
				.not-{classMV}-inblock
					display inline-block
				.not-{classMV}-table
					display table
				.not-{classMV}-cell
					display table-cell
					
			else
						
				// Si LAP existe
				if gridLAP
					.from-{classLAP},
					.from-{classLAP}-block,
					.from-{classLAP}-inline,
					.from-{classLAP}-inblock,
					.from-{classLAP}-table,
					.from-{classLAP}-cell,
					.only-{classLAP},
					.only-{classLAP}-block,
					.only-{classLAP}-inline,
					.only-{classLAP}-inblock,
					.only-{classLAP}-table,
					.only-{classLAP}-cell
						display none
				
				// Si DESK existe
				if gridDESK
					.from-{classDESK},
					.from-{classDESK}-block,
					.from-{classDESK}-inline,
					.from-{classDESK}-inblock,
					.from-{classDESK}-table,
					.from-{classDESK}-cell,
					.only-{classDESK},
					.only-{classDESK}-block,
					.only-{classDESK}-inline,
					.only-{classDESK}-inblock,
					.only-{classDESK}-table,
					.only-{classDESK}-cell
						display none
				



 /*	==========================================================================
   	Laptop
   	========================================================================== */

	if gridLAP
		
		@media screen and (min-width minLAP)
		
			// clases para LAP
			.only-{classLAP},
			.only-{classLAP}-block,
			.from-{classLAP},
			.from-{classLAP}-block
				display block	
			.only-{classLAP}-inline,
			.from-{classLAP}-inline
				display inline	
			.only-{classLAP}-inblock,
			.from-{classLAP}-inblock
				display inline-block
			.only-{classLAP}-table,
			.from-{classLAP}-table
				display table	
			.only-{classLAP}-cell,
			.from-{classLAP}-cell
				display table-cell 
				
			.not-{classLAP},
			.not-{classLAP}-block,
			.not-{classLAP}-inline,
			.not-{classLAP}-inblock,
			.not-{classLAP}-table,
			.not-{classLAP}-cell
				display none
					

			if gridTH
				
				// clases para TH
				.only-{classTH},
				.only-{classTH}-block,
				.only-{classTH}-inline,
				.only-{classTH}-inblock,
				.only-{classTH}-table,
				.only-{classTH}-cell,
				.to-{classTH},
				.to-{classTH}-block,
				.to-{classTH}-inline,
				.to-{classTH}-inblock,
				.to-{classTH}-table,
				.to-{classTH}-cell
					display none
				
				.not-{classTH},
				.not-{classTH}-block
					display block
				.not-{classTH}-inline
					display inline
				.not-{classTH}-inblock
					display inline-block
				.not-{classTH}-table
					display table
				.not-{classTH}-cell
					display table-cell
					
			else if gridTV
				
				// clases para TV
				.only-{classTV},
				.only-{classTV}-block,
				.only-{classTV}-inline,
				.only-{classTV}-inblock,
				.only-{classTV}-table,
				.only-{classTV}-cell,
				.to-{classTV},
				.to-{classTV}-block,
				.to-{classTV}-inline,
				.to-{classTV}-inblock,
				.to-{classTV}-table,
				.to-{classTV}-cell
					display none
				
				.not-{classTV},
				.not-{classTV}-block
					display block
				.not-{classTV}-inline
					display inline
				.not-{classTV}-inblock
					display inline-block
				.not-{classTV}-table
					display table
				.not-{classTV}-cell
					display table-cell
					


			else if gridMH
				
				// clases para MH
				.only-{classMH},
				.only-{classMH}-block,
				.only-{classMH}-inline,
				.only-{classMH}-inblock,
				.only-{classMH}-table,
				.only-{classMH}-cell,
				.to-{classMH},
				.to-{classMH}-block,
				.to-{classMH}-inline,
				.to-{classMH}-inblock,
				.to-{classMH}-table,
				.to-{classMH}-cell
					display none
				
				.not-{classMH},
				.not-{classMH}-block
					display block
				.not-{classMH}-inline
					display inline
				.not-{classMH}-inblock
					display inline-block
				.not-{classMH}-table
					display table
				.not-{classMH}-cell
					display table-cell
					


			else if gridMV
			
				// clases para MV
				.only-{classMV},
				.only-{classMV}-block,
				.only-{classMV}-inline,
				.only-{classMV}-inblock,
				.only-{classMV}-table,
				.only-{classMV}-cell
					display none
				
				.not-{classMV},
				.not-{classMV}-block
					display block
				.not-{classMV}-inline
					display inline
				.not-{classMV}-inblock
					display inline-block
				.not-{classMV}-table
					display table
				.not-{classMV}-cell
					display table-cell
					
			else
				
				// Si DESK existe
				if gridDESK
					.from-{classDESK},
					.from-{classDESK}-block,
					.from-{classDESK}-inline,
					.from-{classDESK}-inblock,
					.from-{classDESK}-table,
					.from-{classDESK}-cell,
					.only-{classDESK},
					.only-{classDESK}-block,
					.only-{classDESK}-inline,
					.only-{classDESK}-inblock,
					.only-{classDESK}-table,
					.only-{classDESK}-cell
						display none
		

 /*	==========================================================================
   	Desktop
   	========================================================================== */

	if gridDESK
		
		@media screen and (min-width minDESK)
		
			// clases para DESK
			.only-{classDESK},
			.only-{classDESK}-block,
			.from-{classDESK},
			.from-{classDESK}-block
				display block	
			.only-{classDESK}-inline,
			.from-{classDESK}-inline
				display inline	
			.only-{classDESK}-inblock,
			.from-{classDESK}-inblock
				display inline-block
			.only-{classDESK}-table,
			.from-{classDESK}-table
				display table	
			.only-{classDESK}-cell,
			.from-{classDESK}-cell
				display table-cell 
				
			.not-{classDESK},
			.not-{classDESK}-block,
			.not-{classDESK}-inline,
			.not-{classDESK}-inblock,
			.not-{classDESK}-table,
			.not-{classDESK}-cell
				display none
					

			if gridLAP
				
				// clases para LAP
				.only-{classLAP},
				.only-{classLAP}-block,
				.only-{classLAP}-inline,
				.only-{classLAP}-inblock,
				.only-{classLAP}-table,
				.only-{classLAP}-cell,
				.to-{classLAP},
				.to-{classLAP}-block,
				.to-{classLAP}-inline,
				.to-{classLAP}-inblock,
				.to-{classLAP}-table,
				.to-{classLAP}-cell
					display none
				
				.not-{classLAP},
				.not-{classLAP}-block
					display block
				.not-{classLAP}-inline
					display inline
				.not-{classLAP}-inblock
					display inline-block
				.not-{classLAP}-table
					display table
				.not-{classLAP}-cell
					display table-cell
					
					
			else if gridTH
				
				// clases para TH
				.only-{classTH},
				.only-{classTH}-block,
				.only-{classTH}-inline,
				.only-{classTH}-inblock,
				.only-{classTH}-table,
				.only-{classTH}-cell,
				.to-{classTH},
				.to-{classTH}-block,
				.to-{classTH}-inline,
				.to-{classTH}-inblock,
				.to-{classTH}-table,
				.to-{classTH}-cell
					display none
				
				.not-{classTH},
				.not-{classTH}-block
					display block
				.not-{classTH}-inline
					display inline
				.not-{classTH}-inblock
					display inline-block
				.not-{classTH}-table
					display table
				.not-{classTH}-cell
					display table-cell
					

					
			else if gridTV
				
				// clases para TV
				.only-{classTV},
				.only-{classTV}-block,
				.only-{classTV}-inline,
				.only-{classTV}-inblock,
				.only-{classTV}-table,
				.only-{classTV}-cell,
				.to-{classTV},
				.to-{classTV}-block,
				.to-{classTV}-inline,
				.to-{classTV}-inblock,
				.to-{classTV}-table,
				.to-{classTV}-cell
					display none
				
				.not-{classTV},
				.not-{classTV}-block
					display block
				.not-{classTV}-inline
					display inline
				.not-{classTV}-inblock
					display inline-block
				.not-{classTV}-table
					display table
				.not-{classTV}-cell
					display table-cell
					

					
			else if gridMH
				
				// clases para MH
				.only-{classMH},
				.only-{classMH}-block,
				.only-{classMH}-inline,
				.only-{classMH}-inblock,
				.only-{classMH}-table,
				.only-{classMH}-cell,
				.to-{classMH},
				.to-{classMH}-block,
				.to-{classMH}-inline,
				.to-{classMH}-inblock,
				.to-{classMH}-table,
				.to-{classMH}-cell
					display none
				
				.not-{classMH},
				.not-{classMH}-block
					display block
				.not-{classMH}-inline
					display inline
				.not-{classMH}-inblock
					display inline-block
				.not-{classMH}-table
					display table
				.not-{classMH}-cell
					display table-cell
					

					
			else if gridMV
			
				// clases para MV
				.only-{classMV},
				.only-{classMV}-block,
				.only-{classMV}-inline,
				.only-{classMV}-inblock,
				.only-{classMV}-table,
				.only-{classMV}-cell
					display none
				
				.not-{classMV},
				.not-{classMV}-block
					display block
				.not-{classMV}-inline
					display inline
				.not-{classMV}-inblock
					display inline-block
				.not-{classMV}-table
					display table
				.not-{classMV}-cell
					display table-cell
			
			


	