/**
	==========================================================================
	#FORMS
	========================================================================== 
	*
	* CONTENTS
	*
	* INPUTS
	* 	General...............Estilos generales para los inputs/selects.
	* 	Variaciones...........Estilos de las variaciones de los inputs.
	* 	Con iconos............Estilos de las variaciones de los inputs con iconos.
	* 	Validaciones..........Estilos de las validaciones
	*
	* CHECKBOXES
	* 	Estructura............Estructura del checkbox (introducirlo dentro de un div).
	* 	General...............Estilos generales.
	* 	Checked...............Estilo del activo.
	* 
	* RADIO BUTTONS EXPERIENCIAS
	* 	Estructura............Estructura del radio button (introducirlo dentro de un div).
	* 	General...............Estilos generales.
	* 	Checked...............Estilo del activo.
	* 
	* INPUT FILES
	* 	Estructura............Estructura del input file (introducirlo dentro de un div).
	* 	General...............Estilos generales.
	* 	States................Estilo del hover y del focus.
	*/

	

	
	





/*	==========================================================================
	#INPUTS 
	========================================================================== */
	
	/*	#GENERAL
		====================================================================== */
		
		.custom-input
			font-family formFont
			font-weight formWeight
			font-size formSize
			line-height formLHeight
			
			background-color formBackground
			color formColor
			border formBorder
			border-radius formRadius
			box-shadow formShadow
			
			padding formPadding
			margin formMargin
			
			width 100%
			
			
		.modal__input--eur
			width: 30%


		.eur--icon
			padding 8px !important
			position relative
			

		.custom-input-text
			padding: 10px 16px


	/*	#SELECTS
		====================================================================== */
			
		.custom-input--select
			background-image selectImage
			// background-size selectBgSize
			border-radius selectRadius
			
			background-position 96% 50% //right center
			// background-origin content-box
			background-repeat no-repeat
			-webkit-appearance none
			-moz-appearance:   none
			// padding:           10px 16px
			
			option[value=""][disabled]
				display: none


			



		

	/*	#ICONOS
		====================================================================== */

		// .custom-input--search
		// 	if formImgSearch is defined
		// 		background-image formImgSearch
		// 	else
		// 		background-image unquote('url(../forms/search.png)')
		// 		background-image unquote('url(../forms/search.svg)')
			
		// .custom-input--block
		// 	if formImgBlock is defined
		// 		background-image formImgBlock
		// 	else
		// 		background-image unquote('url(../forms/block.png)')
		// 		background-image unquote('url(../forms/block.svg)')

		// .custom-input--mail
		// 	if formImgMail is defined
		// 		background-image formImgMail
		// 	else
		// 		background-image unquote('url(../forms/mail.png)')
		// 		background-image unquote('url(../forms/mail.svg)')
			
				


/*	==========================================================================
	#ICON POSITION 
	========================================================================== */
			
	.custom-input--icon-left
		background-repeat no-repeat
		background-size formIconSize
		background-position formIconOffset 50%
		padding-left formIconPadding	
		
	.custom-input--icon-right
		background-repeat no-repeat
		background-size formIconSize
		background-position "calc(100% - %s) 50%" % formIconOffset
		padding-right formIconPadding
			





/*	==========================================================================
	#VALIDATORS
	========================================================================== */
		
	// .validation--success
	// 	background-image url(../forms/success.png)
	// 	background-image url(../forms/success.svg)
	// 	background-size auto 30%
	// 	border-color colorSuccess
	
	// .validation--error
	// 	background-image url(../forms/error.png)
	// 	background-image url(../forms/error.svg)
	// 	background-size auto 30%
	// 	border-color colorError
		
	// .validation--notification
	// 	background-image url(../forms/notification.png)
	// 	background-image url(../forms/notification.svg)
	// 	background-size auto 30%
	// 	border-color colorNotification
			






/*	==========================================================================
	#CHECKBOXES
	========================================================================== */
	
	/*	#ESTRUCTURA
		====================================================================== */
		
			// 	<input type="checkbox" id="checkbox-ID" class="custom-checkbox__input">
			// 	<label for="checkbox-ID">
			// 		<span class="custom-checkbox__new"></span> 
			// 		<p class="custom-checkbox__text">["TEXTO"]</p>
			// 	</label>
	




	/*	#GENERAL
		====================================================================== */
			
		/* hide checkbox and radio inputs from modern browsers */
		.custom-checkbox__input
			opacity 0
			absolute: top 50%

		/* set default styles for the checkboxes and radio buttons */
		.custom-checkbox__new
			size checkSize
			margin checkMargin
			border checkBorder
			
			display inline-block
			cursor pointer
			position relative
			background transparent
			box-sizing border-box
			
		.custom-checkbox__text
			display inline-block
			width:   calc('100% - 35px', 80%)
	


	/*	#CHECKED
		====================================================================== */
			
		.custom-checkbox__input:checked + label .custom-checkbox__new
			background: mainColor
			border-width: 0
		
		.custom-checkbox__input:checked + label .custom-checkbox__new:after 
			content ""
			size 2px 6px
			position absolute 
			top 9.5px //5px 
			left 4.5px // 3.6px
			background checkBackground
			border-radius checkRadius
			z-index 1
			transform rotate(-44deg)
			
		.custom-checkbox__input:checked + label .custom-checkbox__new:before 
			content ""
			size 2px 14px
			position absolute 
			top 3.2px //2px 
			left 11px // 8px
			background checkBackground
			border-radius checkRadius
			z-index 1
			transform rotate(45deg)
				

		





/*	==========================================================================
	#RADIOBUTTONS
	========================================================================== */
	
	/*	#ESTRUCTURA
		====================================================================== */
		
			// 	<input type="radio" id="checkbox-ID" class="custom-radio__input">
			// 	<label for="checkbox-ID">
			// 		<span class="custom-radio__new"></span> 
			// 		<p class="custom-radio__text">["TEXTO"]</p>
			// 	</label>
	

	/*	#GENERAL
		====================================================================== */
		
		.custom-radio__input
			opacity 0
			display none
		
		.custom-radio__new
			size radioSize
			margin radioMargin
			border radioBorder
			
			border-radius 50%
			display inline-block
			// cursor hand
			// cursor pointer
			position relative
			background transparent
			box-sizing border-box
			
			// opacity: .5
			cursorPointer()
			transition: background-color .3s ease, border-color .3s ease
			
			float: left
			
			// &:before
			// 	content: ''
			// 	absolute: top -2px left -2px
			// 	size: radioSize
			// 	border-radius 50%
			// 	background: gradientGreen
			// 	opacity: 0
			// 	transicion(tNormal)
				
			
		.custom-radio__text
			display inline-block
			padding radioPadding
			// letter-spacing: 0.12em
			
			float: left
			width: 100%
			// padding-right: 12px
			
		.custom-radio__input + label
			cursor hand
			cursor pointer
			
			
		

	/*	#CHECKED
		====================================================================== */
	
		// .custom-radio__input + label .custom-radio__new:before 
		// 	content ""
		// 	background-color radioBackground
		// 	position absolute
		// 	width 0
		// 	height 0
		// 	border-radius 50%			
		// 	left (radioSize / 2 - 1)
		// 	top (radioSize / 2 - 1)
		// 	mTransition(tFast)
				
		// .custom-radio__input:checked + label .custom-radio__new:before 
		// 	width (radioSize / 2)	
		// 	height (radioSize / 2)	
		// 	left (radioSize / 4 - 1) // 3px
		// 	top (radioSize / 4 - 1) // 3px
		
		.custom-radio__input:disabled + label p
			color gris4
			
		.custom-radio__input:checked + label .custom-radio__new
			background-color: radioBackground
			background-image: url('/assets/img/marcado.svg')
			background-repeat: no-repeat
			background-position: center
			border-color: transparent
			
			// &:before
			// 	opacity: 1
			


		// .custom-radio__input:checked + label .custom-radio__new:after 
		// 	content ""
		// 	size 2px 6px
		// 	position absolute 
		// 	top 9.5px //5px 
		// 	left 4.5px // 3.6px
		// 	background checkBackground
		// 	border-radius checkRadius
		// 	z-index 1
		// 	transform rotate(-44deg)
			
		// .custom-radio__input:checked + label .custom-radio__new:before 
		// 	content ""
		// 	size 2px 14px
		// 	position absolute 
		// 	top 3.2px //2px 
		// 	left 11px // 8px
		// 	background checkBackground
		// 	border-radius checkRadius
		// 	z-index 1
		// 	transform rotate(45deg)









	
/*	==========================================================================
	INPUT FILES
	========================================================================== */
	
	/*	#ESTRUCTURA
		====================================================================== */
		
		// <label class="custom-file__label" title="" data-text="Subir archivo" data-file="Seleccione archivo">
		// 	<input class="custom-file__input" type="file" onchange="this.parentNode.setAttribute('title', this.value.replace(/^.*[\\/]/, ''))" />
		// </label>
			

.custom-file__label
	width: 0%
	min-width: 100%
	height: 52px
	line-height: 52px!important
	cursor: pointer
	position: relative
	display: inline-block
	white-space: nowrap
	font-family: sans-serif
	text-align: right
	margin: 8px 0

	&:before
		content: attr(data-file)
		width: calc('100% - 200px', 70%)
		display: block
		position: absolute
		box-sizing: border-box
		// width: 100%
		height: inherit
		padding: 0 20px 
		border-radius: 3px
		// border: 2px solid palette5
		background-color: palette4
		color: PHcolor
		font-size: 16px
		overflow: hidden
		text-overflow: ellipsis
		text-align: left
		// vertical-align: middle
	
	&:after
		// @extends .button
		// @extends .button--secondary
		absolute: top right
		display: inline-block
		// position: relative
		cursor: hand
		cursor: pointer
		z-index: 9
		font-size: 1.2rem
		font-weight: 900
		letter-spacing: -0.06em
		margin: 0
		box-shadow: none
		border-radius: 5px
		transition: all 0.3s ease 0s
		

		line-height: 42px
		color: #37d9b6
		background-color: transparent
		border: solid 3px #37d9b6
		  

		content: attr(data-text)
		box-sizing: border-box
		width: 180px
		height: inherit
		padding: 0 4px
		overflow: hidden
		text-overflow: ellipsis
		text-align: center
		font-family: mainTypography
		font-size: rem(18)
		
	&[title]:not([title=""]):before
		content: attr(title)
		color: gris7
		


.custom-file__input
	position: absolute
	width: 0
	overflow: hidden
	opacity: 0
	



// http://codepen.io/w3core/pen/MYLNGr



/*	==========================================================================
	#OTROS
	========================================================================== */

	input:focus 
		outline none
		
	select::-ms-expand
		display none
				