/**
	==========================================================================
	#ASSETS
	========================================================================== 
	*
	* CONTENTS
	* 
	* COMPONENTES
	* 	Paginacion............listado para paginar.
	* 	To top................to top element.
	* 	Videos................Rwd iframe video.
	*/





/*	==========================================================================
	#COMPONENTES
	========================================================================== */
	
	/*	#PAGINACION
		====================================================================== */
	
		.pagination
			text-align center
			display inline-block
			padding 0
			
			
			li 
				list-style none
				display inline-block
				margin 0
			
				a, span
					font-family:     mainTypography
					color:           gris1
					font-size:       s15
					line-height:     s24
					font-weight:     wBold
					font-style:      normal
					letter-spacing:  0.12em
					margin:          (baseline*2) 0
					padding:         (baseline/2 + 1) 0 (baseline/2 - 1)
					margin 0 2px
					padding-left 4px
					color: palette14
					text-transform:    uppercase
					transicion(tNormal)
					
					&:hover 
						color gris1
			
				&.active
					a, span
						font-weight: bold
						color: palette1
						pointer-events: none
						

					
				
				



	/*	#Scrolltop
    	====================================================================== */
   
		.totop
			position fixed
			bottom 20px
			right 20px
			display block
			background-color rgba(192, 39, 54, 0.8)
			text-align center
			color white
			font-size 32px
			opacity 0
			transition all .3s ease
			
			&.show 
				opacity 1
			
			i
				width 45px   
				height 45px   
				line-height 45px
				display block
				cursor hand
				cursor pointer
	




	/*	#Videos
    	====================================================================== */

		.video-wrapper
			position relative
			padding-bottom 56.25% /* 16:9 */
			padding-top 25px
			height 0
			
		.video-wrapper iframe
			absolute: top left
			size: 100%







