/**
	==========================================================================
	#ASSETS
	========================================================================== 
	*
	* CONTENTS
	* 
	* GRID
	* 	General.................Estilos generales.
	* 	Móvil vertical..........Grid para móvil vertical.
	* 	Móvil Horizontal........Grid para móvil horizontal.
	* 	Tablet vertical.........Grid para tablet vertical.
	* 	Tablet horizontal.......Grid para tablet horizontal.
	* 	Laptop..................Grid para laptop.
	* 	Desktop.................Grid para desktop.
	*/





/* 	==========================================================================
   	BASELINE
   	========================================================================== */
	
	.baseline
		background-image:    linear-gradient(to bottom,#e9e9e9 0,rgba(255,255,255,0)1px)
		background-repeat:   repeat-y
		background-size:     100% baseline
		background-position: left 0px
		
	if activeBaseline is defined && activeBaseline
		body
			@extend .baseline





/* 	==========================================================================
   	General
   	========================================================================== */
	
	.wrapper 
		margin 0 auto
		if generalMaxWidth is defined && generalMaxWidth
			max-width generalMaxWidth
		clearfix()

		
	.col
		position relative
		float left
		box-sizing border-box
		
		&.center
			float none
			clear both
			// display block
			// margin-left auto
			// margin-right auto
		&.false 
			height: 10px






/* 	==========================================================================
   	Móvil vertical
   	========================================================================== */
		
	if paddingMV is defined 
		.wrapper 
			padding paddingMV
	
	if maxWidthMV is defined && adaptative == true
		.wrapper 
			max-width maxWidthMV
	
	for i in range(1,columnsMV) //rangeMV
		.{classMV}-{i}
			width: (100 / (columnsMV / i))%

	.col
		padding-left (gutterMV / 2)
		padding-right (gutterMV / 2)
			


/* 	==========================================================================
   	Móvil Horizontal
   	========================================================================== */

	if gridMH
		
		@media screen and (min-width minMH)
		
			if paddingMH is defined
				.wrapper 
					padding paddingMH
			
			if maxWidthMH is defined && adaptative == true
				.wrapper 
					max-width maxWidthMH
					
			
			.{classMH}-0
				width 0%
					
			for i in range(1,columnsMH) //rangeMH
				.{classMH}-{i}
					width: (100 / (columnsMH / i))%

			.col
				padding-left (gutterMH / 2)
				padding-right (gutterMH / 2)
				


/* 	==========================================================================
   	Tablet vertical
   	========================================================================== */

	if gridTV
		
		@media screen and (min-width minTV)
		
			if paddingTV is defined 
				.wrapper 
					padding paddingTV
				
			if maxWidthTV is defined && adaptative == true
				.wrapper 
					max-width maxWidthTV
		
			.{classTV}-0
				width 0%
		
			for i in range(1,columnsTV) //rangeTV
				.{classTV}-{i}
					width: (100 / (columnsTV / i))%

			.col
				padding-left (gutterTV / 2)
				padding-right (gutterTV / 2)
			




/* 	==========================================================================
   	Tablet horizontal
   	========================================================================== */

	if gridTH
		
		@media screen and (min-width minTH)
		
			if paddingTH is defined
				.wrapper 
					padding paddingTH
			
			if maxWidthTH is defined && adaptative == true
				.wrapper 
					max-width maxWidthTH
		
			.{classTH}-0
				width 0%
			
			for i in range(1,columnsTH) //rangeTH
				.{classTH}-{i}
					width: (100 / (columnsTH / i))%

			.col
				padding-left (gutterTH / 2)
				padding-right (gutterTH / 2)
			


/* 	==========================================================================
   	Laptop
   	========================================================================== */

	if gridLAP
		
		@media screen and (min-width minLAP)
		
			if paddingLAP is defined 
				.wrapper 
					padding paddingLAP
			
			if maxWidthLAP is defined && adaptative == true
				.wrapper 
					max-width maxWidthLAP
		

			.{classLAP}-0
				width 0%
			
			for i in range(1,columnsLAP) //rangeLAP
				.{classLAP}-{i}
					width: (100 / (columnsLAP / i))%

			.col
				padding-left (gutterLAP / 2)
				padding-right (gutterLAP / 2)
				



/* 	==========================================================================
   	Desktop
   	========================================================================== */

	if gridDESK
		
		@media screen and (min-width minDESK)
			
			if paddingDESK is defined 
				.wrapper 
					padding paddingDESK
					
			if maxWidthDESK is defined && adaptative == true
				.wrapper 
					max-width maxWidthDESK
		
			.{classDESK}-0
				width 0%
			
			for i in range(1,columnsDESK) //rangeDESK
				.{classDESK}-{i}
					width: (100 / (columnsDESK / i))%

			.col
				padding-left (gutterDESK / 2)
				padding-right (gutterDESK / 2)
			

