/**
	==========================================================================
	#HELPERS
	========================================================================== 
	*
	* CONTENTS
	* 
	* HELPERS
	* 	Visibility............
	* 	Estructural...........
	* 	fondos cover..........
	* 	Weight................
	* 	Alineaciones..........
	* 	Paddings..............
	* 	Cursors...............
	*/





/*	==========================================================================
	#DISPLAY
	========================================================================== */
	
	displayClass = (".d-table" "display" "table !important") (".d-cell" "display" "table-cell !important") (".d-block" "display" "block !important") (".d-inblock" "display" "inline-block !important") (".d-inline" "display" "inline !important")
		
	+responsive(false, displayClass)
		// Display de elementos
			





/*	==========================================================================
	#POSITION
	========================================================================== */
	
	positionClass = (".p-absolute" "position" "absolute !important") (".p-relative" "position" "relative !important") (".p-fixed" "position" "fixed !important") (".p-static" "position" "static !important")
		
	+responsive(false, positionClass)
		// Display de elementos






/*	==========================================================================
	#FONDOS
	========================================================================== */
			
	.bg 
		background-size cover
		background-position center center
	
	.bg--contain 
		background-size contain
		background-position center center
		background-repeat no-repeat
				
	.bg--left
		background-position-x left	
	.bg--right
		background-position-x right
			
	.bg--top
		background-position-y top 		
	.bg--bottom
		background-position-y bottom
			




/*	==========================================================================
	#CURSORS
	========================================================================== */

	.c-pointer
		cursor: hand
		cursor: pointer
		
	.c-default
		cursor: default
		
	.pe-none
		pointer-events none
	
	.pe-auto
		pointer-events auto
		





/*	==========================================================================
	#VARIOUS
	========================================================================== */
	
	.no-anim
		transition none !important	
	
	.clearfix
		clearfix()	