/*	==========================================================================
	#PADDINGS & MARGINS
	========================================================================== */

	.mh-auto
		margin-right auto 
		margin-left auto 
		


	for elem in gridElem
		if elem == "MV"
			for n in offsetArray
				// Paddings
				.pl-{n}
					padding-left: (n)px
				.pr-{n}
					padding-right: (n)px
				.pt-{n}
					padding-top: (n)px
				.pb-{n}
					padding-bottom: (n)px 
					
				.ph-{n}
					padding-right: (n)px
					padding-left: (n)px
				.pv-{n}
					padding-top: (n)px
					padding-bottom: (n)px
				.pa-{n}
					padding: (n)px		

				// Margin
				.ml-{n}
					margin-left: (n)px	
				.mr-{n}
					margin-right: (n)px
				.mt-{n}
					margin-top: (n)px
				.mb-{n}
					margin-bottom: (n)px 
					
				.mh-{n}
					margin-right: (n)px
					margin-left: (n)px
				.mv-{n}
					margin-top: (n)px
					margin-bottom: (n)px
				.ma-{n}
					margin: (n)px
				

			 
		else
			@media screen and ( min-width lookup('min' + elem) )
				for n in offsetArray
		
					// Paddings
					.pl-{lookup('class' + elem)}-{n}
						padding-left: (n)px
					.pr-{lookup('class' + elem)}-{n}
						padding-right: (n)px
					.pt-{lookup('class' + elem)}-{n}
						padding-top: (n)px
					.pb-{lookup('class' + elem)}-{n}
						padding-bottom: (n)px 
						
					.ph-{lookup('class' + elem)}-{n}
						padding-right: (n)px
						padding-left: (n)px
					.pv-{lookup('class' + elem)}-{n}
						padding-top: (n)px
						padding-bottom: (n)px
					.pa-{lookup('class' + elem)}-{n}
						padding: (n)px		

					// Margin
					.ml-{lookup('class' + elem)}-{n}
						margin-left: (n)px	
					.mr-{lookup('class' + elem)}-{n}
						margin-right: (n)px
					.mt-{lookup('class' + elem)}-{n}
						margin-top: (n)px
					.mb-{lookup('class' + elem)}-{n}
						margin-bottom: (n)px 
						
					.mh-{lookup('class' + elem)}-{n}
						margin-right: (n)px
						margin-left: (n)px
					.mv-{lookup('class' + elem)}-{n}
						margin-top: (n)px
						margin-bottom: (n)px
					.ma-{lookup('class' + elem)}-{n}
						margin: (n)px	


	
			


	for n in 1 2 3 4 5 8 10
		
		// Border radius
		.br-{n}
			border-radius: (n)px

