/* 	==========================================================================
   	Color placeholders
   	========================================================================== */

	::-webkit-input-placeholder 
		color PHcolor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente

	:-moz-placeholder 
		color PHcolor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente
		opacity 1

	::-moz-placeholder 
		color PHcolor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente
		opacity 1

	:-ms-input-placeholder 
		color PHcolor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente
		

	
			
	.custom-input--light::-webkit-input-placeholder 
		color whiteColor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente

	.custom-input--light:-moz-placeholder 
		color whiteColor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente
		opacity 1

	.custom-input--light::-moz-placeholder 
		color whiteColor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente
		opacity 1

	.custom-input--light:-ms-input-placeholder 
		color whiteColor
		font-size PHsize
		font-weight PHweight
		font-family PHfuente