
/*	==========================================================================
	#WEIGHT
	========================================================================== */

	.wr
	.regular
		font-weight wRegular !important
	.wm
	.medium
		font-weight wMedium !important
	.ws
	.semibold
		font-weight wSemibold !important
	.wb
	.bold
		font-weight wBold !important
	

	.italic
		font-style: italic !important




/*	==========================================================================
	#TEXT TRANSFORM
	========================================================================== */	

	.uppercase
		text-transform uppercase
		
	.lowercase
		text-transform lowercase
		
	.capitalize
		text-transform capitalize
		





/* 	==========================================================================
   	Selection
   	========================================================================== */

	::selection 
		background mainColor /* WebKit/Blink Browsers */
		color whiteColor
		
	::-moz-selection 
		background mainColor /* Gecko Browsers */
		color whiteColor