/**
	==========================================================================
	#GRID HELPERS
	========================================================================== 
	*
	* CONTENTS
	* 
	* HELPERS
	*	Móvil vertical..........Grid para móvil vertical.
	*	Móvil Horizontal........Grid para móvil horizontal.
	*	Tablet vertical.........Grid para tablet vertical.
	*	Tablet horizontal.......Grid para tablet horizontal.
	*	Laptop..................Grid para laptop.
	*	Desktop.................Grid para desktop.
	*/


	
		


/*	==========================================================================
	#VISIBILITY
	========================================================================== */

	.hide
		display none !important
		
	.o-hidden
		overflow hidden
	.o-visible
		overflow visible !important
	.o-scroll
		overflow scroll !important
	
	.oh-hidden
		overflow-x: hidden
	.oh-visible
		overflow-x: visible
	.oh-scroll
		overflow-x: scroll
		
	.ov-hidden
		overflow-y: hidden
	.ov-visible
		overflow-y: visible
	.ov-scroll
		overflow-y: scroll




