<template >
    <div :id="'documents-container-'+localeLang" class="grid" v-masonry  transition-duration="0s" item-selector=".mix" column-width=".mix">
        <template v-for="(documentF, index) in documents">
            <div class="mix mr20" v-masonry-tile>
                <div class="panel image-panel p6" style="width:100px">
                    <div class="image-mix of-h">
                        <img src="/dashboard_theme/assets/img/pdf-icon.png" class="img-responsive">
                        <p class="text-center">{{ documentF.name }}</p>
                        <div class="hover-img pdf">
                            <button class="btn btn-xl btn-danger" v-on:click="removeDocument(documentF.id, documentF.locale, index)">
                                Eliminar <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    export default {
        props: ['documents', 'localeLang'],
        mounted() {
        	// this.$parent.$options.methods.someParentMethod(data)
        },
        methods: {
			removeDocument(photoId, locale, index) {
                window.axios.post(propertyDestroyDocumentsRoute, {'mediaId' : photoId})
                .then((response) => {
                    this.documents.splice(index, 1)
                })
                .catch((error) => {
                    console.log(error)
                })
            },
		}
    }
</script>
