<template>
	
   <p class="c-error  text-center">
   	{{ errorFormated }}
   	</p>
	
</template>

<script>
    export default {
        props: ['error'],
        data: {
        	'errorFormated': null
        },
        computed: {
            errorFormated() {
                console.log(this.error);
                if( typeof this.error === 'string' ) {
                    console.log('string')
                    return this.error;
                } else {
                    console.log('array')
                    return this.error[0];
                }
            }
        }
    }
</script>

