<template>
	<div class="table-responsive">
		<table class="table table-borders table-condensed responsive">
			<tbody>
				<tr>
					<td class="text-system">Número de reservas</td>
					<td>{{ estimacion.numero_reservas }}</td></tr>
				<tr>
					<td class="text-system">Grado de Ocupación</td>
					<td>{{ estimacion.grado_ocupacion }}</td></tr>
				<tr>
					<td class="text-system">Nr de dias reservados</td>
					<td>{{ estimacion.dias_reservados }}</td></tr>
				<tr>
					<td class="text-system">Nr de Días No reservados</td>
					<td>{{ estimacion.dias_no_reservados }}</td></tr>
				<tr>
					<td class="text-system">Nr de días Bloqueados</td>
					<td>{{ estimacion.dias_bloqueados }}</td></tr>
				<tr>
					<td class="text-system">Tarifa media por día</td>
					<td>{{ estimacion.tarifa_media_dia }}</td></tr>
				<tr>
					<td class="text-system">Estimación Ingresos Anuales</td>
					<td>{{ estimacion.estimacion_ingresos_anuales }}</td></tr>
				<tr>
					<td class="text-system">Grado de Satisfacción Clientes</td>
					<td>{{ estimacion.satisfaccion_clientes }}</td></tr>
				<tr>
					<td class="text-system">Número de Invitados</td>
					<td>{{ estimacion.numero_invitados }}</td></tr>
				<tr>
					<td class="text-system">Ingresos totales</td>
					<td>{{ estimacion.ingresos_totales }}</td></tr>
				<tr>
					<td class="text-system">Ingresos alquiler</td>
					<td>{{ estimacion.ingresos_alquiler }}</td></tr>
				<tr>
					<td class="text-system">Ingresos venta</td>
					<td>{{ estimacion.ingresos_venta }}</td></tr>
				<tr>
					<td class="text-system">Otros ingresos</td>
					<td>{{ estimacion.otros_ingresos }}</td></tr>
				<tr>
					<td class="text-system">Gastos explotación</td>
					<td>{{ estimacion.gastos_explotacion }}</td></tr>
				<tr>
					<td class="text-system">Publicidad y prensa</td>
					<td>{{ estimacion.publicidad_prensa }}</td></tr>
				<tr>
					<td class="text-system">Otro material</td>
					<td>{{ estimacion.otro_material }}</td></tr>
				<tr>
					<td class="text-system">Gastos ventas</td>
					<td>{{ estimacion.gastos_ventas }}</td></tr>
				<tr>
					<td class="text-system">i+d</td>
					<td>{{ estimacion.i_mas_d }}</td></tr>
				<tr>
					<td class="text-system">Arrendamientos</td>
					<td>{{ estimacion.arrendamientos }}</td></tr>
				<tr>
					<td class="text-system">Comisiones Brickstarter	</td>
					<td>{{ estimacion.comisiones_crowdestate }}</td></tr>
				<tr>
					<td class="text-system">Gestion</td>
					<td>{{ estimacion.gestion }}</td></tr>
				<tr>
					<td class="text-system">Suministros</td>
					<td>{{ estimacion.suministros }}</td></tr>
				<tr>
					<td class="text-system">Ibi</td>
					<td>{{ estimacion.ibi }}</td></tr>
				<tr>
					<td class="text-system">otras tasas</td>
					<td>{{ estimacion.otras_tasas }}</td></tr>
				<tr>
					<td class="text-system">Amortización</td>
					<td>{{ estimacion.amortizacion }}</td></tr>
				<tr>
					<td class="text-system">Subvenciones</td>
					<td>{{ estimacion.subvenciones }}</td></tr>
				<tr>
					<td class="text-system">Rdo Enajenacion Inmovilizado</td>
					<td>{{ estimacion.enajenacion_inmovilizado }}</td></tr>
				<tr>
					<td class="text-system">Resultado Explotacion</td>
					<td>{{ estimacion.resultado_explotacion }}</td></tr>
				<tr>
					<td class="text-system">Resultado financiero</td>
					<td>{{ estimacion.resultado_financiero }}</td></tr>
				<tr>
					<td class="text-system">Ingresos financieros</td>
					<td>{{ estimacion.ingresos_financieros }}</td></tr>
				<tr>
					<td class="text-system">Gastos financieros</td>
					<td>{{ estimacion.gastos_financieros }}</td></tr>
				<tr>
					<td class="text-system">Otros Instrumentos financieros</td>
					<td>{{ estimacion.otros_instrumentos_financieros }}</td></tr>
				<tr>
					<td class="text-system">Resultado antes de impuestos</td>
					<td>{{ estimacion.resultado_antes_impuestos }}</td></tr>
				<tr>
					<td class="text-system">Impuestos</td>
					<td>{{ estimacion.impuestos }}</td></tr>
				<tr>
					<td class="text-system">Resultado del ejercicio</td>
					<td>{{ estimacion.resultados_ejercicio }}</td></tr>
				<tr>
					<td class="text-system">Dividendos generados</td>
					<td>{{ estimacion.dividendos_generados }}</td></tr>
				<tr>
					<td class="text-system">Dividendosa abonar</td>
					<td>{{ estimacion.dividendos_abonar }}</td></tr>
				<tr>
					<td class="text-system">Total Dividendos abonados</td>
					<td>{{ estimacion.total_dividendos_abonados }}</td></tr>
				<tr>
					<td class="text-system">Dividendos en cartera</td>
					<td>{{ estimacion.dividendos_cartera }}</td></tr>
				<tr>
					<td class="text-system">Total Dividendos Devengados</td>
					<td>{{ estimacion.total_dividendos_devengados }}</td></tr>
				<tr>
					<td class="text-system">Revalorización Inmueble</td>
					<td>{{ estimacion.revalorizacion_inmueble }}</td></tr>
				<tr>
					<td class="text-system">Valor Actual Inmueble</td>
					<td>{{ estimacion.valor_actual_inmueble }}</td></tr>

			</tbody>
		</table>
	</div>
</template>

<script>
    export default {
        props: ['estimacion'],
    }
</script>
