<template>
	<td>
        <template v-if="llave == 'abonado'">
            <template v-if="abonadoCheck">
                <template v-if="dataFormatted == 1">
                    <span class="label label-info">Abonado</span>
                </template>
                <template v-else-if="dataFormatted === 2">
                    <span class="label label-warning">Abonando</span>
                    <a :href="linkPreview" target="_blank" class="btn-block">Historial</a>
                </template>
                <template v-else>
                    <span class="label label-warning" v-if="abonando">Abonando</span>
                    <button type="button" class="btn btn-xs btn-primary btn-block" v-else v-on:click.once="abonarDividendos">Abonar</button>
                    <a :href="linkPreview" target="_blank" class="btn-block">Preview</a>
                </template>
            </template>
            <template v-else>
                <div class="empty"></div>
            </template>
        </template>
        <template v-else>
		{{ dataFormatted }}
        </template>
	</td>
</template>

<script>
    export default {
    	name: 'column-data',
        props: ['datos', 'mes', 'year', 'llave'],
        data: function() {
            return {
                'abonando': false,
            }
        },
        methods: {
        	abonarDividendos: function()
            {
                window.axios.post(propertyAbonarDividendos, {
                    'property_id' : this.$parent.$parent.property.id,
                    'mes' : this.mes,
                    'year' : this.year
                })
                .then((response) => {
                    this.abonando = true;
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        },
        computed: {
			dataFormatted: function()
            {
	        	return this.datos[this.mes][this.llave];
			},

            abonadoCheck: function()
            {
                if (this.datos[this.mes][this.llave] != null) {
                    return true
                } else {
                    return false
                }
            },

            abonadoType: function()
            {
                if(this.datos[this.mes][this.llave] === 1) {
                    return true
                } else {
                    return false
                }
            },

            linkPreview: function()
            {
                return propertyAbonarDividendosPreview.replace('_mes', this.mes).replace('_year', this.year);
            }
		}
    }
</script>
