<template>
	<div class="table-responsive">
		<table class="table table-borders table-condensed responsive">
			<thead>
				<tr class="system">
					<th colspan="2" class="text-center">Mes seleccionado: {{ monthLetter }}</th>
					<th colspan="2" class="text-center">Año: {{ year }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-system">Número de reservas</td>
					<td>{{ evolucion.numero_reservas }}</td></tr>
				<tr>
					<td class="text-system">Grado de Ocupación</td>
					<td>{{ evolucion.grado_ocupacion }}</td></tr>
				<tr>
					<td class="text-system">Nr de dias reservados</td>
					<td>{{ evolucion.dias_reservados }}</td></tr>
				<tr>
					<td class="text-system">Nr de Días No reservados</td>
					<td>{{ evolucion.dias_no_reservados }}</td></tr>
				<tr>
					<td class="text-system">Nr de días Bloqueados</td>
					<td>{{ evolucion.dias_bloqueados }}</td></tr>
				<tr>
					<td class="text-system">Tarifa media por día</td>
					<td>{{ evolucion.tarifa_media_dia }}</td></tr>
				<tr>
					<td class="text-system">Estimación Ingresos Anuales</td>
					<td>{{ evolucion.estimacion_ingresos_anuales }}</td></tr>
				<tr>
					<td class="text-system">Grado de Satisfacción Clientes</td>
					<td>{{ evolucion.satisfaccion_clientes }}</td></tr>
				<tr>
					<td class="text-system">Número de Invitados</td>
					<td>{{ evolucion.numero_invitados }}</td></tr>
				<tr>
					<td class="text-system">Ingresos totales</td>
					<td>{{ evolucion.ingresos_totales }}</td></tr>
				<tr>
					<td class="text-system">Ingresos alquiler</td>
					<td>{{ evolucion.ingresos_alquiler }}</td></tr>
				<tr>
					<td class="text-system">Ingresos venta</td>
					<td>{{ evolucion.ingresos_venta }}</td></tr>
				<tr>
					<td class="text-system">Otros ingresos</td>
					<td>{{ evolucion.otros_ingresos }}</td></tr>
				<tr>
					<td class="text-system">Gastos explotación</td>
					<td>{{ evolucion.gastos_explotacion }}</td></tr>
				<tr>
					<td class="text-system">Publicidad y prensa</td>
					<td>{{ evolucion.publicidad_prensa }}</td></tr>
				<tr>
					<td class="text-system">Otro material</td>
					<td>{{ evolucion.otro_material }}</td></tr>
				<tr>
					<td class="text-system">Gastos ventas</td>
					<td>{{ evolucion.gastos_ventas }}</td></tr>
				<tr>
					<td class="text-system">i+d</td>
					<td>{{ evolucion.i_mas_d }}</td></tr>
				<tr>
					<td class="text-system">Arrendamientos</td>
					<td>{{ evolucion.arrendamientos }}</td></tr>
				<tr>
					<td class="text-system">Comisiones Brickstarter	</td>
					<td>{{ evolucion.comisiones_crowdestate }}</td></tr>
				<tr>
					<td class="text-system">Gestion</td>
					<td>{{ evolucion.gestion }}</td></tr>
				<tr>
					<td class="text-system">Suministros</td>
					<td>{{ evolucion.suministros }}</td></tr>
				<tr>
					<td class="text-system">Ibi</td>
					<td>{{ evolucion.ibi }}</td></tr>
				<tr>
					<td class="text-system">otras tasas</td>
					<td>{{ evolucion.otras_tasas }}</td></tr>
				<tr>
					<td class="text-system">Amortización</td>
					<td>{{ evolucion.amortizacion }}</td></tr>
				<tr>
					<td class="text-system">Subvenciones</td>
					<td>{{ evolucion.subvenciones }}</td></tr>
				<tr>
					<td class="text-system">Rdo Enajenacion Inmovilizado</td>
					<td>{{ evolucion.enajenacion_inmovilizado }}</td></tr>
				<tr>
					<td class="text-system">Resultado Explotacion</td>
					<td>{{ evolucion.resultado_explotacion }}</td></tr>
				<tr>
					<td class="text-system">Resultado financiero</td>
					<td>{{ evolucion.resultado_financiero }}</td></tr>
				<tr>
					<td class="text-system">Ingresos financieros</td>
					<td>{{ evolucion.ingresos_financieros }}</td></tr>
				<tr>
					<td class="text-system">Gastos financieros</td>
					<td>{{ evolucion.gastos_financieros }}</td></tr>
				<tr>
					<td class="text-system">Otros Instrumentos financieros</td>
					<td>{{ evolucion.otros_instrumentos_financieros }}</td></tr>
				<tr>
					<td class="text-system">Resultado antes de impuestos</td>
					<td>{{ evolucion.resultado_antes_impuestos }}</td></tr>
				<tr>
					<td class="text-system">Impuestos</td>
					<td>{{ evolucion.impuestos }}</td></tr>
				<tr>
					<td class="text-system">Resultado del ejercicio</td>
					<td>{{ evolucion.resultados_ejercicio }}</td></tr>
				<tr>
					<td class="text-system">Dividendos generados</td>
					<td>{{ evolucion.dividendos_generados }}</td></tr>
				<tr>
					<td class="text-system">Dividendosa abonar</td>
					<td>{{ evolucion.dividendos_abonar }}</td></tr>
				<tr>
					<td class="text-system">Total Dividendos abonados</td>
					<td>{{ evolucion.total_dividendos_abonados }}</td></tr>
				<tr>
					<td class="text-system">Dividendos en cartera</td>
					<td>{{ evolucion.dividendos_cartera }}</td></tr>
				<tr>
					<td class="text-system">Total Dividendos Devengados</td>
					<td>{{ evolucion.total_dividendos_devengados }}</td></tr>
				<tr>
					<td class="text-system">Revalorización Inmueble</td>
					<td>{{ evolucion.revalorizacion_inmueble }}</td></tr>
				<tr>
					<td class="text-system">Valor Actual Inmueble</td>
					<td>{{ evolucion.valor_actual_inmueble }}</td></tr>

			</tbody>
		</table>
	</div>
</template>

<script>
    export default {
        props: ['evolucion', 'mes', 'year'],
        data: function() {
			return {
				months: [
					'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'
				]
			}
		},
        computed: {

			monthLetter: function() {
				return this.months[this.mes];
			},
			
		}
    }
</script>
