<template>
    <table class="table table-responsive table-bordered">
		<thead>
			<tr class="">
				<th colspan="9">Tabla de datos de seguimiento</th>
				<th colspan="4">
					<slot name="year-selector"></slot>
				</th>
			</tr>
			<tr>
			  <td>Información Reservas</td>
			  <td>Enero</td>
			  <td>Febrero</td>
			  <td>Marzo</td>
			  <td>Abril</td>
			  <td>Mayo</td>
			  <td>Junio</td>
			  <td>Julio</td>
			  <td>Agosto</td>
			  <td>Septiembre</td>
			  <td>Octubre</td>
			  <td>Noviembre</td>
			  <td>Diciembre</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  	<td>Número de reservas</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'numero_reservas'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Grado de Ocupación</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'grado_ocupacion'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Nr de dias reservados</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'dias_reservados'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Nr de Días No reservados</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'dias_no_reservados'"></column-data>
				</template>
			</tr>
			<tr>
			 	<td>Nr de días Bloqueados</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'dias_bloqueados'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Tarifa media por día</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'tarifa_media_dia'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Estimación Ingresos Anuales</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'estimacion_ingresos_anuales'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Grado de Satisfacción Clientes</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'satisfaccion_clientes'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Número de Invitados</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'numero_invitados'"></column-data>
				</template>
			</tr>
			<tr>
			  <td colspan="13"> </td>
			</tr>
			<tr>
				<td>Información Financiera</td>
				<td>Enero</td>
				<td>Febrero</td>
				<td>Marzo</td>
				<td>Abril</td>
				<td>Mayo</td>
				<td>Junio</td>
				<td>Julio</td>
				<td>Agosto</td>
				<td>Septiembre</td>
				<td>Octubre</td>
				<td>Noviembre</td>
				<td>Diciembre</td>
			</tr>
			<tr>
			  	<td>Ingresos totales</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'ingresos_totales'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Ingresos alquiler</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'ingresos_alquiler'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Ingresos venta</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'ingresos_venta'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Otros ingresos</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'otros_ingresos'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Gastos explotación</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'gastos_explotacion'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Publicidad y prensa</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'publicidad_prensa'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Otro material</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'otro_material'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Gastos ventas</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'gastos_ventas'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>i+d</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'i_mas_d'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Arrendamientos</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'arrendamientos'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Comisiones Brickstarter</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'comisiones_crowdestate'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Gestión</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'gestion'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Suministros</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'suministros'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Ibi</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'ibi'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>otras tasas</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'otras_tasas'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Amortización</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'amortizacion'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Subvenciones</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'subvenciones'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Rdo Enajenación Inmovilizado</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'enajenacion_inmovilizado'"></column-data>
				</template>
			</tr>
			<tr>
			 	<td>Resultado explotación</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'resultado_explotacion'"></column-data>
				</template>
			</tr>
			<tr>
			 	<td>Resultado financiero</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'resultado_financiero'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Ingresos financieros</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'ingresos_financieros'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Gastos financieros</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'gastos_financieros'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Otros Instrumentos financieros</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'otros_instrumentos_financieros'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Resultado antes de impuestos</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'resultado_antes_impuestos'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Impuestos</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'impuestos'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Resultado del ejercicio</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'resultados_ejercicio'"></column-data>
				</template>
			</tr>
			<tr>
			  <td colspan="13"> </td>
			</tr>
			<tr>
				<td>Dividendos</td>
				<td>Enero</td>
				<td>Febrero</td>
				<td>Marzo</td>
				<td>Abril</td>
				<td>Mayo</td>
				<td>Junio</td>
				<td>Julio</td>
				<td>Agosto</td>
				<td>Septiembre</td>
				<td>Octubre</td>
				<td>Noviembre</td>
				<td>Diciembre</td>
			</tr>
			<tr>
			  	<td>Dividendos generados</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'dividendos_generados'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Dividendosa abonar</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'dividendos_abonar'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Total Dividendos abonados</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'total_dividendos_abonados'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Dividendos en cartera</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'dividendos_cartera'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Total Dividendos Devengados</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'total_dividendos_devengados'"></column-data>
				</template>
			</tr>
			<tr>
			  <td colspan="13"> </td>
			</tr>
			<tr>
				<td>Información Patrimonial</td>
				<td>Enero</td>
				<td>Febrero</td>
				<td>Marzo</td>
				<td>Abril</td>
				<td>Mayo</td>
				<td>Junio</td>
				<td>Julio</td>
				<td>Agosto</td>
				<td>Septiembre</td>
				<td>Octubre</td>
				<td>Noviembre</td>
				<td>Diciembre</td>
			</tr>
			<tr>
			  	<td>Revalorización Inmueble</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'revalorizacion_inmueble'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Valor Actual Inmueble</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'valor_actual_inmueble'"></column-data>
				</template>
			</tr>
			<tr>
			  	<td>Abonado</td>
				<template v-for="(value, index) in months">
					<column-data :datos="evolucion" :mes="value" :year="year" :llave="'abonado'"></column-data>
				</template>
			</tr>
		</tbody>
	</table>
</template>

<script>


	Vue.component('column-data', require('./EvolucionTableColumnsData.vue'));

    export default {
    	props: ['evolucion', 'year'],
    	data: function() {
			return {
				months: [
					'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'
				]
			}
		},
    	
    }
</script>
