<template >
    <div id="mixitup-container" class="grid" v-masonry  transition-duration="1s" item-selector=".mix">
        <template v-for="(photo, index) in photos">
            <div class="mix mr20" v-masonry-tile>
                <div class="panel image-panel p6 ">
                    <div class="image-mix of-h">
                        <img :src="photo.url" class="img-responsive">
                        <div class="hover-img">
                            <button class="btn btn-xl btn-danger" v-on:click="removeImage(photo.id, index)">
                                Eliminar <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row table-layout">
                        <div class="col-xs-12 va-m pt10 pb10 bg-light dark">
                            <div class="pull-left">
                                <button class="btn btn-sm btn-primary"  v-on:click="guardarTexto(photo)">Guardar texto</button>
                            </div>
                            <div class="pull-left" v-if="photo.order_column != '1'">
                                <button class="btn btn-sm btn-primary" v-on:click="makePrincipal(photo.id, index)">Hacer principal</button>
                            </div>
                        </div>
                    </div>
                    <div class="row table-layout">
                        <textarea maxlength="80" class="form-control" style="height:80" v-model="photo.text"></textarea>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    export default {
        props: ['photos'],
        mounted() {
        	//
        },
        methods: {
			removeImage(photoId, index) {

                window.axios.post(propertyDestroyPhotoRoute, {'mediaId' : photoId})
                .then((response) => {
                    this.photos.splice(index, 1)
                })
                .catch((error) => {
                    console.log(error)
                })
                // this.$parent.$options.methods.removePhoto(photoId, index)
            },

            makePrincipal(photoId, index) {

                window.axios.post(propertyPrincipalPhotoRoute, {'mediaId' : photoId})
                .then((response) => {
                    this.$parent.$data.photos = response.data.data
                    new PNotify({
                        text: "Imagen principal cambiada",
                        type: "info",
                    });
                })
                .catch((error) => {
                    console.log(error);
                    new PNotify({
                        text: "Error al intentar cambiar la imagen",
                        type: "error",
                    });
                })

            },

            guardarTexto(photo) {

                window.axios.post(propertyTextoPhotoRoute, {'mediaId' : photo.id, 'text' : photo.text})
                .then((response) => {
                    new PNotify({
                        text: "Texto Guardado",
                        type: "info",
                      });
                })
                .catch((error) => {
                    new PNotify({
                        text: "Error al guardar",
                        type: "error",
                      });
                })

            }
		},
    }
</script>
