<template>
	<div class="xs-4 m-6 l-4 col  mb-48">
		<div  class="property button__hover  |  exclude-svg  d-block pmv-0">
			

			<div class="property__picture overlay overlay--vertical  |  p-relative all-w bg":style="{ backgroundImage: `url('${order.property.image}')` }">

				<div class="property__status  |  pv-8 ph-24" :class="{'property__status--comprando': order.type == 1}">
					<h5 class="mv-0">{{ order.typeText }}</h5>
				</div>

				<div class="property__title  |  xs-4 ph-24 pb-16">
					<h4 class="mv-0">{{ order.property.nombre }}</h4>
					<p class="small-text  mv-0">
						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" class="mr-4" style="margin-left:2px"><path fill="#36D9B6" fill-rule="nonzero" d="M6 0C2.686 0 0 2.505 0 5.594 0 8.32 1.656 11.952 6 16c4.344-4.048 6-7.68 6-10.406C12 2.504 9.314 0 6 0zm0 7.03c-1.238 0-2.242-.935-2.242-2.089 0-1.152 1.004-2.088 2.242-2.088s2.24.936 2.24 2.088c0 1.154-1.002 2.088-2.24 2.088z"></path></svg>
						{{ order.property.direccion }}
						<br>

						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="margin-right:2px"><path fill="#36D9B6" fill-rule="nonzero" d="M18.513 7.119c.958-1.143 1.487-2.577 1.487-4.036v-3.083h-16v3.083c0 1.459.528 2.892 1.487 4.035l3.087 3.68c.566.677.57 1.625.009 2.306l-3.13 3.794c-.937 1.136-1.453 2.555-1.453 3.995v3.107h16v-3.107c0-1.44-.517-2.858-1.453-3.994l-3.13-3.794c-.562-.681-.558-1.629.009-2.306l3.087-3.68zm-.513-4.12c0 1.101-.363 2.05-1.02 2.834l-.978 1.167h-8.004l-.978-1.167c-.66-.785-1.02-1.736-1.02-2.834h12zm-.996 15.172c.652.791.996 1.725.996 2.829h-1.061c-1.939-2-4.939-2-4.939-2s-3 0-4.939 2h-1.061c0-1.104.344-2.039.996-2.829l3.129-3.793c.342-.415.571-.886.711-1.377h.164v1h2v-1h.163c.141.491.369.962.711 1.376l3.13 3.794zm-6.004-1.171h2v1h-2v-1zm0-2h2v1h-2v-1z"/></svg>

						{{ order.property.remaining }}
					</p>
				</div>

			</div>



			<div class="property__info  |  clearfix  pt-24 ph-24 pb-32">

				<div class="d-table  xs-4 pv-8">
					<div class="d-cell v-middle  pr-8">
						<p class="small-text nowrap  c-1  pmv-0">{{ userString }}:</p>
					</div>
					<div class="d-cell  xs-4  v-middle"><span class="line"></span></div>
					<div class="d-cell v-middle  pl-8">
						<h5 class="c-2 nowrap  pmv-0">{{ order.user.nombre }}</h5>
					</div>
				</div>
				
				<div class="d-table  xs-4 pv-8">
					<div class="d-cell v-middle  pr-8">
						<p class="small-text nowrap  c-1  pmv-0" v-if="order.type == 1">{{ sellString }}:</p>
						<p class="small-text nowrap  c-1  pmv-0" v-if="order.type == 2">{{ buyString }}:</p>
					</div>
					<div class="d-cell  xs-4  v-middle"><span class="line"></span></div>
					<div class="d-cell v-middle  pl-8">
						<h5 class="c-2 nowrap  pmv-0">{{ formatCurrency(order.quantity) }}</h5>
					</div>
				</div>

				<div class="d-table  xs-4 pv-8">
					<div class="d-cell v-middle  pr-8">
						<p class="small-text nowrap  c-1  pmv-0">{{ byString }}:</p>
					</div>
					<div class="d-cell  xs-4  v-middle"><span class="line"></span></div>
					<div class="d-cell v-middle  pl-8">
						<h5 class="c-2 nowrap  pmv-0">{{ formatCurrency(order.priceMoney) }} ({{ order.price }}%)</h5>
					</div>
				</div>
				
				<div class="clearfix mb-24"></div>

				<a :href="order.link" class="button button--small button--full" v-if="order.type == 1">
					{{ buyNowString }}
				</a>
				<a :href="order.link" class="button button--small button--full" v-if="order.type == 2">
					{{ sellNowString }}
				</a>
				
			</div>
		</div>
	</div>
</template>

<script>
	import Vue2Filters from 'vue2-filters'
	export default {
		name: 'property',

		props: {
			order: {
				type: Object,
				required: true,
			},
			userString: {
				type: String,
				default: 'User'
			},
			byString: {
				type: String,
				default: 'By'
			},
			sellString: {
				type: String,
				default: 'Sell'
			},
			buyString: {
				type: String,
				default: 'Buy'
			},
			sellNowString: {
				type: String,
				default: 'Sell now'
			},
			buyNowString: {
				type: String,
				default: 'Buy now'
			}
		},

        data: () => ({
        	
        }),

        methods: {
        	formatCurrency(value) {
				if (!value) {
					value = 0;
				}
				return this.$options.filters.currency(value, '€', 2, {
					symbolOnLeft: false,
					thousandsSeparator: '.',
					decimalSeparator: ',' 
				}) 
			}
		},

        computed: {
            //
        },

        mixins: [Vue2Filters.mixin],
    }
</script>