<template>
	<div>
	    <p>
	    	Periodo financiación: <strong>{{ resumen.periodo_financiacion }}</strong> <br>
	    	Horizonte temporal: <strong>{{ resumen.horizonte_temporal }}</strong> <br>
			Valor mercado: <strong>{{ resumen.valor_mercado }}</strong> <br>
			Valor compra: <strong>{{ resumen.valor_compra }}</strong> <br>
			Coste total: <strong>{{ resumen.coste_total }}</strong> <br>
			Hipoteca: <strong>{{ resumen.hipoteca }}</strong> <br>
			Objetivo: <strong>{{ resumen.objetivo }}</strong> <br>
			importe mínimo: <strong>{{ resumen.importe_minimo }}</strong> <br>
			Rentabilidad alquiler bruta: <strong>{{ resumen.rentabilidad_alquiler_bruta }}</strong> <br>
			Rentabilidad alquiler neta: <strong>{{ resumen.rentabilidad_alquiler_neta }}</strong> <br>
			Rentabilidad objetivo bruta: <strong>{{ resumen.rentabilidad_objetivo_bruta }}</strong> <br>
			Rentabilidad objetivo neta: <strong>{{ resumen.rentabilidad_objetivo_neta }}</strong> <br>
			Rentabilidad anual: <strong>{{ resumen.rentabilidad_anual }}</strong> <br>
			Rentabilidad total: <strong>{{ resumen.rentabilidad_total }}</strong> <br>
			Tasa interna rentabilidad: <strong>{{ resumen.tasa_interna_rentabilidad }}</strong>
		</p>
		<hr>
		<p>
			Coste obras: <strong>{{ resumen.coste_obras }}</strong> <br>
			Impuestos trámites: <strong>{{ resumen.impuestos_tramites }}</strong> <br>
			Registro sociedad: <strong>{{ resumen.registro_sociedad }}</strong> <br>
			Otros costes: <strong>{{ resumen.otros_costes }}</strong> <br>
			Imprevistos: <strong>{{ resumen.imprevistos }}</strong> <br>
			Caja mínima: <strong>{{ resumen.caja_minima }}</strong> <br>
			Honorarios: <strong>{{ resumen.honorarios }}</strong> <br>
			Ingresos anuales alquiler: <strong>{{ resumen.ingresos_anuales_alquiler }}</strong><br>
			Importe Venta: <strong>{{ resumen.importe_venta }}</strong><br>
			Compraventa margen bruto: <strong>{{ resumen.compra_venta_margen_bruto }}</strong>
		</p>
	</div>
</template>

<script>
    export default {
        props: ['resumen'],
    }
</script>
