<template>
    <div class="relative">
        <table class="table table-responsive">
            <thead>
                <tr class="system">
                    <th>Tipo de Movimiento</th>
                    <th>Autoinvest</th>
                    <th>Importe</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
				<template v-for="(transaction, index) in transactions">
                    <tr :key="index">
                        <td v-html="transaction.type"></td>
                        <td>
                            <span v-if="transaction.autoinvest">
                                {{ transaction.autoinvest == 'property' ? 'Propiedad' : 'Marketplace' }}
                            </span>
                            <span v-else>
                                -
                            </span>
                        </td>
                        <td>
                            {{ transaction.money_format }}
                        </td>
                        <td>{{ transaction.fecha }}</td>
                        <td v-html="transaction.status"></td>
                    </tr>
				</template>
                <tr v-show="next_page">
                    <td colspan="4" class="text-center">
                        <button v-on:click="getTransactions()" class="btn btn-primary">
                            {{ loading ? 'Cargando más transacciones...' : 'Ver más transacciones' }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['user_id'],
        data() {
            return {
                loading: true,
                transactions: [],
                next_page: null
            }
        },
        mounted() {
            this.next_page = '/api/v1/user/transactions/' + this.user_id;
            this.getTransactions();
        },
        methods: {
			getTransactions() {
                this.loading = true;
                window.axios.get(this.next_page)
                .then((response) => {
                    this.transactions = this.transactions.concat(response.data.data);
                    this.next_page = response.data.pagination.links.next;
                    this.loading = false;
                })
                .catch((error) => {
                    console.error(error);
                    this.loading = false;
                })
            }
        }
    }
</script>