/*
 CUSTOM STYLES
*/
.navbar.navbar-fixed-top + #sidebar_left + #content_wrapper{
    top: -20px;
}

.sb-l-o .navbar.navbar-fixed-top + #sidebar_left + #content_wrapper{
    top: 0;
}

.sidebar-menu > li > ul > li > a > span:nth-child(1) {
    display: inline-block;
    padding-right: 5px;
}



body.utility-page #main {
    overflow: hidden;
    background: url("assets/img/patterns/backgrounds/pattern.svg")  #2d494d;
    background-size:cover;
}

.sidebar-left-content{
	box-shadow: none;
}

.btn-complete {
    color: #ffffff;
    background-color: #67d3e0;
    margin-right:10px;
}

.btn-complete:hover,
.btn-complete:focus,
.btn-complete:active,
.btn-complete.active {
    color: #ffffff;
    background-color: #47cada;
    border-color: rgba(0, 0, 0, 0.05);
}

.bg-transparent{
    border: none !important;
    position: relative;
    padding-bottom: 0;
    bottom: -5px;
}

.photo-preview{
    max-height: 250px;
    max-width: 100%;
    display: block;
}

/*  Table odd */

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
    background-color: #f5f6f7;
}

/* Form switch */

.custom.switch label{
    width: 58px;
    height: 36px;
}

.custom.switch label:after{
    width: 24px;
    height: 28px;
}

/* Errores select2 */
.select2-single.parsley-error + .select2-container .select2-selection__rendered{
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

/* Canciones */

.header-table-tracks{
    background-color: #675F99;
    color: #FFF;
    font-weight: bold;
}

.track
{
  border: solid thin #e3e3e3;
  padding: 1em;
  color:#FFF !important;
}
.track-row
{
  margin-bottom: 0.5em;
  color: #fff;
  font-weight: bold;
}

/* Validation Errors */
.state-error{
    display: block!important;
    margin-top: 6px;
    padding: 0 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 0.85em;
    color: #DE888A;
}

.state-error.photo{
    margin-bottom: 15px;
    text-align: center;   
}

.bootstrap-maxlength.label {
    margin-top: -10px;
}

/* Logo Imagen */
.navbar-logo-image {
    display: inline-block;
}


/** Helpers */

.no-box-shadow{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-right: right;
}


.image-icon{
    width:104px;
    height:104px;
}

/** Fix checkboxes blog */
.cb-fix:after{
    top: 5px !important;
}

.inline-block{
    display: inline-block !important;
}

.inline{
    display: inline !important;
}

.pointer{
    cursor: pointer;
}

/** Min Heights */

.mh100{
    min-height: 100px !important;
}



/** Blog styles */
.simplecolorpicker.fontawesome span.color[data-selected]:after {
    font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;

    content: '\f00c'; /* Ok/check mark */

    margin-right: 1px;
    margin-left: 1px;
}

.simplecolorpicker span {
    width: 20px;
}


.checkbox-custom:hover > .cat-options{
    display:block;
}

.cat-options{
    display:none;
}