.datepicker.dropdown-menu {
		  padding: 0;
		  background-clip: border-box;
		  border: none;
		  border-radius: 0;
		  -webkit-animation: popup .2s ease-out forwards;
		          animation: popup .2s ease-out forwards;
		}
		.datepicker.dropdown-menu table {
		  background-color: #1b7983;
		}
		.datepicker.dropdown-menu table thead {
		  background-color: #1b7983;
		}
		.datepicker.dropdown-menu table thead tr {
		  border-top: 0;
		}
		.datepicker.dropdown-menu table tbody {
		  background-color: white;
		}
		.datepicker.dropdown-menu table tr {
		  border-top: 1px solid #ededed;
		}
		.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
		  width: auto;
		  height: 24px;
		  padding: 8px;
		  font-size: 16px;
		  border-radius: 0;
		  -webkit-transition: background-color .6s ease-out;
		  transition: background-color .6s ease-out;
		}
		@media screen and (min-width: 400px) {
		  .datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
		    padding: 12px;
		  }
		}
		.datepicker.dropdown-menu table tr td:hover, .datepicker.dropdown-menu table tr td.active:hover, .datepicker.dropdown-menu table tr td:active:hover, .datepicker.dropdown-menu table tr th:hover, .datepicker.dropdown-menu table tr th.active:hover, .datepicker.dropdown-menu table tr th:active:hover {
		  border-color: #ededed;
		  border-radius: 0;
		  -webkit-transition: background-color .2s ease-out;
		  transition: background-color .2s ease-out;
		}
		.datepicker.dropdown-menu table tr td.focused, .datepicker.dropdown-menu table tr td.selected, .datepicker.dropdown-menu table tr th.focused, .datepicker.dropdown-menu table tr th.selected {
		  background-color: #24A0AD;
		  border-color: #ededed;
		  border-radius: 0;
		}
		.datepicker.dropdown-menu table tr td.active, .datepicker.dropdown-menu table tr td.active:focus, .datepicker.dropdown-menu table tr td.active.active:hover, .datepicker.dropdown-menu table tr td:active:focus, .datepicker.dropdown-menu table tr td.highlighted, .datepicker.dropdown-menu table tr th.active, .datepicker.dropdown-menu table tr th.active:focus, .datepicker.dropdown-menu table tr th.active.active:hover, .datepicker.dropdown-menu table tr th:active:focus, .datepicker.dropdown-menu table tr th.highlighted {
		  background-color: #1b7983;
		  border-color: #ededed;
		}
		.datepicker.dropdown-menu table tr th.datepicker-switch {
		  font-size: 12px;
		  font-weight: bold;
		  line-height: 2;
		  text-transform: uppercase;
		  letter-spacing: .05em;
		  color: #ffffff;
		  background-color: inherit;
		  border-radius: 0;
		}
		.datepicker.dropdown-menu table tr th.prev,
		.datepicker.dropdown-menu table tr th.next {
		  color: #ffffff;
		  background-color: #17656e;
		  border-radius: 0;
		}
		.datepicker.dropdown-menu table tr th.dow {
		  padding: 2px 12px;
		  font-size: 12px;
		  line-height: 2;
		  color: #ffffff;
		  background-color: #19717a;
		  border-top: 1px solid #196d76;
		  border-radius: 0;
		}
		.datepicker.dropdown-menu table tr td.day {
		  width: 24px;
		  border-right: 1px solid #ededed;
		}
		.datepicker.dropdown-menu table tr td.day:last-child {
		  border-right-width: 0;
		}
		.datepicker.dropdown-menu table tr td.range {
		  background-color: #eeeeee;
		}
		.datepicker.dropdown-menu .new,
		.datepicker.dropdown-menu .old,
		.datepicker.dropdown-menu .disabled,
		.datepicker.dropdown-menu .disabled:hover {
		  color: #ccc;
		}

		@-webkit-keyframes popup {
		  from {
		    opacity: 0;
		    -webkit-transform: translateY(12px);
		            transform: translateY(12px);
		  }
		  to {
		    opacity: 1;
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		  }
		}

		@keyframes popup {
		  from {
		    opacity: 0;
		    -webkit-transform: translateY(12px);
		            transform: translateY(12px);
		  }
		  to {
		    opacity: 1;
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		  }
		}