/**
	==========================================================================
	#COLORES
	========================================================================== 
	*
	* CONTENTS
	*
	* COMPONENTS
	* 	Base...................Configuración de los colores genéricos.
	* 	Main colors............Configuración de los colores principales del tema.
	* 	Gray colors............Configuración de la paleta de grises.
	* 	Palette colors.........Configuración de la paleta generica de colores.
	* 	Notifications..........Configuración de los colores de notificaciones.
	* 	Gradients..............Configuración de gradientes.
	* 	Social colors..........Configuración de los colores de diferentes redes sociales.
	* 
	* 
	* 
	* COMMENTS
	* 
	* - Tanto los colores de "base" como de "palette colors" y "notifications" son los que 
	*   podemos usar más tarde en el html como clases. El resto de colores son apoyo para 
	*   crear los estilos.
	* - Una buena práctica es asociar "gray colors" a la paleta si los vamos a usar bastante.
	* - Los "social colors" corresponden a los colores de las diferentes marcas.
	* 
	*/








/*	==========================================================================
	#BASE
	========================================================================== */
	
	/* 
		Por defecto existen "whiteColor" y "blackColor", que sirven como colores 
		de clase. Pero podemos añadir los colores que creamos oportunos como 
		colores básicos para uso interno.	
	*/
			
	whiteColor = #fff
	blackColor = #000
	





/*	==========================================================================
	#MAIN COLORS
	========================================================================== */
	
	/* 
		Tanto "mainColor" como "secondaryColor" sirven como colores de clase.
		Son los dos únicos colores principales y no se aceptan más
	*/
		
	mainColor      =  #37D9B6 // 		Azul  
	secondaryColor =  #7B3EEE //		Naranja

	




/*	==========================================================================
	#GRAY COLORS
	========================================================================== */
	
	/* 
		La paleta de grises solo sirve para uso interno. Esta formada por un total 
		de 10 colores que podemos desactivar igualandolos a "null". Son de uso 
		interno. Si queremos usarlos como clases debemos añadirlos a la paleta 
		general:
			
			paletteX = grayY
				
	*/
		
	gray1  = null //	 			none
	gray2  = null //	 			none
	gray3  = null //	 			none
	gray4  = null //				none
	gray5  = null //	 			none
	gray6  = null //	 			none
	gray7  = null //	 			none
	gray8  = null //	 			none
	gray9  = null //	 			none
	gray10 = null //				none






/*	==========================================================================
	#PALETTE COLORS
	========================================================================== */	
	
	/* 
		La paleta de colores sirve tanto para uso interno como para usarlos como
		clases. Esta formada por un total de 20 colores que podemos desactivar 
		igualandolos a "null".			
	*/
		
	palette1  = #212121 //	 		Negro: Color Gris textos
	palette2  = #909090 //	 		Gris 1
	palette3  = #dcdcdc //	 		Gris 2
	palette4  = #F3F3F3 //			Gris 3: Color gris claro fondos
	palette5  = #e7e7e7 //	 		Gris 4: Color Gris bordes
	palette6  = #979797 //			none
	palette7  = null //				none
	palette8  = null //				none
	palette9  = null //				none
	palette10 = null //				none
	palette11 = null //				none
	palette12 = null //				none
	palette13 = null //				none
	palette14 = null //				none
	palette15 = null //				none
	palette16 = null //				none
	palette17 = null //				none
	palette18 = null //				none
	palette19 = null //				none
	palette20 = null //				none
	





/*	==========================================================================
	#NOTIFICATIONS
	========================================================================== */
	
	/* 
		Los colores de notificaciones sirven tanto para uso interno como para 
		usarlos como clases. Definen los estados de "Success", "Error" y "Notification"			
	*/
		
	colorSuccess 	  = mainColor
	colorError   	  = #ee596b
	colorNotification = yellow
	


	


/*	==========================================================================
	#GRAY
	========================================================================== */
	
	/*
		Pon aquí tus gradientes para poder reutilizarlos
	*/
		
	// gradientBlackRadial    = radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 100%)




/*	==========================================================================
	#SOCIAL COLORS
	========================================================================== */
	
	/*
		Colores de las principales redes sociales.
	*/
		
	colorFacebook   = #3b5998
	colorTwitter    = #55acee
	colorYoutube    = #cd201f
	colorBehance    = #1769FF
	colorInstagram  = #d63675
	colorSpotify    = #2EBD59
	colorDribbble   = #EA4C89
	colorPinterest  = #CC2127
	colorGoogleplus = #CC3732
	colorLinkedin   = #0077B5




