/**
	==========================================================================
	#TYPOGRAPHIES
	========================================================================== 
	*
	* CONTENTS
	*
	* COMPONENTS
	* 	General................Configuración general de las tipografías.
	* 	Body...................Configuración de las tipografías en el body.
	* 	Heading 1..............Configuración de los "h1" y ".h1".
	* 	Heading 2..............Configuración de los "h2" y ".h2".
	* 	Heading 3..............Configuración de los "h3" y ".h3".
	* 	Heading 4..............Configuración de los "h4" y ".h4".
	* 	Heading 5..............Configuración de los "h5" y ".h5".
	* 	Heading 6..............Configuración de los "h6" y ".h6".
	* 	Text...................Configuración de los "p", "a", "li" y ".text".
	* 	Big text...............Configuración de los textos asociados a ".big-text".
	* 	Small text.............Configuración de los textos asociados a ".small-text".
	* 
	* 
	* 
	* COMMENTS
	* 
	* - Aquellas características que no queramos usar, igualar a "null".
	* - Hay que incluir las tipografías para poder usarlas.
	* 
	*/








/*	==========================================================================
	#GENERAL
	========================================================================== */
   	   	
   	// Tipografías
	mainTypography      = 'futura-pt', serif
	secondaryTypography = null


	// activar breakpoints en los que se quiere trabajar las tipografías. Una 
	// vez activos se puede activar/desactivar individualmente para cada grupo.
	showTypographies = {
		"minMH"  : false,
		"minTV"  : true,
		"minTH"  : false,
		"minLAP" : false,
		"minDESK": false,
	}
	

	// Grosores de tipos generales. Se usan también para clases en el html.
	wThin     = 100
	wLight    = 300
	wRegular  = 400
	wMedium   = 500
	wSemibold = 600
	wBold     = 700
	wBlack    = 900

	




/*	==========================================================================
	#BODY
	========================================================================== */
	
	/* 
		Configuración de la tipografía a nivel del body. Es importante setear 
		el "font-size" a 16px si se va a trabajar en rem. Igualar a "null" lo 
		que no sea necesario.
	*/
		
	body = {
		font-family:     mainTypography,
		color:           palette1,
		font-weight:     wRegular,
		font-style:      normal,
		letter-spacing:  null,

		font-size:       20px,
		line-height:     32px,
	}






/*	==========================================================================
	#HEADING 1
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "h1" y ".h1". Configuración
		general y para cada breakpoint. "minMV" es la configuración por defecto.
		Igualar a "null" lo que no sea necesario.
	*/
		
	heading1 = {
		font-family:     null,
		color:           null,
		font-weight:     wBold,
		font-style:      null,
		letter-spacing:  -0.6px,
		"minMV": {
			font-size:       rem(56),
			line-height:     rem(64),
			margin:          (baseline*2) 0,
			padding:         (baseline/2) 0,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            true,
			font-size:       rem(74),
			line-height:     rem(84),
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customHeading1()
	





/*	==========================================================================
	#HEADING 2
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "h2" y ".h2". Configuración
		general y para cada breakpoint. "minMV" es la configuración por defecto.
		Igualar a "null" lo que no sea necesario.
	*/
		
	heading2 = {
		font-family:     null,
		color:           null,
		font-weight:     wBold,
		font-style:      null,
		letter-spacing:  -0.6px,
		"minMV": {
			font-size:       rem(46),
			line-height:     rem(56),
			margin:          (baseline*2) 0,
			padding:         6px 0 2px,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            true,
			font-size:       rem(62),
			line-height:     rem(72),
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customHeading2()






/*	==========================================================================
	#HEADING 3
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "h3" y ".h3". Configuración
		general y para cada breakpoint. "minMV" es la configuración por defecto.
		Igualar a "null" lo que no sea necesario.
	*/
		
	heading3 = {
		font-family:     null,
		color:           null,
		font-weight:     wBold,
		font-style:      null,
		letter-spacing:  -0.6px,
		"minMV": {
			font-size:       rem(32),
			line-height:     rem(48), 
			margin:          (baseline*2) 0,
			padding:         (baseline/2) 0,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null, 
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            true,
			font-size:       rem(46),
			line-height:     rem(56), 
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customHeading3()
	





/*	==========================================================================
	#HEADING 4
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "h4" y ".h4". Configuración
		general y para cada breakpoint. "minMV" es la configuración por defecto.
		Igualar a "null" lo que no sea necesario.
	*/
		
	heading4 = {
		font-family:     null,
		color:           null,
		font-weight:     wBold,
		font-style:      null,
		letter-spacing:  -0.6px,
		"minMV": {
			font-size:       rem(24),
			line-height:     rem(28),
			margin:          (baseline*2) 0,
			padding:         (baseline/2) 0,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customHeading4()






/*	==========================================================================
	#HEADING 5
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "h5" y ".h5". Configuración
		general y para cada breakpoint. "minMV" es la configuración por defecto.
		Igualar a "null" lo que no sea necesario.
	*/
		
	heading5 = {
		font-family:     null,
		color:           null,
		font-weight:     wBold,
		font-style:      null,
		letter-spacing:  -0.6px,
		"minMV": {
			font-size:       rem(18),
			line-height:     rem(24),
			margin:          (baseline*2) 0,
			padding:         (baseline/2) 0,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customHeading5()
	





/*	==========================================================================
	#HEADING 6
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "h6" y ".h6". Configuración
		general y para cada breakpoint. "minMV" es la configuración por defecto.
		Igualar a "null" lo que no sea necesario.
	*/
		
	heading6 = {
		font-family:     null,
		color:           null,
		font-weight:     wRegular,
		font-style:      italic,
		letter-spacing:  null,
		"minMV": {
			font-size:       rem(29),
			line-height:     rem(48),
			margin:          (baseline*2) 0,
			padding:         (baseline/2) 0,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customHeading6()
	





/*	==========================================================================
	#TEXT
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "p", "a", "li" y ".text".  
		Configuración general y para cada breakpoint. "minMV" es la configuración 
		por defecto. Igualar a "null" lo que no sea necesario.
	*/
		
	text = {
		font-family:     null,
		color:           null,
		font-weight:     null,
		font-style:      null,
		letter-spacing:  null,
		"minMV": {
			font-size:       null,
			line-height:     null,
			margin:          (baseline*2) 0,
			padding:         (baseline/2) 0,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customText()
	





/*	==========================================================================
	#BIG TEXT
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "p", "a" y "li" con la clase 
		".big-text" o hijos. Configuración general y para cada breakpoint. 
		"minMV" es la configuración por defecto. Igualar a "null" lo que no 
		sea necesario.
	*/
		
	bigText = {
		font-family:     null,
		color:           null,
		font-weight:     null,
		font-style:      null,
		letter-spacing:  null,
		"minMV": {
			font-size:       rem(26),
			line-height:     rem(44),
			margin:          null,
			padding:         null,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customBigText()
	





/*	==========================================================================
	#SMALL TEXT
	========================================================================== */
	
	/* 
		Configuración de la tipografía para los "p", "a" y "li" con la clase 
		".small-text" o hijos. Configuración general y para cada breakpoint. 
		"minMV" es la configuración por defecto. Igualar a "null" lo que no 
		sea necesario.
	*/
		
	smallText = {
		font-family:     null,
		color:           null,
		font-weight:     null,
		font-style:      null,
		letter-spacing:  null,
		"minMV": {
			font-size:       rem(16),
			line-height:     rem(24),
			margin:          null,
			padding:         null,
		},
		"minMH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTH": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			show:            false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		}
	}
	
	// Si quieres añadir más estilo por defecto usa el siguiente mixin
	// customSmallText()
		




