/**
	==========================================================================
	#BUTTONS
	========================================================================== 
	*
	* CONTENTS
	*
	* SETTINGS
	* 	Variables...............Globally-available variables and config.
	*
	* COMPONENTS
	* 	General..............Button elements.
	* 	States...............Button elements.
	* 	Tamaños..............Button elements.
	* 	Especiales...........Button elements.
	*/
	







/*	==========================================================================
	#BUTTON 1 GENERAL CONFIGURATION
	========================================================================== */
	
	button = {
		
		// typographic configuration.
		"text": {
			font-family     : null,
			font-size       : rem(24),
			font-style      : null,
			line-height     : rem(48),
			font-weight     : wBlack,
			letter-spacing  : -0.06em,
			color           : whiteColor,
			text-shadow     : null
		},
		
		// Space configuration.
		"box-model": {
			padding    : 8px 40px,
			margin     : 0,
			box-shadow : none,
		},
		
		// Visual config.
		"visual": {
			border-radius       : 5px,
			background-gradient : null,
			background-color    : secondaryColor,
			border              : none,
		},
		
		// Visual config.
		"hover": {
			speed               : tNormal,
			background-gradient : null,
			background-color    : darken(secondaryColor, 20%),
			color               : whiteColor,
		}
		
		"active": {
			sameAsHover         : true,
			background-gradient : null,
			background-color    : null,
			color               : null,
		}
		
	}
	
	// extraInfo()
		


	
	// @media screen and (min-width minTV)
	buttonSizeTV    		= null
	buttonLHeightTV 		= null
	
	
	// @media screen and (min-width minTH)
	buttonSizeTH    		= null
	buttonLHeightTH 		= null






/*	==========================================================================
	##BUTTON 2 GENERAL CONFIGURATION
	========================================================================== */


	button2 = {
		
		sameAsButton1   : false,

		// typographic configuration.
		textAsButton1   : false,
		"text": {
			font-family     : null,
			font-size       : null,
			font-style      : null,
			line-height     : 42px,
			font-weight     : null,
			letter-spacing  : null,
			color           : mainColor,
			text-shadow     : null
		},
		
		// Space configuration.
		boxAsButton1   : false,
		"box-model": {
			padding    : null,
			margin     : null,
			box-shadow : null,
		},
		
		// Visual config.
		visualAsButton1   : false,
		"visual": {
			background-gradient : null,
			background-color    : transparent,
			border              : solid 3px mainColor,
			border-radius       : null,
		},
		
		hoverAsButton1   : false,
		"hover": {
			speed               : null,
			background-gradient : null,
			background-color    : mainColor,
			color               : whiteColor,
		}
		
		activeAsButton1   : false,
		"active": {
			sameAsHover        : true,
			background-gradient : null,
			background-color    : null,
			color               : null,
		}
		
	}
	
	// extraInfo2()












/*	==========================================================================
	#STYLE CONFIGURATION 2
	========================================================================== */
	
	buttonResponsive = {
		"minMH": {
			active:          false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			active:          true,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         8px 70px,
		},
		"minTH": {
			active:          true,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         8px 100px,
		},
		"minLAP": {
			active:          false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			active:          false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
	}
	




	button2Responsive = {
		"minMH": {
			active:          true,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTV": {
			active:          false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minTH": {
			active:          false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minLAP": {
			active:          false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
		"minDESK": {
			active:          false,
			font-size:       null,
			line-height:     null,
			margin:          null,
			padding:         null,
		},
	}
	
/*	==========================================================================
	#SIZES CONFIGURATION
	========================================================================== */
	
	buttonPaddingSmall 		= 0
	buttonPaddingBig 		= 0
	

	// font interval configuration 
	// [ small: buttonSize - buttonSizeSmall ] && 
	// [ big: buttonSize + buttonSizeBig ]
	buttonSizeSmall 		= 0
	buttonSizeBig 			= 0






/*	==========================================================================
	#EXTRA INFO
	========================================================================== */


	// extraInfo()
		
	// extraInfo2()