	


/*	==========================================================================
	#GENERAL
	========================================================================== */
			
	html
	body
		if body[font-family]
			font-family: body[font-family]
		if body[color]
			color: body[color]
		if body[font-size]
			font-size: body[font-size]
		if body[line-height]
			line-height: body[line-height]
		if body[font-weight]
			font-weight: body[font-weight]
		if body[font-style]
			font-style: body[font-style]
		if body[letter-spacing] || body[letter-spacing] == 0
			letter-spacing: body[letter-spacing]

		
		
		
	 
				

/*	==========================================================================
	#TIPOGRAFÍAS
	========================================================================== */
	
	h1,
	.h1 
		if heading1[font-family]
			font-family: heading1[font-family]
		if heading1[color]
			color: heading1[color]
		if heading1[font-weight]
			font-weight: heading1[font-weight]
		if heading1[font-style]
			font-style: heading1[font-style]
		if heading1[letter-spacing] || heading1[letter-spacing] == 0
			letter-spacing: heading1[letter-spacing]
		if heading1["minMV"][font-size]
			font-size: heading1["minMV"][font-size]
		if heading1["minMV"][line-height]
			line-height: heading1["minMV"][line-height]
		if heading1["minMV"][margin] || heading1["minMV"][margin] == 0
			margin: heading1["minMV"][margin]
		if heading1["minMV"][padding] || heading1["minMV"][padding] == 0
			padding: heading1["minMV"][padding]
			
		if customHeading1()
			customHeading1()
		
	h2,
	.h2 
		if heading2[font-family]
			font-family: heading2[font-family]
		if heading2[color]
			color: heading2[color]
		if heading2[font-weight]
			font-weight: heading2[font-weight]
		if heading2[font-style]
			font-style: heading2[font-style]
		if heading2[letter-spacing] || heading2[letter-spacing] == 0
			letter-spacing: heading2[letter-spacing]
		if heading2["minMV"][font-size]
			font-size: heading2["minMV"][font-size]
		if heading2["minMV"][line-height]
			line-height: heading2["minMV"][line-height]
		if heading2["minMV"][margin] || heading2["minMV"][margin] == 0
			margin: heading2["minMV"][margin]
		if heading2["minMV"][padding] || heading2["minMV"][padding] == 0
			padding: heading2["minMV"][padding]
			
		if customHeading2()
			customHeading2()
		
	h3,
	.h3
		if heading3[font-family]
			font-family: heading3[font-family]
		if heading3[color]
			color: heading3[color]
		if heading3[font-weight]
			font-weight: heading3[font-weight]
		if heading3[font-style]
			font-style: heading3[font-style]
		if heading3[letter-spacing] || heading3[letter-spacing] == 0
			letter-spacing: heading3[letter-spacing]
		if heading3["minMV"][font-size]
			font-size: heading3["minMV"][font-size]
		if heading3["minMV"][line-height]
			line-height: heading3["minMV"][line-height]
		if heading3["minMV"][margin] || heading3["minMV"][margin] == 0
			margin: heading3["minMV"][margin]
		if heading3["minMV"][padding] || heading3["minMV"][padding] == 0
			padding: heading3["minMV"][padding]
			
		if customHeading3()
			customHeading3()
		
	h4,
	.h4
		if heading4[font-family]
			font-family: heading4[font-family]
		if heading4[color]
			color: heading4[color]
		if heading4[font-weight]
			font-weight: heading4[font-weight]
		if heading4[font-style]
			font-style: heading4[font-style]
		if heading4[letter-spacing] || heading4[letter-spacing] == 0
			letter-spacing: heading4[letter-spacing]
		if heading4["minMV"][font-size]
			font-size: heading4["minMV"][font-size]
		if heading4["minMV"][line-height]
			line-height: heading4["minMV"][line-height]
		if heading4["minMV"][margin] || heading4["minMV"][margin] == 0
			margin: heading4["minMV"][margin]
		if heading4["minMV"][padding] || heading4["minMV"][padding] == 0
			padding: heading4["minMV"][padding]
			
		if customHeading4()
			customHeading4()
		
	h5,
	.h5
		if heading5[font-family]
			font-family: heading5[font-family]
		if heading5[color]
			color: heading5[color]
		if heading5[font-weight]
			font-weight: heading5[font-weight]
		if heading5[font-style]
			font-style: heading5[font-style]
		if heading5[letter-spacing] || heading5[letter-spacing] == 0
			letter-spacing: heading5[letter-spacing]
		if heading5["minMV"][font-size]
			font-size: heading5["minMV"][font-size]
		if heading5["minMV"][line-height]
			line-height: heading5["minMV"][line-height]
		if heading5["minMV"][margin] || heading5["minMV"][margin] == 0
			margin: heading5["minMV"][margin]
		if heading5["minMV"][padding] || heading5["minMV"][padding] == 0
			padding: heading5["minMV"][padding]
			
		if customHeading5()
			customHeading5()
		
	h6,
	.h6
		if heading6[font-family]
			font-family: heading6[font-family]
		if heading6[color]
			color: heading6[color]
		if heading6[font-weight]
			font-weight: heading6[font-weight]
		if heading6[font-style]
			font-style: heading6[font-style]
		if heading6[letter-spacing] || heading6[letter-spacing] == 0
			letter-spacing: heading6[letter-spacing]
		if heading6["minMV"][font-size]
			font-size: heading6["minMV"][font-size]
		if heading6["minMV"][line-height]
			line-height: heading6["minMV"][line-height]
		if heading6["minMV"][margin] || heading6["minMV"][margin] == 0
			margin: heading6["minMV"][margin]
		if heading6["minMV"][padding] || heading6["minMV"][padding] == 0
			padding: heading6["minMV"][padding]
		
		if customHeading6()
			customHeading6()
		

	p, a, li
	.text
		if text[font-family]
			font-family: text[font-family]
		if text[color]
			color: text[color]
		if text[font-weight]
			font-weight: text[font-weight]
		if text[font-style]
			font-style: text[font-style]
		if text[letter-spacing] || text[letter-spacing] == 0
			letter-spacing: text[letter-spacing]
		if text["minMV"][font-size]
			font-size: text["minMV"][font-size]
		if text["minMV"][line-height]
			line-height: text["minMV"][line-height]
		if text["minMV"][margin] || text["minMV"][margin] == 0
			margin: text["minMV"][margin]
		if text["minMV"][padding] || text["minMV"][padding] == 0
			padding: text["minMV"][padding]
			
		if customText()
			customText()





/*	==========================================================================
	#VARIANTES
	========================================================================== */
			
	p, a, li
		&.big-text
		.big-text &
			if bigText[font-family]
				font-family: bigText[font-family]
			if bigText[color]
				color: bigText[color]
			if bigText[font-weight]
				font-weight: bigText[font-weight]
			if bigText[font-style]
				font-style: bigText[font-style]
			if bigText[letter-spacing] || bigText[letter-spacing] == 0
				letter-spacing: bigText[letter-spacing]
			if bigText["minMV"][font-size]
				font-size: bigText["minMV"][font-size]
			if bigText["minMV"][line-height]
				line-height: bigText["minMV"][line-height]
			if bigText["minMV"][margin] || bigText["minMV"][margin] == 0
				margin: bigText["minMV"][margin]
			if bigText["minMV"][padding] || bigText["minMV"][padding] == 0
				padding: bigText["minMV"][padding]
			
			if customBigText()
				customBigText()
		
	.small-text
	.small-text p
	.small-text a 
	.small-text li
		if smallText[font-family]
			font-family: smallText[font-family]
		if smallText[color]
			color: smallText[color]
		if smallText[font-weight]
			font-weight: smallText[font-weight]
		if smallText[font-style]
			font-style: smallText[font-style]
		if smallText[letter-spacing] || smallText[letter-spacing] == 0
			letter-spacing: smallText[letter-spacing]
		if smallText["minMV"][font-size]
			font-size: smallText["minMV"][font-size]
		if smallText["minMV"][line-height]
			line-height: smallText["minMV"][line-height]
		if smallText["minMV"][margin] || smallText["minMV"][margin] == 0
			margin: smallText["minMV"][margin]
		if smallText["minMV"][padding] || smallText["minMV"][padding] == 0
			padding: smallText["minMV"][padding]
		
		if customSmallText()
			customSmallText()
		




/*	==========================================================================
	#ESPECIALES GENERALES
	========================================================================== */
	
	a
		text-decoration: none
		color:           mainColor
		outline:         0
		transicion(tNormal)
		
		&:not(.button):hover
			color:       secondaryColor
		
	strong
		font-weight:     wBold
		



/*	==========================================================================
	#LISTAS
	========================================================================== */
	
	ul
		margin 0
		padding 0 0 0 20px
		


	li.custom-li
		position relative
		list-style none
    
	li.custom-li:before 
		content ""
		size 6px
		absolute left -19px top 10px
		background secondaryColor
		border-radius 50%















	