if showTypographies["minMH"]	
	@media screen and (min-width minMH )

		if heading1["minMH"][show]
			h1,
			.h1 
				if heading1["minMH"][font-size]
					font-size: heading1["minMH"][font-size]
				if heading1["minMH"][line-height]
					line-height: heading1["minMH"][line-height]
				if heading1["minMH"][margin] || heading1["minMH"][margin] == 0
					margin: heading1["minMH"][margin]
				if heading1["minMH"][padding] || heading1["minMH"][padding] == 0
					padding: heading1["minMH"][padding]
			

		if heading2["minMH"][show]
			h2,
			.h2 
				if heading2["minMH"][font-size]
					font-size: heading2["minMH"][font-size]
				if heading2["minMH"][line-height]
					line-height: heading2["minMH"][line-height]
				if heading2["minMH"][margin] || heading2["minMH"][margin] == 0
					margin: heading2["minMH"][margin]
				if heading2["minMH"][padding] || heading2["minMH"][padding] == 0
					padding: heading2["minMH"][padding]
			
		
		if heading3["minMH"][show]
			h3,
			.h3 
				if heading3["minMH"][font-size]
					font-size: heading3["minMH"][font-size]
				if heading3["minMH"][line-height]
					line-height: heading3["minMH"][line-height]
				if heading3["minMH"][margin] || heading3["minMH"][margin] == 0
					margin: heading3["minMH"][margin]
				if heading3["minMH"][padding] || heading3["minMH"][padding] == 0
					padding: heading3["minMH"][padding]
			
		

		if heading4["minMH"][show]
			h4,
			.h4 
				if heading4["minMH"][font-size]
					font-size: heading4["minMH"][font-size]
				if heading4["minMH"][line-height]
					line-height: heading4["minMH"][line-height]
				if heading4["minMH"][margin] || heading4["minMH"][margin] == 0
					margin: heading4["minMH"][margin]
				if heading4["minMH"][padding] || heading4["minMH"][padding] == 0
					padding: heading4["minMH"][padding]
					

		if heading5["minMH"][show]
			h5,
			.h5 
				if heading5["minMH"][font-size]
					font-size: heading5["minMH"][font-size]
				if heading5["minMH"][line-height]
					line-height: heading5["minMH"][line-height]
				if heading5["minMH"][margin] || heading5["minMH"][margin] == 0
					margin: heading5["minMH"][margin]
				if heading5["minMH"][padding] || heading5["minMH"][padding] == 0
					padding: heading5["minMH"][padding]
					

		if heading6["minMH"][show]
			h6,
			.h6 
				if heading6["minMH"][font-size]
					font-size: heading6["minMH"][font-size]
				if heading6["minMH"][line-height]
					line-height: heading6["minMH"][line-height]
				if heading6["minMH"][margin] || heading6["minMH"][margin] == 0
					margin: heading6["minMH"][margin]
				if heading6["minMH"][padding] || heading6["minMH"][padding] == 0
					padding: heading6["minMH"][padding]
			


		if text["minMH"][show]
			p, a, li
			.text
				if text["minMH"][font-size]
					font-size: text["minMH"][font-size]
				if text["minMH"][line-height]
					line-height: text["minMH"][line-height]
				if text["minMH"][margin] || text["minMH"][margin] == 0
					margin: text["minMH"][margin]
				if text["minMH"][padding] || text["minMH"][padding] == 0
					padding: text["minMH"][padding]
			

		
		if bigText["minMH"][show]	
			p, a, li
				&.big-text
				.big-text &
					if bigText["minMH"][font-size]
						font-size: bigText["minMH"][font-size]
					if bigText["minMH"][line-height]
						line-height: bigText["minMH"][line-height]
					if bigText["minMH"][margin] || bigText["minMH"][margin] == 0
						margin: bigText["minMH"][margin]
					if bigText["minMH"][padding] || bigText["minMH"][padding] == 0
						padding: bigText["minMH"][padding]
						

		if smallText["minMH"][show]	
			p, a, li
				&.small-text
				.small-text &
					if smallText["minMH"][font-size]
						font-size: smallText["minMH"][font-size]
					if smallText["minMH"][line-height]
						line-height: smallText["minMH"][line-height]
					if smallText["minMH"][margin] || smallText["minMH"][margin] == 0
						margin: smallText["minMH"][margin]
					if smallText["minMH"][padding] || smallText["minMH"][padding] == 0
						padding: smallText["minMH"][padding]
			