if showTypographies["minTV"]	
	@media screen and (min-width minTV )
				
		if heading1["minTV"][show]
			h1,
			.h1 
				if heading1["minTV"][font-size]
					font-size: heading1["minTV"][font-size]
				if heading1["minTV"][line-height]
					line-height: heading1["minTV"][line-height]
				if heading1["minTV"][margin] || heading1["minTV"][margin] == 0
					margin: heading1["minTV"][margin]
				if heading1["minTV"][padding] || heading1["minTV"][padding] == 0
					padding: heading1["minTV"][padding]
			

		if heading2["minTV"][show]
			h2,
			.h2 
				if heading2["minTV"][font-size]
					font-size: heading2["minTV"][font-size]
				if heading2["minTV"][line-height]
					line-height: heading2["minTV"][line-height]
				if heading2["minTV"][margin] || heading2["minTV"][margin] == 0
					margin: heading2["minTV"][margin]
				if heading2["minTV"][padding] || heading2["minTV"][padding] == 0
					padding: heading2["minTV"][padding]
			
		
		if heading3["minTV"][show]
			h3,
			.h3 
				if heading3["minTV"][font-size]
					font-size: heading3["minTV"][font-size]
				if heading3["minTV"][line-height]
					line-height: heading3["minTV"][line-height]
				if heading3["minTV"][margin] || heading3["minTV"][margin] == 0
					margin: heading3["minTV"][margin]
				if heading3["minTV"][padding] || heading3["minTV"][padding] == 0
					padding: heading3["minTV"][padding]
			
		

		if heading4["minTV"][show]
			h4,
			.h4 
				if heading4["minTV"][font-size]
					font-size: heading4["minTV"][font-size]
				if heading4["minTV"][line-height]
					line-height: heading4["minTV"][line-height]
				if heading4["minTV"][margin] || heading4["minTV"][margin] == 0
					margin: heading4["minTV"][margin]
				if heading4["minTV"][padding] || heading4["minTV"][padding] == 0
					padding: heading4["minTV"][padding]
					

		if heading5["minTV"][show]
			h5,
			.h5 
				if heading5["minTV"][font-size]
					font-size: heading5["minTV"][font-size]
				if heading5["minTV"][line-height]
					line-height: heading5["minTV"][line-height]
				if heading5["minTV"][margin] || heading5["minTV"][margin] == 0
					margin: heading5["minTV"][margin]
				if heading5["minTV"][padding] || heading5["minTV"][padding] == 0
					padding: heading5["minTV"][padding]
					

		if heading6["minTV"][show]
			h6,
			.h6 
				if heading6["minTV"][font-size]
					font-size: heading6["minTV"][font-size]
				if heading6["minTV"][line-height]
					line-height: heading6["minTV"][line-height]
				if heading6["minTV"][margin] || heading6["minTV"][margin] == 0
					margin: heading6["minTV"][margin]
				if heading6["minTV"][padding] || heading6["minTV"][padding] == 0
					padding: heading6["minTV"][padding]
			


		if text["minTV"][show]
			p, a, li
			.text
				if text["minTV"][font-size]
					font-size: text["minTV"][font-size]
				if text["minTV"][line-height]
					line-height: text["minTV"][line-height]
				if text["minTV"][margin] || text["minTV"][margin] == 0
					margin: text["minTV"][margin]
				if text["minTV"][padding] || text["minTV"][padding] == 0
					padding: text["minTV"][padding]
			

		
		if bigText["minTV"][show]	
			p, a, li
				&.big-text
				.big-text &
					if bigText["minTV"][font-size]
						font-size: bigText["minTV"][font-size]
					if bigText["minTV"][line-height]
						line-height: bigText["minTV"][line-height]
					if bigText["minTV"][margin] || bigText["minTV"][margin] == 0
						margin: bigText["minTV"][margin]
					if bigText["minTV"][padding] || bigText["minTV"][padding] == 0
						padding: bigText["minTV"][padding]
						

		if smallText["minTV"][show]	
			p, a, li
				&.small-text
				.small-text &
					if smallText["minTV"][font-size]
						font-size: smallText["minTV"][font-size]
					if smallText["minTV"][line-height]
						line-height: smallText["minTV"][line-height]
					if smallText["minTV"][margin] || smallText["minTV"][margin] == 0
						margin: smallText["minTV"][margin]
					if smallText["minTV"][padding] || smallText["minTV"][padding] == 0
						padding: smallText["minTV"][padding]
			