if showTypographies["minTH"]	
	@media screen and (min-width minTH )
				
		if heading1["minTH"][show]
			h1,
			.h1 
				if heading1["minTH"][font-size]
					font-size: heading1["minTH"][font-size]
				if heading1["minTH"][line-height]
					line-height: heading1["minTH"][line-height]
				if heading1["minTH"][margin] || heading1["minTH"][margin] == 0
					margin: heading1["minTH"][margin]
				if heading1["minTH"][padding] || heading1["minTH"][padding] == 0
					padding: heading1["minTH"][padding]
			

		if heading2["minTH"][show]
			h2,
			.h2 
				if heading2["minTH"][font-size]
					font-size: heading2["minTH"][font-size]
				if heading2["minTH"][line-height]
					line-height: heading2["minTH"][line-height]
				if heading2["minTH"][margin] || heading2["minTH"][margin] == 0
					margin: heading2["minTH"][margin]
				if heading2["minTH"][padding] || heading2["minTH"][padding] == 0
					padding: heading2["minTH"][padding]
			
		
		if heading3["minTH"][show]
			h3,
			.h3 
				if heading3["minTH"][font-size]
					font-size: heading3["minTH"][font-size]
				if heading3["minTH"][line-height]
					line-height: heading3["minTH"][line-height]
				if heading3["minTH"][margin] || heading3["minTH"][margin] == 0
					margin: heading3["minTH"][margin]
				if heading3["minTH"][padding] || heading3["minTH"][padding] == 0
					padding: heading3["minTH"][padding]
			
		

		if heading4["minTH"][show]
			h4,
			.h4 
				if heading4["minTH"][font-size]
					font-size: heading4["minTH"][font-size]
				if heading4["minTH"][line-height]
					line-height: heading4["minTH"][line-height]
				if heading4["minTH"][margin] || heading4["minTH"][margin] == 0
					margin: heading4["minTH"][margin]
				if heading4["minTH"][padding] || heading4["minTH"][padding] == 0
					padding: heading4["minTH"][padding]
					

		if heading5["minTH"][show]
			h5,
			.h5 
				if heading5["minTH"][font-size]
					font-size: heading5["minTH"][font-size]
				if heading5["minTH"][line-height]
					line-height: heading5["minTH"][line-height]
				if heading5["minTH"][margin] || heading5["minTH"][margin] == 0
					margin: heading5["minTH"][margin]
				if heading5["minTH"][padding] || heading5["minTH"][padding] == 0
					padding: heading5["minTH"][padding]
					

		if heading6["minTH"][show]
			h6,
			.h6 
				if heading6["minTH"][font-size]
					font-size: heading6["minTH"][font-size]
				if heading6["minTH"][line-height]
					line-height: heading6["minTH"][line-height]
				if heading6["minTH"][margin] || heading6["minTH"][margin] == 0
					margin: heading6["minTH"][margin]
				if heading6["minTH"][padding] || heading6["minTH"][padding] == 0
					padding: heading6["minTH"][padding]
			


		if text["minTH"][show]
			p, a, li
			.text
				if text["minTH"][font-size]
					font-size: text["minTH"][font-size]
				if text["minTH"][line-height]
					line-height: text["minTH"][line-height]
				if text["minTH"][margin] || text["minTH"][margin] == 0
					margin: text["minTH"][margin]
				if text["minTH"][padding] || text["minTH"][padding] == 0
					padding: text["minTH"][padding]
			

		
		if bigText["minTH"][show]	
			p, a, li
				&.big-text
				.big-text &
					if bigText["minTH"][font-size]
						font-size: bigText["minTH"][font-size]
					if bigText["minTH"][line-height]
						line-height: bigText["minTH"][line-height]
					if bigText["minTH"][margin] || bigText["minTH"][margin] == 0
						margin: bigText["minTH"][margin]
					if bigText["minTH"][padding] || bigText["minTH"][padding] == 0
						padding: bigText["minTH"][padding]
						

		if smallText["minTH"][show]	
			p, a, li
				&.small-text
				.small-text &
					if smallText["minTH"][font-size]
						font-size: smallText["minTH"][font-size]
					if smallText["minTH"][line-height]
						line-height: smallText["minTH"][line-height]
					if smallText["minTH"][margin] || smallText["minTH"][margin] == 0
						margin: smallText["minTH"][margin]
					if smallText["minTH"][padding] || smallText["minTH"][padding] == 0
						padding: smallText["minTH"][padding]
			