if showTypographies["minLAP"]	
	@media screen and (min-width minLAP )
				
		if heading1["minLAP"][show]
			h1,
			.h1 
				if heading1["minLAP"][font-size]
					font-size: heading1["minLAP"][font-size]
				if heading1["minLAP"][line-height]
					line-height: heading1["minLAP"][line-height]
				if heading1["minLAP"][margin] || heading1["minLAP"][margin] == 0
					margin: heading1["minLAP"][margin]
				if heading1["minLAP"][padding] || heading1["minLAP"][padding] == 0
					padding: heading1["minLAP"][padding]
			

		if heading2["minLAP"][show]
			h2,
			.h2 
				if heading2["minLAP"][font-size]
					font-size: heading2["minLAP"][font-size]
				if heading2["minLAP"][line-height]
					line-height: heading2["minLAP"][line-height]
				if heading2["minLAP"][margin] || heading2["minLAP"][margin] == 0
					margin: heading2["minLAP"][margin]
				if heading2["minLAP"][padding] || heading2["minLAP"][padding] == 0
					padding: heading2["minLAP"][padding]
			
		
		if heading3["minLAP"][show]
			h3,
			.h3 
				if heading3["minLAP"][font-size]
					font-size: heading3["minLAP"][font-size]
				if heading3["minLAP"][line-height]
					line-height: heading3["minLAP"][line-height]
				if heading3["minLAP"][margin] || heading3["minLAP"][margin] == 0
					margin: heading3["minLAP"][margin]
				if heading3["minLAP"][padding] || heading3["minLAP"][padding] == 0
					padding: heading3["minLAP"][padding]
			
		

		if heading4["minLAP"][show]
			h4,
			.h4 
				if heading4["minLAP"][font-size]
					font-size: heading4["minLAP"][font-size]
				if heading4["minLAP"][line-height]
					line-height: heading4["minLAP"][line-height]
				if heading4["minLAP"][margin] || heading4["minLAP"][margin] == 0
					margin: heading4["minLAP"][margin]
				if heading4["minLAP"][padding] || heading4["minLAP"][padding] == 0
					padding: heading4["minLAP"][padding]
					

		if heading5["minLAP"][show]
			h5,
			.h5 
				if heading5["minLAP"][font-size]
					font-size: heading5["minLAP"][font-size]
				if heading5["minLAP"][line-height]
					line-height: heading5["minLAP"][line-height]
				if heading5["minLAP"][margin] || heading5["minLAP"][margin] == 0
					margin: heading5["minLAP"][margin]
				if heading5["minLAP"][padding] || heading5["minLAP"][padding] == 0
					padding: heading5["minLAP"][padding]
					

		if heading6["minLAP"][show]
			h6,
			.h6 
				if heading6["minLAP"][font-size]
					font-size: heading6["minLAP"][font-size]
				if heading6["minLAP"][line-height]
					line-height: heading6["minLAP"][line-height]
				if heading6["minLAP"][margin] || heading6["minLAP"][margin] == 0
					margin: heading6["minLAP"][margin]
				if heading6["minLAP"][padding] || heading6["minLAP"][padding] == 0
					padding: heading6["minLAP"][padding]
			


		if text["minLAP"][show]
			p, a, li
			.text
				if text["minLAP"][font-size]
					font-size: text["minLAP"][font-size]
				if text["minLAP"][line-height]
					line-height: text["minLAP"][line-height]
				if text["minLAP"][margin] || text["minLAP"][margin] == 0
					margin: text["minLAP"][margin]
				if text["minLAP"][padding] || text["minLAP"][padding] == 0
					padding: text["minLAP"][padding]
			

		
		if bigText["minLAP"][show]	
			p, a, li
				&.big-text
				.big-text &
					if bigText["minLAP"][font-size]
						font-size: bigText["minLAP"][font-size]
					if bigText["minLAP"][line-height]
						line-height: bigText["minLAP"][line-height]
					if bigText["minLAP"][margin] || bigText["minLAP"][margin] == 0
						margin: bigText["minLAP"][margin]
					if bigText["minLAP"][padding] || bigText["minLAP"][padding] == 0
						padding: bigText["minLAP"][padding]
						

		if smallText["minLAP"][show]	
			p, a, li
				&.small-text
				.small-text &
					if smallText["minLAP"][font-size]
						font-size: smallText["minLAP"][font-size]
					if smallText["minLAP"][line-height]
						line-height: smallText["minLAP"][line-height]
					if smallText["minLAP"][margin] || smallText["minLAP"][margin] == 0
						margin: smallText["minLAP"][margin]
					if smallText["minLAP"][padding] || smallText["minLAP"][padding] == 0
						padding: smallText["minLAP"][padding]
			