if showTypographies["minDESK"]	
	@media screen and (min-width minDESK )
				
		if heading1["minDESK"][show]
			h1,
			.h1 
				if heading1["minDESK"][font-size]
					font-size: heading1["minDESK"][font-size]
				if heading1["minDESK"][line-height]
					line-height: heading1["minDESK"][line-height]
				if heading1["minDESK"][margin] || heading1["minDESK"][margin] == 0
					margin: heading1["minDESK"][margin]
				if heading1["minDESK"][padding] || heading1["minDESK"][padding] == 0
					padding: heading1["minDESK"][padding]
			

		if heading2["minDESK"][show]
			h2,
			.h2 
				if heading2["minDESK"][font-size]
					font-size: heading2["minDESK"][font-size]
				if heading2["minDESK"][line-height]
					line-height: heading2["minDESK"][line-height]
				if heading2["minDESK"][margin] || heading2["minDESK"][margin] == 0
					margin: heading2["minDESK"][margin]
				if heading2["minDESK"][padding] || heading2["minDESK"][padding] == 0
					padding: heading2["minDESK"][padding]
			
		
		if heading3["minDESK"][show]
			h3,
			.h3 
				if heading3["minDESK"][font-size]
					font-size: heading3["minDESK"][font-size]
				if heading3["minDESK"][line-height]
					line-height: heading3["minDESK"][line-height]
				if heading3["minDESK"][margin] || heading3["minDESK"][margin] == 0
					margin: heading3["minDESK"][margin]
				if heading3["minDESK"][padding] || heading3["minDESK"][padding] == 0
					padding: heading3["minDESK"][padding]
			
		

		if heading4["minDESK"][show]
			h4,
			.h4 
				if heading4["minDESK"][font-size]
					font-size: heading4["minDESK"][font-size]
				if heading4["minDESK"][line-height]
					line-height: heading4["minDESK"][line-height]
				if heading4["minDESK"][margin] || heading4["minDESK"][margin] == 0
					margin: heading4["minDESK"][margin]
				if heading4["minDESK"][padding] || heading4["minDESK"][padding] == 0
					padding: heading4["minDESK"][padding]
					

		if heading5["minDESK"][show]
			h5,
			.h5 
				if heading5["minDESK"][font-size]
					font-size: heading5["minDESK"][font-size]
				if heading5["minDESK"][line-height]
					line-height: heading5["minDESK"][line-height]
				if heading5["minDESK"][margin] || heading5["minDESK"][margin] == 0
					margin: heading5["minDESK"][margin]
				if heading5["minDESK"][padding] || heading5["minDESK"][padding] == 0
					padding: heading5["minDESK"][padding]
					

		if heading6["minDESK"][show]
			h6,
			.h6 
				if heading6["minDESK"][font-size]
					font-size: heading6["minDESK"][font-size]
				if heading6["minDESK"][line-height]
					line-height: heading6["minDESK"][line-height]
				if heading6["minDESK"][margin] || heading6["minDESK"][margin] == 0
					margin: heading6["minDESK"][margin]
				if heading6["minDESK"][padding] || heading6["minDESK"][padding] == 0
					padding: heading6["minDESK"][padding]
			


		if text["minDESK"][show]
			p, a, li
			.text
				if text["minDESK"][font-size]
					font-size: text["minDESK"][font-size]
				if text["minDESK"][line-height]
					line-height: text["minDESK"][line-height]
				if text["minDESK"][margin] || text["minDESK"][margin] == 0
					margin: text["minDESK"][margin]
				if text["minDESK"][padding] || text["minDESK"][padding] == 0
					padding: text["minDESK"][padding]
			

		
		if bigText["minDESK"][show]	
			p, a, li
				&.big-text
				.big-text &
					if bigText["minDESK"][font-size]
						font-size: bigText["minDESK"][font-size]
					if bigText["minDESK"][line-height]
						line-height: bigText["minDESK"][line-height]
					if bigText["minDESK"][margin] || bigText["minDESK"][margin] == 0
						margin: bigText["minDESK"][margin]
					if bigText["minDESK"][padding] || bigText["minDESK"][padding] == 0
						padding: bigText["minDESK"][padding]
						

		if smallText["minDESK"][show]	
			p, a, li
				&.small-text
				.small-text &
					if smallText["minDESK"][font-size]
						font-size: smallText["minDESK"][font-size]
					if smallText["minDESK"][line-height]
						line-height: smallText["minDESK"][line-height]
					if smallText["minDESK"][margin] || smallText["minDESK"][margin] == 0
						margin: smallText["minDESK"][margin]
					if smallText["minDESK"][padding] || smallText["minDESK"][padding] == 0
						padding: smallText["minDESK"][padding]
			