/**
	==========================================================================
	#FOOTER *
	========================================================================== 
	*
	***	CONTENTS ***
	*
	* GENERAL
	* 	Core.......................
	*
	* COMPONENTS
	* 	Footer.....................
	* 	3DX Reverse................
	* 	3DX........................
	* 	3DY Reverse................
	* 	3DY........................
	* 	Arrow Right................
	* 	Arrow......................
	* 	Arrow Alt Right............
	* 	Arrow Alt..................
	* 	Boring.....................
	* 	Collapse Reverse...........
	* 	Collapse...................
	* 	Elastic Reverse............
	* 	Elastic....................
	* 	Emphatic Reverse...........
	* 	Emphatic...................
	* 	Slider Reverse.............
	* 	Slider.....................
	* 	Spin Reverse...............
	* 	Spin.......................
	* 	Spring Reverse.............
	* 	Spring.....................
	* 	Squeeze....................
	* 	Stand Reverse..............
	* 	Stand......................
	* 	Vortex Reverse.............
	* 	Vortex.....................
	*
	*/
 

	





//	===============================================================General====
//	#CORE
//	==========================================================================

	.hamburger 
		padding: hamburger-padding-y hamburger-padding-x
		display: inline-block
		cursor: pointer

		transition-property: opacity, filter
		transition-duration: hamburger-hover-transition-duration
		transition-timing-function: hamburger-hover-transition-timing-function

		// Normalize (<button>)
		font: inherit
		color: inherit
		text-transform: none
		background-color: transparent
		border: 0
		margin: 0
		overflow: visible
		outline: none

		&:hover
			if hamburger-hover-use-filter == true
				filter: hamburger-hover-filter
			else
				opacity: hamburger-hover-opacity
				

	.hamburger__inner
		display: block
		top: 50%
		margin-top: hamburger-layer-height / -2
		&,
		&:before,
		&:after 
			width: hamburger-layer-width
			height: hamburger-layer-height
			background-color: hamburger-layer-color
			border-radius: hamburger-layer-border-radius
			position: absolute
			transition-property: transform
			transition-duration: 0.15s
			transition-timing-function: ease

		&:after
			bottom: (hamburger-layer-spacing + hamburger-layer-height) * -1

		&:before
			top: (hamburger-layer-spacing + hamburger-layer-height) * -1
			
		&:before,
		&:after
			content: ""
			display: block
		

	.hamburger__box
		width: hamburger-layer-width
		height: hamburger-layer-height * 3 + hamburger-layer-spacing * 2
		display: inline-block
		position: relative







//	=============================================================Component====
//	#3DX Reverse
//	==========================================================================

	if index(hamburger-types, 3dx-r)
		
		.hamburger--3dx-r
			.hamburger__box 
				perspective: hamburger-layer-width * 2
			
			.hamburger__inner
				transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
				
				&:before,
				&:after 
					transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)

			&.hamburger--is-active
				.hamburger__inner 
					background-color: transparent
					transform: rotateY(-180deg)
					
					&:before 
						transform: translate3d(0, hamburger-layer-height + hamburger-layer-spacing, 0) rotate(45deg)
					
					&:after
						transform: translate3d(0, (hamburger-layer-height + hamburger-layer-spacing) * -1, 0) rotate(-45deg)






//	=============================================================Component====
//	#3DX
//	==========================================================================

	if index(hamburger-types, 3dx)
		
		.hamburger--3dx
			.hamburger__box
				perspective: (hamburger-layer-width * 2)
				
			.hamburger__inner
				transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
				
				&:before,
				&:after
					transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
					
			&.hamburger--is-active
				.hamburger__inner
					background-color: transparent
					transform: rotateY(180deg)
					
					&:before
						transform: translate3d(0, hamburger-layer-height + hamburger-layer-spacing, 0) rotate(45deg)
						
					&:after
						transform: translate3d(0, (hamburger-layer-height + hamburger-layer-spacing) * -1, 0) rotate(-45deg)






//	=============================================================Component====
//	#3DY Reverse
//	==========================================================================

	if index(hamburger-types, 3dy-r)
		
		.hamburger--3dy-r
			.hamburger__box
				perspective: (hamburger-layer-width * 2)
				
			.hamburger__inner
				transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
				
				&:before,
				&:after
					transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
					
			&.hamburger--is-active
				.hamburger__inner
					background-color: transparent
					transform: rotateX(180deg)
					
					&:before
						transform: translate3d(0, hamburger-layer-height + hamburger-layer-spacing, 0) rotate(45deg)
						
					&:after
						transform: translate3d(0, (hamburger-layer-height + hamburger-layer-spacing) * -1, 0) rotate(-45deg)






//	=============================================================Component====
//	#3DY
//	==========================================================================

	if index(hamburger-types, 3dy)
		
		.hamburger--3dy
			.hamburger__box
				perspective: (hamburger-layer-width * 2)
				
			.hamburger__inner
				transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
				
				&:before,
				&:after
					transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
					
			&.hamburger--is-active
				.hamburger__inner
					background-color: transparent
					transform: rotateX(-180deg)
					
					&:before
						transform: translate3d(0, hamburger-layer-height + hamburger-layer-spacing, 0) rotate(45deg)
						
					&:after
						transform: translate3d(0, (hamburger-layer-height + hamburger-layer-spacing) * -1, 0) rotate(-45deg)
					





//	=============================================================Component====
//	#Arrow Right
//	==========================================================================

	if index(hamburger-types, arrow-r)

		.hamburger--arrow-r.hamburger--is-active
			.hamburger__inner
				&:before
					transform: translate3d(hamburger-layer-width * 0.2, 0, 0) rotate(45deg) scale(0.7, 1)
					
				&:after
					transform: translate3d(hamburger-layer-width * 0.2, 0, 0) rotate(-45deg) scale(0.7, 1)






//	=============================================================Component====
//	#Arrow
//	==========================================================================

	if index(hamburger-types, arrow)
		
		.hamburger--arrow.hamburger--is-active
			.hamburger__inner
				&:before
					transform: translate3d(hamburger-layer-width * -0.2, 0, 0) rotate(-45deg) scale(0.7, 1)
					
				&:after
					transform: translate3d(hamburger-layer-width * -0.2, 0, 0) rotate(45deg) scale(0.7, 1)
					





//	=============================================================Component====
//	#Arrow Alt Right
//	==========================================================================

	if index(hamburger-types, arrowalt-r)
		
		.hamburger--arrowalt-r
			.hamburger__inner
				&:before
					transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
					
				&:after
					transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
					
			&.hamburger--is-active
				.hamburger__inner
					&:before
						top: 0
						transform: translate3d(hamburger-layer-width * 0.2, hamburger-layer-width * -0.25, 0) rotate(45deg) scale(0.7, 1)
						transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22)
						
					&:after
						bottom: 0
						transform: translate3d(hamburger-layer-width * 0.2, hamburger-layer-width * 0.25, 0) rotate(-45deg) scale(0.7, 1)
						transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22)
						





//	=============================================================Component====
//	#Arrow Alt
//	==========================================================================

	if index(hamburger-types, arrowalt)
		
		.hamburger--arrowalt
			.hamburger__inner
				&:before
					transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
					
				&:after
					transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
					
			&.hamburger--is-active
				.hamburger__inner
					&:before
						top: 0
						transform: translate3d(hamburger-layer-width * -0.2, hamburger-layer-width * -0.25, 0) rotate(-45deg) scale(0.7, 1)
						transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22)
						
					&:after
						bottom: 0
						transform: translate3d(hamburger-layer-width * -0.2, hamburger-layer-width * 0.25, 0) rotate(45deg) scale(0.7, 1)
						transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22)
					





//	=============================================================Component====
//	#Boring
//	==========================================================================

	if index(hamburger-types, boring)
		
		.hamburger--boring
			.hamburger__inner
				&,
				&:before,
				&:after
					transition-property: none
					
			&.hamburger--is-active
				.hamburger__inner
					transform: rotate(45deg)
					
					&:before
						top: 0
						opacity: 0
						
					&:after
						bottom: 0
						transform: rotate(-90deg)
						





//	=============================================================Component====
//	#Collapse Reverse
//	==========================================================================

	if index(hamburger-types, collapse-r)
		
		.hamburger--collapse-r
			.hamburger__inner
				top: auto
				bottom: 0
				transition-duration: 0.15s
				transition-delay: 0.15s
				transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:after
					top: ((hamburger-layer-spacing * 2 + hamburger-layer-height * 2) * -1)
					transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear
					
				&:before
					transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			
			&.hamburger--is-active
				.hamburger__inner
					transform: translate3d(0, (hamburger-layer-spacing + hamburger-layer-height) * -1, 0) rotate(45deg)
					transition-delay: 0.32s
					transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:after
						top: 0
						opacity: 0
						transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear
						
					&:before
						top: 0
						transform: rotate(90deg)
						transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1)
						





//	=============================================================Component====
//	#Collapse
//	==========================================================================

	if index(hamburger-types, collapse)
		
		.hamburger--collapse
			.hamburger__inner
				top: auto
				bottom: 0
				transition-duration: 0.15s
				transition-delay: 0.15s
				transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:after
					top: ((hamburger-layer-spacing * 2 + hamburger-layer-height * 2) * -1)
					transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear
					
				&:before
					transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
					
			&.hamburger--is-active
				.hamburger__inner
					transform: translate3d(0, (hamburger-layer-spacing + hamburger-layer-height) * -1, 0) rotate(-45deg)
					transition-delay: 0.32s
					transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:after
						top: 0
						opacity: 0
						transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear
						
					&:before
						top: 0
						transform: rotate(-90deg)
						transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1)






//	=============================================================Component====
//	#Elastic Reverse
//	==========================================================================

	if index(hamburger-types, elastic-r)
		
		.hamburger--elastic-r
			.hamburger__inner
				top: (hamburger-layer-height / 2)
				transition-duration: 0.4s
				transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
				
				&:before
					top: (hamburger-layer-height + hamburger-layer-spacing)
					transition: opacity 0.15s 0.4s ease
					
				&:after
					top: (hamburger-layer-height * 2 + hamburger-layer-spacing * 2)
					transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)
					
			&.hamburger--is-active
				.hamburger__inner
					y-offset = hamburger-layer-spacing + hamburger-layer-height
					transform: translate3d(0, y-offset, 0) rotate(-135deg)
					transition-delay: 0.1s
					
					&:before
						transition-delay: 0s
						opacity: 0
						
					&:after
						transform: translate3d(0, y-offset * -2, 0) rotate(270deg)
						transition-delay: 0.1s
						





//	=============================================================Component====
//	#Elastic
//	==========================================================================

	if index(hamburger-types, elastic)
		
		.hamburger--elastic
			.hamburger__inner
				top: (hamburger-layer-height / 2)
				transition-duration: 0.4s
				transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
				
				&:before
					top: (hamburger-layer-height + hamburger-layer-spacing)
					transition: opacity 0.15s 0.4s ease
					
				&:after
					top: (hamburger-layer-height * 2 + hamburger-layer-spacing * 2)
					transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)
					
			&.hamburger--is-active
				.hamburger__inner
					y-offset = hamburger-layer-spacing + hamburger-layer-height
					transform: translate3d(0, y-offset, 0) rotate(135deg)
					transition-delay: 0.1s
					
					&:before
						transition-delay: 0s
						opacity: 0
						
					&:after
						transform: translate3d(0, y-offset * -2, 0) rotate(-270deg)
						transition-delay: 0.1s
						





//	=============================================================Component====
//	#Emphatic Reverse
//	==========================================================================

	if index(hamburger-types, emphatic-r)
		
		.hamburger--emphatic-r
			overflow: hidden
			
			.hamburger__inner
				transition: background-color 0.2s 0.25s ease-in
				
				&:before
					left: 0
					transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in
					
				&:after
					top: (hamburger-layer-height + hamburger-layer-spacing)
					right: 0
					transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in
			
			&.hamburger--is-active
				.hamburger__inner
					transition-delay: 0s
					transition-timing-function: ease-out
					background-color: transparent
					
					&:before
						left: (hamburger-layer-width * -2)
						top: (hamburger-layer-width * 2)
						transform: translate3d(hamburger-layer-width * 2, hamburger-layer-width * -2, 0) rotate(-45deg)
						transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1)
						
					&:after
						right: (hamburger-layer-width * -2)
						top: (hamburger-layer-width * 2)
						transform: translate3d(hamburger-layer-width * -2, hamburger-layer-width * -2, 0) rotate(45deg)
						transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1)
					





//	=============================================================Component====
//	#Emphatic
//	==========================================================================

	if index(hamburger-types, emphatic)
		
		.hamburger--emphatic
			overflow: hidden
			
			.hamburger__inner
				transition: background-color 0.2s 0.25s ease-in
				
				&:before
					left: 0
					transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in
					
				&:after
					top: (hamburger-layer-height + hamburger-layer-spacing)
					right: 0
					transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in
					
			&.hamburger--is-active
				.hamburger__inner
					transition-delay: 0s
					transition-timing-function: ease-out
					background-color: transparent
					
					&:before
						left: (hamburger-layer-width * -2)
						top: (hamburger-layer-width * -2)
						transform: translate3d(hamburger-layer-width * 2, hamburger-layer-width * 2, 0) rotate(45deg)
						transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1)
						
					&:after
						right: (hamburger-layer-width * -2)
						top: (hamburger-layer-width * -2)
						transform: translate3d(hamburger-layer-width * -2, hamburger-layer-width * 2, 0) rotate(-45deg)
						transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1)
						





//	=============================================================Component====
//	#Slider Reverse
//	==========================================================================

	if index(hamburger-types, slider-r)
		
		.hamburger--slider-r
			.hamburger__inner
				top: (hamburger-layer-height / 2)
				
				&:before
					top: (hamburger-layer-height + hamburger-layer-spacing)
					transition-property: transform, opacity
					transition-timing-function: ease
					transition-duration: 0.2s
					
				&:after
					top: (hamburger-layer-height * 2 + hamburger-layer-spacing * 2)
					
			&.hamburger--is-active
				.hamburger__inner
					y-offset = hamburger-layer-spacing + hamburger-layer-height
					transform: translate3d(0, y-offset, 0) rotate(-45deg)
					
					&:before
						transform: rotate(45deg) translate3d(hamburger-layer-width / 7, hamburger-layer-spacing * -1, 0)
						opacity: 0
						
					&:after
						transform: translate3d(0, y-offset * -2, 0) rotate(90deg)
					





//	=============================================================Component====
//	#Slider
//	==========================================================================

	if index(hamburger-types, slider)
		
		.hamburger--slider
			.hamburger__inner
				top: (hamburger-layer-height / 2)
				
				&:before
					top: (hamburger-layer-height + hamburger-layer-spacing)
					transition-property: transform, opacity
					transition-timing-function: ease
					transition-duration: 0.2s
					
				&:after
					top: (hamburger-layer-height * 2 + hamburger-layer-spacing * 2)
					
			&.hamburger--is-active
				.hamburger__inner
					y-offset = hamburger-layer-spacing + hamburger-layer-height
					transform: translate3d(0, y-offset, 0) rotate(45deg)
					
					&:before
						transform: rotate(-45deg) translate3d(hamburger-layer-width / -7, hamburger-layer-spacing * -1, 0)
						opacity: 0
						
					&:after
						transform: translate3d(0, y-offset * -2, 0) rotate(-90deg)
					





//	=============================================================Component====
//	#Spin Reverse
//	==========================================================================

	if index(hamburger-types, spin-r)
		
		.hamburger--spin-r
			.hamburger__inner
				transition-duration: 0.3s
				transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:before
					transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in
					
				&:after
					transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
					
			&.hamburger--is-active
				.hamburger__inner
					transform: rotate(-225deg)
					transition-delay: 0.14s
					transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:before
						top: 0
						opacity: 0
						transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out
						
					&:after
						bottom: 0
						transform: rotate(-90deg)
						transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
					





//	=============================================================Component====
//	#Spin
//	==========================================================================

	if index(hamburger-types, spin)
		
		.hamburger--spin
			.hamburger__inner
				transition-duration: 0.3s
				transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:before
					transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in
					
				&:after
					transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
					
			&.hamburger--is-active
				.hamburger__inner
					transform: rotate(225deg)
					transition-delay: 0.14s
					transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:before
						top: 0
						opacity: 0
						transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out
						
					&:after
						bottom: 0
						transform: rotate(-90deg)
						transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
					





//	=============================================================Component====
//	#Spring Reverse
//	==========================================================================

	if index(hamburger-types, spring-r)
		
		.hamburger--spring-r
			.hamburger__inner
				top: auto
				bottom: 0
				transition-duration: 0.15s
				transition-delay: 0s
				transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:after
					top: ((hamburger-layer-spacing * 2 + hamburger-layer-height * 2) * -1)
					transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear
					
				&:before
					transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			
			&.hamburger--is-active
				.hamburger__inner
					
					transform: translate3d(0, (hamburger-layer-spacing + hamburger-layer-height) * -1, 0) rotate(-45deg)
					transition-delay: 0.32s
					transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:after
						top: 0
						opacity: 0
						transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.32s linear
						
					&:before
						top: 0
						transform: rotate(90deg)
						transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1)
					





//	=============================================================Component====
//	#Spring
//	==========================================================================

	if index(hamburger-types, spring)
		
		.hamburger--spring
			.hamburger__inner
				top: (hamburger-layer-height / 2)
				transition: background-color 0s 0.15s linear
				
				&:before
					top: (hamburger-layer-height + hamburger-layer-spacing)
					transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:after
					top: (hamburger-layer-height * 2 + hamburger-layer-spacing * 2)
					transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			
			&.hamburger--is-active
				.hamburger__inner
					transition-delay: 0.32s
					background-color: transparent
					
					&:before
						top: 0
						transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1)
						transform: translate3d(0, hamburger-layer-spacing + hamburger-layer-height, 0) rotate(45deg)
					
					&:after
						top: 0
						transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1)
						transform: translate3d(0, hamburger-layer-spacing + hamburger-layer-height, 0) rotate(-45deg)
						





//	=============================================================Component====
//	#Squeeze
//	==========================================================================

	if index(hamburger-types, squeeze)
		
		.hamburger--squeeze
			.hamburger__inner
				transition-duration: 0.1s
				transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:before
					transition: top 0.1s 0.14s ease, opacity 0.1s ease
				
				&:after
					transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			
			&.hamburger--is-active
				.hamburger__inner
					transform: rotate(45deg)
					transition-delay: 0.14s
					transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:before
						top: 0
						opacity: 0
						transition: top 0.1s ease, opacity 0.1s 0.14s ease
					
					&:after
						bottom: 0
						transform: rotate(-90deg)
						transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
					





//	=============================================================Component====
//	#Stand Reverse
//	==========================================================================

	if index(hamburger-types, stand-r)
		
		.hamburger--stand-r
			.hamburger__inner
				transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear
				
				&:before
					transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:after
					transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			
			&.hamburger--is-active
				.hamburger__inner
					transform: rotate(-90deg)
					background-color: transparent
					transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear
					
					&:before
						top: 0
						transform: rotate(-45deg)
						transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:after
						bottom: 0
						transform: rotate(45deg)
						transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
						





//	=============================================================Component====
//	#Stand
//	==========================================================================

	if index(hamburger-types, stand)
		
		.hamburger--stand
			.hamburger__inner
				transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear
				
				&:before
					transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19)
				
				&:after
					transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			
			&.hamburger--is-active
				.hamburger__inner
					transform: rotate(90deg)
					background-color: transparent
					transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear
					
					&:before
						top: 0
						transform: rotate(-45deg)
						transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
					
					&:after
						bottom: 0
						transform: rotate(45deg)
						transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
					





//	=============================================================Component====
//	#Vortex Reverse
//	==========================================================================

	if index(hamburger-types, vortex-r)
		
		.hamburger--vortex-r
			.hamburger__inner
				transition-duration: 0.3s
				transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
				
				&:before,
				&:after
					transition-duration: 0s
					transition-delay: 0.1s
					transition-timing-function: linear
				
				&:before
					transition-property: top, opacity
				
				&:after
					transition-property: bottom, transform
			
			&.hamburger--is-active
				.hamburger__inner
					transform: rotate(-765deg)
					transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
					
					&:before,
					&:after
						transition-delay: 0s
					
					&:before
						top: 0
						opacity: 0
					
					&:after
						bottom: 0
						transform: rotate(-90deg)
					





//	=============================================================Component====
//	#Vortex
//	==========================================================================

if index(hamburger-types, vortex)
	
	.hamburger--vortex
		.hamburger__inner
			transition-duration: 0.3s
			transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
			
			&:before,
			&:after
				transition-duration: 0s
				transition-delay: 0.1s
				transition-timing-function: linear
			
			&:before
				transition-property: top, opacity
			
			&:after
				transition-property: bottom, transform
		
		&.hamburger--is-active
			.hamburger__inner
				transform: rotate(765deg)
				transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
				
				&:before,
				&:after
					transition-delay: 0s
				
				&:before
					top: 0
					opacity: 0
				
				&:after
					bottom: 0
					transform: rotate(90deg)