/**
	==========================================================================
	#Estructura *
	========================================================================== 
	*
	***	CONTENTS ***
	*
	* COMPONENTS
	* 	General....................Estilos generales.
	*
	*/
 

	





/* 	==========================================================================
   	#GENERAL
   	========================================================================== */
	
	// Clases generales para todos los elementos
	*
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		box-sizing border-box
	
	// Fix Renderizado de textos
	body, html, input, textarea, select, option
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		
	// Estilos generales
	body
	html 
		width 100%
		position relative
	
	// Estilos concretos html
	html 
		overflow-x hidden
	
	// Estilos concretos body
	body
		overflow hidden
		padding-bottom: 0 !important // Bloquea el padding de la debbug bar
		background-color: whiteColor
		
	img
		max-width 100%
		
