	.owl-carousel
		display: none
		width: 100%
		-webkit-tap-highlight-color: transparent
		position: relative
		z-index: 1
		.owl-video-tn
			opacity: 0
			height: 100%
			background-position: center center
			background-repeat: no-repeat
			background-size: contain
			transition: opacity 400ms ease
		.owl-item
			position: relative
			min-height: 1px
			float: left
			-webkit-backface-visibility: hidden
			-webkit-tap-highlight-color: transparent
			-webkit-touch-callout: none
			img
				display: block
				width: 100%
				-webkit-transform-style: preserve-3d
				&.owl-lazy
					transform-style: preserve-3d
			.owl-lazy
				opacity: 0
				transition: opacity 400ms ease
		&.owl-rtl
			direction: rtl
			.owl-item
				float: right
		.owl-stage
			position: relative
			-ms-touch-action: pan-Y
			&:after
				content: "."
				display: block
				clear: both
				visibility: hidden
				line-height: 0
				height: 0
		&.owl-hidden
			opacity: 0
		.fadeOut
			animation-name: fadeOut
		.owl-video-play-icon
			position: absolute
			height: 80px
			width: 80px
			left: 50%
			top: 50%
			margin-left: -40px
			margin-top: -40px
			// background: url("owl.video.play.png") no-repeat
			cursor: pointer
			z-index: 1
			-webkit-backface-visibility: hidden
			transition: transform 100ms ease
			&:hover
				-ms-transform: scale(1.3, 1.3)
				transform: scale(1.3, 1.3)
		&.owl-grab
			cursor: move
			cursor: grab
		.owl-animated-out
			z-index: 1
		.owl-stage-outer
			position: relative
			overflow: hidden
			-webkit-transform: translate3d(0px, 0px, 0px)
		.owl-video-wrapper
			position: relative
			height: 100%
			background: #000
		&.owl-loaded
			display: block
		.animated
			animation-duration: 1000ms
			animation-fill-mode: both
		.owl-animated-in
			z-index: 0
		&.owl-refresh
			.owl-item
				display: none
		.owl-video-frame
			position: relative
			z-index: 1
			height: 100%
			width: 100%
		&.owl-loading
			opacity: 0
			display: block
		&.owl-drag
			.owl-item
				-webkit-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none

@keyframes fadeOut
	0% 
		opacity: 1

	100%
		opacity: 0

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled
	display: none

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon
	display: none

.no-js .owl-carousel
	display: block

	
.owl-height
	transition: height 500ms ease-in-out

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot
	cursor: pointer
	cursor: hand
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

