/*.first-social{
  padding-left: 0 !important;
}

.last-social{
  padding-right: 0 !important;
}*/


.or {
  display:flex;
  justify-content:center;
  align-items: center;
  color:grey;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: grey;
    width: 30%;
    height:1px;
    margin: 0 10px;
}

.social--buttons:after {
  content: '';
  display: block;
  clear: both;
}
.social--buttons a {
  display: inline-block;
  padding: .5em;
  float: left;
  color: white;
  font-size: 20pt;
  width: 100%;
  text-align: center;
  transition: opacity .2s ease-in-out;
  border-radius: 5px;
  border: none;
}
.social--buttons a:focus,
.social--buttons a:hover {
  text-decoration: none;
  color:white !important;
}
.social--buttons a span {
  margin-left: .5em;
  font-family: futura-pt,serif;
}

.facebook {
    background: #3b5998;
}
.google {
    background: #cb2027;
}
.linkedin {
    background: #007bb6;
}
