.article__category
	transition: color .3s ease

.article__link:hover .article__category
	color:      secondaryColor !important
	

.article__style
	h3
		margin-top: 64px
		margin-bottom: 30px
		border-bottom: solid 2px palette4
	
	blockquote
		color: mainColor
		font-size: rem(29)
		line-height: rem(48)
		padding: 4px 0
		margin: 56px 0
		font-style: italic
	
	img 
		display: block
		margin: 48px 0
		
	ul, ol
		margin: 16px 0
		padding: 0 0 0 48px
	
	li 
		margin: 0