.button--small
	font-size:     18px
	padding:       0px 80px
	
.button--form
	padding-top: 4px
	padding-bottom: 4px
	margin: 8px 0
	
.button--full
	width:         100%
	padding-left:  0
	padding-right: 0
	text-align:    center
	

@media screen and (max-width: maxMH)
		
	.button--mvl-full
		width:         100%
		padding-left:  0
		padding-right: 0
		text-align:    center


.button--loader
	pointer-events:   none
	background-color: darken(secondaryColor, 20%)

.button--secondary.button--loader
	background-color: mainColor
	color:            whiteColor
	

.button--loader:before
	content:            ''
	display:            inline-block
	size:               12px
	margin-right:       8px
	border:             3px solid #fff
	border-left-color:  rgba(255, 255, 255, 0)
	border-radius:      50%
	vertical-align:     unquote("baseline")
	animation:          rotation 1s infinite linear
	

	@keyframes rotation 
		to
			transform: rotate(359deg)






.custom-input--small
	padding-top: 6px
	padding-bottom: 6px
	margin: 4px 0

