.card
	size:        100% 256px
	
.card__asset path
	fill:        mainColor
	transition:  fill .3s ease
	
.card--link:hover .card__asset path
	fill:        whiteColor
	

.card__title
	color:       palette1
	transition:  color .3s ease
	
.card--link:hover .card__title
	color:       whiteColor