
.cc_container a, 
.cc_container a:visited 
	color mainColor









.cc_banner-wrapper 
	z-index 9001
	position relative

.cc_container .cc_btn 
	cursor pointer
	text-align center
	font-size 0.6em
	transition font-size 200ms
	line-height 1em

.cc_container .cc_message 
	font-size 0.6em
	transition font-size 200ms
	margin 0
	padding 0
	line-height 1.5em

.cc_container .cc_logo 
	display none



@media print 
	.cc_banner-wrapper, 
	.cc_container 
		display none


	
.cc_container 
	position fixed
	left 0
	right 0
	bottom 0
	overflow hidden
	padding 10px

.cc_container .cc_btn 
	padding 8px 10px
	background-color #f1d600
	cursor pointer
	transition font-size 200ms
	text-align center
	font-size 0.6em
	display block
	width 33%
	margin-left 10px
	float right
	max-width 120px

.cc_container .cc_message 
	transition font-size 200ms
	font-size 0.6em
	display inline-block
	margin 0
	color palette1

@media screen and (min-width 500px)
	.cc_container .cc_btn 
	.cc_container .cc_message 
		font-size 12px


@media screen and (min-width 768px) 
	.cc_container
		padding 8px 30px

	.cc_container .cc_btn 
		font-size 14px
		padding 8px 15px

	.cc_container .cc_message 
		font-size 14px
	

.cc_container 
	background palette4
	color #fff
	font-size 17px
	font-family "Helvetica Neue Light",  "HelveticaNeue-Light",  "Helvetica Neue",  Calibri,  Helvetica,  Arial
	box-sizing border-box

.cc_container ::-moz-selection 
	background #ff5e99
	color #fff
	text-shadow none

.cc_container .cc_btn, 
.cc_container .cc_btn:visited 
	transition background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out
	margin 0
	background-color mainColor
	color whiteColor
	font-weight wBold
	border-radius 3px

.cc_container .cc_btn:hover, 
.cc_container .cc_btn:active 
	background-color secondaryColor
	color whiteColor

.cc_container a, 
.cc_container a:visited 
	text-decoration none
	color mainColor
	transition 200ms color

.cc_container a:hover,
.cc_container a:active 
	color secondaryColor


keyframes slideUp 
	0% 
		transform translateY(66px)
	100% 
		transform translateY(0)

	
.cc_container, 
.cc_message, 
.cc_btn 
	animation-duration 0.8s
	animation-name slideUp

