/**
	==========================================================================
	#HEADER
	========================================================================== 
	*
	* CONTENTS
	*
	* COMPONENTS
	* 	Main header............Styles for the principal header.
	* 	Burger menu............Styles for the burger menu button.
	* 
	*/








//	==========================================================================
//	#MAIN HEADER
//	==========================================================================

	body
		min-height: 180vh
		
	@media screen and (min-width: minTV)
		body
			min-height: 100vh
	
	.main-header
		min-height:     64px
	
	.main-header__isotipe
		height:         40px
		margin:         12px 0
		



	@media screen and (min-width: minTH)
		.main-menu__item--fixed
			width: 200px
			border-left: 1px solid rgba(33, 33, 33, 0.3)

	
	.main-menu__drop-link
		position: relative
		z-index:  99
	.main-menu__dropdown
		position: absolute
		top: 0 //80px
		padding-top: 80px
		// background: whiteColor
		width: 200px
		z-index: 98
		// border: solid 1px palette3
		// border-radius: 5px
		
		opacity: 0
		transform: translateY(-30px)
		pointer-events: none
		transition: all .3s ease
		
		
	@media screen and (min-width: minTH)
			
		.main-menu__dropdown--is-open
			opacity: 1
			transform: translateY(0px)
			pointer-events: auto
			

	.dropdown__container
		position: relative
		background: whiteColor
		width: 100%
		border: solid 1px palette3
		border-radius: 5px
		

	.dropdown__container:after 
	.dropdown__container:before
		bottom: 100%
		left: 50%
		border: solid transparent
		content: " "
		height: 0
		width: 0
		position: absolute
		pointer-events: none
		
	.dropdown__container:after
		border-color: rgba(255, 255, 255, 0)
		border-bottom-color: #ffffff
		border-width: 10px
		margin-left: -10px
		
	.dropdown__container:before
		border-color: rgba(194, 225, 245, 0)
		border-bottom-color: palette3
		border-width: 11px
		margin-left: -11px




	.select__triangle	
		display: inline-block
		size: 0
		margin-bottom: 1px
		border-style: solid
		border-width: 8px 6px 0 6px
		border-color: #212121 transparent transparent transparent





	.hamburger-parent
		display: block
		position: absolute
		right: 10px
		
	@media screen and (min-width: 1102px)
		.hamburger-parent
			display: none
			
		
	.lang-container
		display: none
		width: 70px
		margin-left: -10px
		
	.lang-mobile
		display: inline-block
			
	@media screen and (min-width: minTH)
		.lang-mobile
			display: none
		
		.lang-container
			display: block


	@media screen and (max-width: 1102px)
		.main-menu
			absolute:          top 64px left
			z-index:           99
			width:             100%
			background-color:  whiteColor
			text-align:        center
			opacity:           0
			pointer-events:    none
			border-bottom:     2px solid palette4
			transicion(tNormal)
		
		.main-menu--is-open
			opacity:           1
			pointer-events:    auto
			




	@media screen and (max-width: minTH)
		.drop-menu
			position: absolute
			background: #f3f3f3
			z-index: 10
			width: calc('100% - 20px', 90%)
			padding: 0 24px 16px
			border-bottom: 2px solid #dcdcdc
			
			opacity: 0
			transform: translateY(-30px)
			pointer-events: none
			
			transition: all .3s ease
			
		.drop-menu--is-open
			opacity: 1
			transform: translateY(0)
			pointer-events: auto