/**
	==========================================================================
	#HELPERS
	========================================================================== 
	*
	* CONTENTS
	*
	* COMPONENTS
	* 	Heights................Styles for defining heights.
	* 	Separators.............Separator lines.
	* 	Lists..................Lists complements.
	* 
	*/








//	==========================================================================
//	#HEIGHTs
//	==========================================================================

	.fh 
		height:         100%
	
	.full-screen
		size:           100% 100vh
		
	

	.no-list
		list-style:      none
	
	.pmv-0
		padding-top:     0
		padding-bottom:  0
		margin-top:      0
		margin-bottom:   0
		
	.text-underline
		text-decoration: underline
	
	.nowrap
		white-space: nowrap
	
	.pb-2
		padding-bottom:  2px
		


	.tachado
		color: palette2
		text-decoration: line-through
	
	.text__icon
		width: calc('100% - 20px', 86%)
	
	.text__icon--big
		width: calc('100% - 32px', 84%)
		
	.icon--circle
		display: block
		size: 16px
		margin-top: 10px
		background-color: mainColor
		border-radius: 50%


	.w-full
		width: 100%

	.clear-both
		clear: both



	.separator--horizontal
		size: 100% 2px
		margin-bottom: 6px
		background-color: palette4
		
	.separator-dashed--horizontal
		size: 100% 0
		padding-top: 6px
		border-bottom: dashed 2px palette3
		
	.separator--horizontal-inverted
		size: 100% 2px
		margin-top: 6px
		background-color: palette4
	
	@media screen and (min-width: minTV)
		.border--right
			border-right: 2px solid palette4




	// Forms
	
	.custom-input[type="password"]
		font-family: arial
		letter-spacing: 4px 
		
		+placeholder()
			letter-spacing: 0
			
	


	// corners
	.corner--top-right
		absolute:   top 16px right 16px
		z-index:    9


	// font sizes
	.fs-18 {
		font-size: 18px
	}

	// Corporate
		
	.max-height
		max-height: 100%
		

	@media screen and (min-width minTV)
		.center-img
			max-width: 50%
			top: 50%
			transform: translateY(-50%)


	
	@media screen and (min-width minTH)
		.bg--home
			background-image: url('/assets/img/fotos-cabecera.jpg')
			background-size: 50%
			
	@media screen and (min-width minLAP)
		.bg--home
			background-size: contain
			

	@media screen and (min-width minTV) and (max-width maxTV)
		.home__rentables > div:last-child
			display: none
			
	flex-version = flex
			
	.flex
		display: flex
		
	.flex-content-end
		justify-content: end

	.flex-content-between
		justify-content: space-between

	.flex-items-center
		align-items: center

	.flex-wrap
		flex-wrap: wrap

	.items-center
		align-items: center

	.flex-1
		flex: 1

	.gap-1
		gap: .5rem

	.gap-2
		gap: 1rem

	.gap-3
		gap: 1.5rem

	.tooltip
		display: block !important
		z-index: 10000

		.tooltip-inner
			background: black
			color: white
			border-radius: 16px
			padding: 5px 10px 4px
  
		.tooltip-arrow
			width: 0
			height: 0
			border-style: solid
			position: absolute
			margin: 5px
			border-color: black
			z-index: 1

		&[x-placement^="top"]
			margin-bottom: 5px
			
			.tooltip-arrow
				border-width: 5px 5px 0 5px
				border-left-color: transparent !important
				border-right-color: transparent !important
				border-bottom-color: transparent !important
				bottom: -5px
				left: calc(50% - 5px)
				margin-top: 0
				margin-bottom: 0
				
		&[x-placement^="bottom"]
			margin-top: 5px
    
			.tooltip-arrow
				border-width: 0 5px 5px 5px
				border-left-color: transparent !important
				border-right-color: transparent !important
				border-top-color: transparent !important
				top: -5px
				left: calc(50% - 5px)
				margin-top: 0
				margin-bottom: 0
  
		&[x-placement^="right"]
			margin-left: 5px
			
			.tooltip-arrow
				border-width: 5px 5px 5px 0
				border-left-color: transparent !important
				border-top-color: transparent !important
				border-bottom-color: transparent !important
				left: -5px
				top: calc(50% - 5px)
				margin-left: 0
				margin-right: 0

		&[x-placement^="left"]
			margin-right: 5px
			
			.tooltip-arrow
				border-width: 5px 0 5px 5px
				border-top-color: transparent !important
				border-right-color: transparent !important
				border-bottom-color: transparent !important
				right: -5px
				top: calc(50% - 5px)
				margin-left: 0
				margin-right: 0
				
		&.popover
    
			.popover-inner
				background: #f9f9f9
				color: #000
				padding: 24px
				border-radius: 5px
				-webkit-box-shadow: 0 5px 30px rgba(0,0,0,.1)
				box-shadow: 0 5px 30px rgba(0,0,0,.1)
				
			.popover-arrow
				border-color: #f9f9f9
  

		&[aria-hidden='true']
			visibility: hidden
			opacity: 0
			transition: opacity .15s, visibility .15s
			
		&[aria-hidden='false']
			visibility: visible
			opacity: 1
			transition: opacity .15s

	.bg-info
		background-color: mainColor
		color:            whiteColor
		padding:		  20px 40px
