	// Color overlay
		
	.overlay:before
		content:           ''
		absolute:          top left
		size:              100%
	
	.overlay--vertical:before
		background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) )
			
	@media screen and (min-width: minTV)
		.overlay--gradient:before
			background-image:  linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7))
	
	.overlay--black:before
		background-color:  rgba(palette1, .9)
	
	.overlay--gray:before
		background-color:  rgba(blackColor, .6)
		




	// Hover svg

	a path
		transition:        fill .3s ease
	
	// a:not(.card):hover path
	a:not(.exclude-svg):hover path
		fill:              secondaryColor
	
	.ch-w:not(.card):hover path
		fill:              whiteColor
		

	
	// background opacity
		
	.bg-w-95
		background-color: rgba(whiteColor, .95)