.container 
	background-color: whiteColor
	
body
	header
	footer
	.container
		opacity:        0
		pointer-events: none 
		transition:     opacity .5s ease

.body--loaded
	header
	footer
	.container
		opacity:        1
		pointer-events: auto 
		
.body--leave
	header
	footer
	.container
	.modal
		opacity:        0
		pointer-events: none 
		transition:     opacity .3s ease





@keyframes sk-rotate
	100% 
		transform: rotate(360deg)

@keyframes sk-bounce
	0%, 100% 
		transform: scale(0.0)
	50%
		transform: scale(1.0)

	

.loader
	z-index: -10 !important
	pointer-events: none
.body--loaded .loader.modal
	opacity: 0

.body--leave .loader.modal
	opacity: 0
	transition : none
.spinner
	margin 100px auto
	width 40px
	height 40px
	position relative
	text-align center
	animation sk-rotate 2.0s infinite linear

.dot1, .dot2
	width 60%
	height 60%
	display inline-block
	position absolute
	top 0
	background-color mainColor
	border-radius 100%
	animation sk-bounce 2.0s infinite ease-in-out

.dot2
	top auto
	bottom 0
	background-color secondaryColor
	animation-delay -1.0s
	






.sk-folding-cube
	margin: 40px auto
	width: 40px
	height: 40px
	position: relative
	transform: rotateZ(45deg)

.sk-folding-cube .sk-cube
	float: left
	width: 50%
	height: 50%
	position: relative
	transform: scale(1.1)

.sk-folding-cube .sk-cube:before
	content: ''
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: secondaryColor
	animation: sk-foldCubeAngle 2.4s infinite linear both
	transform-origin: 100% 100%



.sk-folding-cube .sk-cube2
	transform: scale(1.1) rotateZ(90deg)
.sk-folding-cube .sk-cube3
	transform: scale(1.1) rotateZ(180deg)
.sk-folding-cube .sk-cube4
	transform: scale(1.1) rotateZ(270deg)

.sk-folding-cube .sk-cube2:before
	animation-delay: 0.3s
.sk-folding-cube .sk-cube3:before
	animation-delay: 0.6s
.sk-folding-cube .sk-cube4:before
	animation-delay: 0.9s




@keyframes sk-foldCubeAngle
	0%, 10%
		transform: perspective(140px) rotateX(-180deg)
		opacity: 0
	25%, 75%
		transform: perspective(140px) rotateX(0deg)
		opacity: 1
	90%, 100%
		transform: perspective(140px) rotateY(180deg)
		opacity: 0

.loading-absolute
	z-index: 1
	position: absolute
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	background: #ffffff61
	margin: auto
	right: 0
	bottom: 0
	display: flex
	align-items: center
	justify-content: center
