/**
	==========================================================================
	#MODAL
	========================================================================== 
	*
	* CONTENTS
	*
	* COMPONENTS
	* 	General................Styles for the modal.
	* 	Body marker............Body extension.
	* 
	*/








//	==========================================================================
//	#GENERAL
//	==========================================================================


	.modal
		opacity: 0
		z-index: -10
		pointer-events: none
		transicion(.5s)

	.modal--full-page
		fixed: top left
		size: 100vw 100vh
		padding:48px 24px
		
		background: rgba(palette1, 0.98)
		
	@media screen and (min-width: minTH)
		
		.modal--full-page
			padding:48px 120px 60px
	

	.modal--popup
		fixed: top left
		size: 100vw 100vh
		// padding:48px 120px 60px
		
		background: rgba(palette1, 0.98)
	
	.modal--scroll
		overflow-y: scroll 
		overflow-x: hidden 
		
		
	.modal.modal--is-open
		z-index: 9999
		opacity: 1
		pointer-events: auto


	.modal__close
		absolute:  top 32px right 32px
		z-index: 99
	
	.modal__close svg
		width: 16px
	
	.modal__close path
		fill:     mainColor




	.modal__container
		position: relative
		height: 100%
		


		
		
	.modal__content
		height: calc("calc(100% - 50px)", 95%)	
		.slide
		.owl-stage-outer
		.owl-stage
		.owl-item
		.slide__item
			height: 100%
		
		img
			absolute: top 50% left 50%
			display: inline-block
			width: auto !important
			max-width: 100%
			max-height: 100%
			transform: translate(-50%, -50%)
		
				

	@media screen and (min-width: minTV)
		.modal__content
			height: calc("calc(100% - 108px)", 90%)	





	.modal__back
		position: absolute
		left: 0
		width: 100%
		height: 100%
		overflow: hidden
		
		pointer-events: none

	.modal__input
		width: 75% 
		height: 88px
		padding: 16px
		margin-right: 8px
		border-radius: 3px
		border: solid 2px palette4
	
	.modal__input--full
		width: calc('100% - 42px', 85%)


	@media screen and (max-width: maxMH)
		.modal__popup
			size: 100vw 100vh
			overflow-y: scroll
		


	.slide__foto
		size:   100% 60%
	.slide__text
		size:   100% 40%
		
	@media screen and (min-width: minTV)
		.slide__foto
			height:   70%
		.slide__text
			height:   30%
			
	@media screen and (min-width: minTH)
		.slide__foto
			height:   75%
		.slide__text
			height:   25%



	.slide__arrow
		absolute: top 50%
		z-index: 2
		padding: 20px
		transform: translateY(-50%)
		cursorPointer()
		
	.slide__arrow--left
		left: 0
	
	.slide__arrow--right
		right: 0
			
	@media screen and (min-width: minTH)
		.slide__arrow--left
			left: 20px
		
		.slide__arrow--right
			right: 20px
			

		.slide__table
			height: 380px
		
	
	@media screen and (max-width: maxMH)

		.slide__arrow--custom
			top: 260px


	
	.owl-dots
		width: 100%
		text-align: center

	.owl-dot
		width: 14px
		height: 14px
		background-color: #E3E3E3
		display: inline-block
		border-radius: 50%
		margin: 0 12px
		transition: .3s all ease
		
		span
			width: 100%
			height: 100%
			display: block
			background-color: mainColor
			border-radius: 50%
			opacity: 0
			transition: .3s ease all
		
		&.active
			
			span
				opacity: 1
				

	.slide--ambientes .owl-dots
		position: absolute
		bottom: 38% //16px
	
	.slide--ambientes .owl-dot
		background-color: palette3
		

	@media screen and (min-width: minTV)
		.slide--ambientes .owl-dots
			bottom: 32% 
			
	@media screen and (min-width: minTH)
		.slide--ambientes .owl-dots
			bottom: 27% 


	.g-recaptcha > div
		display: inline-block
		

	.has-error:not(.checkbox__wrapper)
		border-color:        colorError
		background-image:    url('/assets/img/form-error.svg')
		background-repeat:   no-repeat
		background-position: 96% 50%
		padding-right:       32px
	
	.has-error + span > div 
		color: colorError
		margin-bottom: 8px
		
	.has-error.custom-file__input + span > div 
		display: block
		margin-top: 56px
		text-align: left
		font-family: 'futura-pt', serif
		
	.has-error.modal__input
		margin-bottom: 50px
	
	.has-error.modal__input + span 
		position: absolute
		    bottom: 0
		    width: 100%
		    left: 12px
	
	.has-success:not(.checkbox__wrapper)
		background-image:    url('/assets/img/form-success.svg')
		background-repeat:   no-repeat
		background-position: 96% 50%
		padding-right:       32px
		

	.checkbox__wrapper.has-error .custom-checkbox__new
		border-color: colorError


	

	@media screen and (max-width: maxMH)
		
		.custom-file__label
			height: 116px
		
		.custom-file__label:before,
		.custom-file__label:after
				width: 100%
				height: 52px
				
		.custom-file__label:after
			margin-top: 64px
			
		.has-error.custom-file__input + span > div
			margin-top: 118px