barHeight = 16px


.property__foto
	min-height: 240px

.property__map 
	height: (616px/2)
	

// .related__image

@media screen and (min-width: minTH)
	.property__map 
		height: 616px
	

.bar
	size:              100% barHeight
	border-radius:     (barHeight/2)
	background-color:  palette5

.bar__status
	// width:          73%
	height:            100%
	border-radius:     (barHeight/2)
	background-color:  mainColor
	


.line
	padding-left: 8px
	display: block
	width: 100%
	height: 1px
	border-bottom: dashed 1px #979797



.gallery__button
	absolute:           bottom 16px right 24px
	

@media screen and (min-width: minTV)
	.gallery__button
		absolute:           bottom 40px left 32px
	



.share__circle
	display:            inline-block
	size:               64px
	line-height:        64px
	border-radius:      50%
	text-align:         center
	border:             solid 2px palette4
	

.share__circle--small
	size:               60px
	line-height:        60px

.share__circle--dark
	border-color:       palette5

.info__explanation
	absolute:          top left
	z-index:           99
	size:              100%
	overflow:          hidden
	opacity:           0
	pointer-events:    none
	transition:        opacity .3s ease

.info__explanation--is-open
	opacity:           1
	pointer-events:    auto
	

.info__close
	absolute:          top 20px right 20px
	size:              16px





.property__info
	border: 1px solid #bcbcbc
	border-top: none
	border-radius: 0 0 5px 5px
	
.property__picture
	height: 272px
	border-radius: 5px 5px 0 0

.property__title
	absolute: bottom
	

.property__status
	absolute: top left
	width:    100%
	border-radius: 5px 5px 0 0
	background-color: rgba(palette1, .6)
	
.property__status--comprando
	background-color: rgba(mainColor, .8)



.property.button__hover
	transition: 0s
