.step__index
	width: 24px
	height: 24px
	display: inline-block
	border: 1px solid whiteColor
	line-height: 22px
	text-align: center
	border-radius: 50%
	font-size: 16px
	color: whiteColor
	overflow: hidden


.step__item--has-succeed .step__index
	text-indent: 30px
	background-color: whiteColor
	background-image: url(/assets/img/step-check.svg)
	background-position: center
	background-repeat: no-repeat
	
.step__item--has-succeed .step__text
	text-decoration: line-through
	
.step__item--has-succeed + .step__item:not(.step__item--has-succeed) .step__text
.step__item--has-succeed + .step__item:not(.step__item--has-succeed) .step__index
	font-weight: wBold




.step__index--big
	size: 88px
	line-height: 84px
	border-radius: 50%
	border: solid 2px palette5
	color: mainColor
	padding: 0


@media screen and (min-width: minTV)
	.step__text--big
		width: calc('100% - 120px', 75%)