.custom-table
	width: 100%
	border-collapse: collapse

.custom-table tr:nth-child(even)
	background-color:   palette4
	
.custom-table th 
	padding: 18px 16px
	

.custom-table td 
	padding: 22px 16px

.custom-table .h4
	padding: 26px 16px

@media screen and (min-width: maxTV)
	.custom-table td 
		padding: 22px 32px
	
	.custom-table .h4 
		padding: 26px 32px
	
	.custom-table th 
		padding: 18px 32px

.custom-table td:first-child
	width: 75% 
	




.custom-table--parcial tr:last-child
	border: solid 2px mainColor
	background-color: whiteColor 





.custom-table td:last-child
	white-space: nowrap
	
@media screen and (max-width: maxMH)
	.custom-table td:not(.h4)
		font-size: 0.727rem
		line-height: 1.091rem



@media screen and (max-width: maxMH)

	.custom-table__wrapper
	.custom-table__col 
		padding-left: 0
		padding-right: 0
	
	.table__scroll
		overflow-x: scroll
	
	.table__scroll table
		min-width: 500px



