.tab-selector
	cursorPointer()


.tab-selector
	position: absolute
	top: 80px
	background: palette4
	border-bottom: solid 2px palette3
	z-index: 9
	opacity: 0
	pointer-events: none
	transition: opacity .3s ease
	height: 80px
	display: table

.tab-selector--is-open .tab-selector
	opacity: 1
	pointer-events: auto

.tab-selector__active:after
	content: " "
	absolute: top 45% right 32px
	size: 0
	border: solid transparent
	pointer-events: none
	border-color: rgba(whiteColor, 0)
	border-top-color: whiteColor
	border-width: 8px
	margin-right: -12px

	
@media screen and (max-width maxTV)

	.tab-selector:nth-child(2)
		top: 80px*2

	.tab-selector:nth-child(3)
		top: 80px*3
		
	.tab-selector:nth-child(4)
		top: 80px*4
	
	.tab-selector:nth-child(5)
		top: 80px*5


		
.tab-selector__title
	// line-height:      80px
	vertical-align:   middle
	display:          table-cell
	z-index:          1
	color:            palette2
	transition:       color .3s ease






.tab-selector__active
	background-color: mainColor
	size:             100% 82px
	transition:       left .3s ease
	display:          table
	





@media screen and (min-width: minTH)
	.tabs-selector
		border-top:       solid 2px palette4
		border-bottom:    solid 2px palette4
		
	.tab-selector
		position:         static
		top:              auto
		background-color: transparent
		border-bottom:    none
		border-right:     solid 2px palette4
		z-index:          1
		opacity: 1
		pointer-events: auto

	.tab-selector:first-child
		border-left:     solid 2px palette4

	.tab-selector__active
		background-color: mainColor
		absolute          top left
		size:             20% 82px
		transition:       left .3s ease
	
	.tab-selector--is-active .tab-selector__title
		color:            whiteColor	
	
	.tab-selector--is-active:nth-child(2) ~ .tab-selector__active
		left:20%
	.tab-selector--is-active:nth-child(3) ~ .tab-selector__active
		left:40%
	.tab-selector--is-active:nth-child(4) ~ .tab-selector__active
		left:60%
	.tab-selector--is-active:nth-child(5) ~ .tab-selector__active
		left:80%
		
	.tab-selector__active:after
		top: 100%
		right: 50%
		border-color: rgba(mainColor, 0)
		border-top-color: mainColor
		border-width: 12px

	
	.l-fifth
		width: (100%/5)


.tabs-selector__item
	display: none
	
.tabs-selector__item--is-active
	display: block