pt-rem-base = body['font-size']

pt-rem( values )
    base = pt-rem-base is a "unit" ? pt-rem-base : 16
    result = null
    for value in values
      	if type( value ) == "unit" && ( unit( value ) == "px" || unit( value ) == "" )
        		value = unit( round( value / base, 3 ), "rem" )
        		if value == "0rem" { value = 0 }
        result = result != null ? result value : value
    result

rem = pt-rem unless pt-no-conflict is defined























