

responsive(class, conditions = false)
	for elem in gridElem
		if elem == "MV"
			if class
				{class}
					{block}
			else
				for item in conditions
					lengthItem = length(item) - 1
					{item[0]}
						for n in range(1, lengthItem, 2)
							{item[n]}: unquote(item[n+1])
		else if lookup('grid' + elem)
			@media screen and (min-width lookup('min' + elem))
				if class
					{class}-{lookup('class' + elem)}
						{block}
				else
					for item in conditions
						lengthItem = length(item) - 1
						{item[0]}-{lookup('class' + elem)}
							for n in range(1, lengthItem, 2)
								{item[n]}: unquote(item[n+1])