pt-tres( a, b, unidad = 100, redondeo = 3 )
    result = null
    unit( a, '' )
    unit( b, '' )
    unit( unidad, '' )
    value = round( a / b * unidad, redondeo )
    result = result != null ? result value : value
    result

tres = pt-tres unless pt-no-conflict is defined