// calc()

// Add vendor-prefix for the css3 calc() function.

// Signature

// calc( expr [, fallback ] )

// expr: expression for calc. Must be quoted.
// fallback: a fallback value for unsupported browsers. Optional.



_pt-calc-processing( current-property, operation, fallback )
	prop = current-property[ 0 ]
	if fallback
		add-property( prop, fallback )
	// for prefix in caniuse-prefixes( "calc" )
	// 	add-property( prop, unquote( "-" + prefix + "-calc(" + operation + ")" ) )
	unquote( "calc(" + operation + ")" )

pt-calc( operation, fallback = false )
	if current-property
		_pt-calc-processing( current-property, operation, fallback )
	else
		error( "pt-calc() must be used within a property" )

unless pt-no-conflict is defined
	calc( operation, fallback = false )
		if current-property
			_pt-calc-processing( current-property, operation, fallback )
		else
			error( "calc() must be used within a property" )
			




