
//Degradado
degradado(color1 = #06304c, color2 = #fff, beg = 15%, fin = 100%, percent = 0.7, dHeight = 100% )
	&:before
		content ""
		position absolute
		width 100%
		height dHeight
		top 0
		left 0
		background linear-gradient(to bottom, rgba(color2, 0) beg,rgba(color1, percent) fin)
		